<template>
  <v-card class="widget-booking-cta">
    <v-card-title>Book a session</v-card-title>
    <v-card-text>
      Got a project idea?
      Come and test it out with me.<br />
      Book your first design session.

    </v-card-text>

    <v-card-actions class="justify-center">
      <v-btn color="primary" to="/book-a-session"> Book now</v-btn>
    </v-card-actions>
  </v-card>
</template>
