<template>
  <v-card class="widget-categories">
    <v-card-title v-if="title">
      <v-icon alt="Categories list" title="categories" class="mr-2">mdi-category-multiple-outline</v-icon> {{ title }}
    </v-card-title>

    <v-card-text>
      <ul class="pb-4" style="list-style: none;">
        <li
          v-for="(category, index) in categories"
          :key="index"
          class="ml-1"
        >
        <nuxt-link
          :to="`${link}/${category.slug}`"
          class="ml-1 text-decoration-none"
        >
          {{ category.name }}
        </nuxt-link>
      </li>
      </ul>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Categories"
    },

    link: {
      type: String,
      required: true,
    },
  },

  data () {
    return {
      categories: [],
    }
  },

  async fetch () {
    try{
      let items = await this.$axios.$get(`api/categories-list/`)
      this.categories = items
    } catch (error){
      console.log('error %o', error)
    }

  },
}
</script>
