<template>
  <v-container class="widget-email-subscribe">
    <v-row justify="center">
      <PagCorneredContainer class="mt-8 mb-8">
        <div class="px-12 pt-4">
      <v-col cols="12"><h3 class="text-h3 text-center">Are you ready to start designing your own home?</h3></v-col>
      <v-col v-if="!subscribed"
        cols="12"
        sm="12"
        md="12"
        class="text-body-1 text-center"
        >
        Get started for free with my 6-day email course and newsletter. <br />
        <span class="text-h4">Learn how to best <strong>place your home</strong> and take advantage of the land.</span>
    <div class="pt-4">

    </div>


    <div class="d-flex mt-4">
      <EmailSubscribe class="mx-auto"/>
    </div>

    </v-col>

    <!-- <v-col cols="12" sm="12" md="6">
      <div class="d-flex justify-center align-center">
        <v-img src="https://ik.imagekit.io/noohwpj86wi/assets-fp/courseanim-bg-offwhite.gif" max-width="300px" contain/>
    </div>
    </v-col> -->
  </div>
  </PagCorneredContainer>
  </v-row>
</v-container>
</template>

<script>

export default {
  data () {
    return {
      subscribed: false,
    }
  },

}
</script>
