<template>
  <div>
  <EmailSubscribe 
  class="mx-auto"
  />
</div>
</template>

<script>

import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
import { parseErrorObj } from 'shared/utils'

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  data () {
    return {
      email: '',
      mailList: '6-day-course',
      subscribed: false,
      errorMsg: null,
      loading: false,
    }
  },

  methods: {
    async onSubmit () {
      this.errorMsg = null
      this.loading = true
      try {
        const { email, mailList } = this
        const result = await this.$axios.$post(
          `api/mail-subscribe`,
          { email, mailList}
        )
        console.log('result %o', result)
        this.subscribed = true
      } catch (error) {
        let ms = parseErrorObj(error)
        if(ms) this.errorMsg = ms.message
      } finally {
        this.loading = false
      }
    },
  }

}
</script>
