<template>
  <v-card class="widget-newsletter-subscribe">
    <v-card-title>
      Newsletter
    </v-card-title>
    <v-card-text class="px-12">
      <EmailSubscribe />
</v-card-text>
</v-card>
</template>

<script>

import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
import { parseErrorObj } from 'shared/utils'

export default {

  components: {
    ValidationObserver,
    ValidationProvider,
  },

  data () {
    return {
      email: '',
      mailList: 'newsletter',
      subscribed: false,
      errorMsg: null,
      loading: false,
    }
  },

  methods: {
    async onSubmit () {
      this.errorMsg = null
      this.loading = true
      try {
        const { email, mailList } = this
        const result = await this.$axios.$post(
          `api/mail-subscribe`,
          { email, mailList}
        )
        console.log('result %o', result)
        this.subscribed = true
      } catch (error) {
        let ms = parseErrorObj(error)
        if(ms) this.errorMsg = ms.message
      } finally {
        this.loading = false
      }
    },
  }

}
</script>
