<template>
  <v-card class="widget-tags-cloud">
    <v-card-title v-if="title">
      <v-icon alt="tags list" title="tags" class="mr-2">mdi-tag-multiple-outline</v-icon> {{ title }}
    </v-card-title>

    <v-card-text>
      <ul class="pb-4" style="list-style: none;">
        <li
          v-for="(tag, index) in tags"
          :key="index"
          class="ml-1"
        >
          <nuxt-link
            :to="`${link}/${tag.slug}`"
            class="ml-1 text-decoration-none "
          >
            {{ tag.name }}
          </nuxt-link>
        </li>
      </ul>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Tags"
    },

    link: {
      type: String,
      required: true,
    },
  },

  data () {
    return {
      tags: [],
    }
  },

  async fetch () {
    try{
      const items = await this.$axios.$get(`api/tags-list`)
      this.tags = items
    } catch (error){
      console.log('error %o', error)
    }
  }
}
</script>
