<template>
  <v-card class="widget-tribe-link">
    <v-card-title v-if="title" class="sidebar-card-title">
      <v-icon alt="Community" title="categories" class="mr-2">mdi-account-group-outline</v-icon> {{ title }}
    </v-card-title>

    <v-card-text>
      Join the tribe at <a href="https://Kilohertz.mn.co" target="_blank">Kilohertz.mn.co</a>. <br />Its people like us, doing this together.
    </v-card-text>

  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "Community"
    },
  },

}
</script>
