<template>
  <v-card class="widget-tumblr-link">
    <v-card-title>Social</v-card-title>
    
    <v-card-text>
      Want more Kilohertz inspiration? <br />
      Visit my <a href="https://Kilohertz.tumblr.com/" target="_blank">Tumblr</a> and <a href="https://www.pinterest.fr/joannapetroni/Kilohertz/" target="_blank">Pinterest</a>
    </v-card-text>
  </v-card>
</template>
