<template>
  <div class="page">
  <v-container v-if="$auth.user">
    <v-row>
      <v-col>
        <h1 class="text-h1 page-title">My account</h1>
     </v-col>
    </v-row>

    <v-row>
    <v-tabs v-model="tab">
        <v-tab
          v-for="t in tabs"
          :key="t.slug"
          :href="`#${t.slug}`"
        >
          {{ t.title }}
        </v-tab>

        <v-tab-item
          value="profile"
          class="pa-8"
        >

        <MyAccountProfile
          :item="$auth.user"
        />

        </v-tab-item>

        <v-tab-item
          value="billing"
          class="pa-8"
        >
        <AddressRlEditor
          :userId="$auth.user._id"
          addressType="billing"
          v-slot="{userId, item, formState, crudEvents, error, loading}"
          @item-added="onAddressUpdate"
          @item-updated="onAddressUpdate"
        >
          <AddressBillingForm
            :item="item"
            :loading="loading"
            :error="error"
            :formState="formState"
            :disableFormBtn="loading"
            v-on="crudEvents"
          />
        </AddressRlEditor>
        </v-tab-item>

        <v-tab-item
          value="orders"
          class="pa-8"
        >
          <OrderListLoader
            :userId="$auth.user._id"
          >
          </OrderListLoader>
        </v-tab-item>
    </v-tabs>
  </v-row>
    <SnackBar
    v-model="snackUpdateAddress"
    text="Address Updated"
    />
  </v-container>
  </div>
</template>

<script>

export default {
  middleware: ['auth'],

  data () {
    return {
      tabs: [
        {slug: 'profile', title: 'My Profile'},
        {slug: 'billing', title: 'Billing Address'},
        {slug: 'orders', title: 'Orders'},
      ],

      snackUpdateAddress: false,
    }
  },

  asyncData ({query}) {
    const { tab = 'profile'} = query
    return {
      tab,
    }
  },

  computed: {

  },

  methods: {
    onShowOrder (val) {
      this.$router.push({path:`/order/${val}`})
    },

    onAddressUpdate () {
      this.snackUpdateAddress = true
    },

    loadMyBookings (params) {
      return this.$axios.$get(`api/my-bookings`, params)
    },

    loadMyDownloads (params) {
      return this.$axios.$get(`api/my-downloads`, params)
    },
  }
}
</script>
