<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        :deleteMsg="deleteVFFeatureMsg"
      />
      </v-toolbar>
        <v-card-text>

            <VariableFeatureForm
            :item="editedItem"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />

        <FormTimestamp
          v-if="isEditForm"
          :createdAt="editedItem.createdAt"
          :updatedAt="editedItem.updatedAt"
          class="mt-8"
        />

      </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      affectedProductsMsg: '',
    }
  },

  computed: {
    title () {
      return this.isNewForm ? "Add new variable feature" : `Edit variable feature: ${this.editedItem.name}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-variable-feature`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },

    deleteVFFeatureMsg () {
      return this.affectedProductsMsg + "Delete this variable feature?"
    },
  },

  methods: {
    getDefaultItem () {
      return {
        name: '',
        slug: '',
        items: [],
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/variable-features/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/variable-features`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/variable-features/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/variable-features/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/variable-feature-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/variable-features')
    },

    async loadAffectedProductsOnDelete () {
      let msg = ''
      try {
        const affectedProducts = await this.$axios.$get(`/api/count-products-with-vf`, {params: {vfId: this.itemKey}})
        if(affectedProducts != 0) {
          let plural = affectedProducts == 1 ? "Product" : "Products"
          msg = `${affectedProducts} ${plural} will be affected. <br />` + msg
        }
      }catch (error) {
        console.log('error %o', error)
      }
      this.affectedProductsMsg = msg
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/variable-feature-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/variable-features'))
    if(!this.isNew) {
      this.loadAffectedProductsOnDelete()
    }
  },
}
</script>
