<template>
  <form @submit.prevent="userLogin">
      <v-card
      max-width="375px"
      class="mt-12 pb-2 mx-auto"
      >
        <v-card-title class="justify-center">
          Login
        </v-card-title>

        <v-card-text class="px-10">
          <v-row dense>
            <v-col sm="12" v-if="errorMsg">
              <v-alert
                  border="right"
                  colored-border
                  type="error"
                  elevation="2"
                >
                {{ errorMsg }}
              </v-alert>
            </v-col>
            <v-col sm="12">
            <v-text-field
              label="Email"
              v-model="login.email"
            />
            </v-col>
            <v-col sm="12">
            <v-text-field
              label="Password"
              v-model="login.password"
              type="password"
            />
          </v-col>
       </v-row>
      </v-card-text>

      <v-card-actions class="justify-center">
        <v-btn type="submit" color="primary">Submit</v-btn>
      </v-card-actions>
    </v-card>
  </form>
</template>

<script>
import { parseErrorObj } from 'shared/utils'

export default {
  middleware: 'auth',

  auth: 'guest',

  layout: 'fullscreen',

  data () {
    return {
      login: {
        email: '',
        password: ''
      },

      errorMsg: null,
    }
  },

  methods: {
    async userLogin() {
      try {
        let response = await this.$auth.loginWith('local', { data: this.login })
        let token = this.$auth.getToken('local')
        if(this.$auth.user.role == 'admin') {
          this.$router.push('/');
        } else {
          this.errorMsg = "Invalid admin"
        }

      } catch (err) {
        let { statusCode, message } = parseErrorObj(err)
        this.errorMsg = statusCode == 404 ? message : "Invalid email or password"
      }
    }
  }
}
</script>
