<template>
  <div>
  <BookingRlMonthlyBookedBlocks
    :month="month"
    :loadBookingsBetween="loadBookingsBetween"
    v-slot="{from, to, bookedBlocks, dailyBookedBlocks, daysWithBookings, loading, error}"
  >
    <v-row>
      <v-col sm="12" md="3">
        <v-date-picker
         v-model="selectedDate"
         :show-current="false"
         :picker-date.sync="month"
         :first-day-of-week="1"
         :events="daysWithBookings"
       ></v-date-picker>
      </v-col>

      <v-col sm="12" md="9">
        <div class="d-flex justify-end pb-3">
          <v-btn small color="primary" fab top right :to="{path:'/booking-add', query: {sessionSku: defaultSelectedSession, date: selectedDate}}" title="Add new booking"><v-icon small>mdi-plus</v-icon></v-btn>
        </div>
         <BookingDayList
          v-show="selectedDate"
          :items="bookingsOnSelectedDate"
          @delete-item="onDeleteBooking"
          @reschedule="onRescheduleBooking"
         />
      </v-col>


      <v-col cols="12">
        <BookingMonthlyChart
          :from="from"
          :to="to"
          :weeklySchedule="weeklySchedule"
          :bookedBlocks="bookedBlocks"
        />
      </v-col>
    </v-row>
  </BookingRlMonthlyBookedBlocks>
</div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  data () {
    return {
      // weeklyScheduleSlug: 'default',
      defaultSelectedSession: process.env.DEFAULT_SESSION_SKU,
    }
  },

  async asyncData ({ params, $axios }) {
    let { date:selectedDate = dayjs().format('YYYY-MM-DD') } = params
    let month = dayjs(selectedDate).format('YYYY-MM')
    let weeklySchedule = await $axios.$get(`/api/weekly-schedule/default`)
    let bookingsOnSelectedDate = []

    return {
      selectedDate,
      month,
      weeklySchedule,
      bookingsOnSelectedDate,
    }
  },

  async fetch () {
    if(this.selectedDate) {
      try {
        let data = await this.$axios.$get(`/api/bookings-at/${this.selectedDate}`, {params: {raw: true}})
        this.bookingsOnSelectedDate = data
      } catch (err) {
        console.log('err %o', err)
      }
    } else {
      this.bookingsOnSelectedDate = []
    }
  },

  methods: {
    async onDeleteBooking (item) {
      let data = await this.$axios.$delete(`/api/bookings/${item._id}`)
      this.$fetch()
    },

    onRescheduleBooking (id) {
      this.$router.push({path: `/booking-reschedule/${id}`})
    },

    loadBookingsBetween (from, to) {
      return this.$axios.$get(`/api/bookings-between/${from}/${to}`)
    },
  },

  watch: {
    month: function () {
      this.selectedDate = null
    },

    selectedDate: {
      handler: function (val) {
        this.$fetch()
      },
    },
  }
}
</script>
