<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
        title="Cupons"
        addNewLink="/cupon-edit"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :single-select="false"
        :options.sync="options"
        :search="search"
        :server-items-length="total"
        :loading="$fetchState.pending"
        item-key="id"
        show-select
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.type="{ value }" >
        {{ value | formatCuponType }}
      </template>

      <template v-slot:item.value="{ value }" >
        {{ `-${value}%` }}
      </template>

      <template v-slot:item.startDate="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.endDate="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.active="{ value }" >
        <v-icon small :color="value ? 'success': 'error'">mdi-circle</v-icon>
      </template>

      <template v-slot:item.updatedAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.actions="{ item }" >
        <TableActionBtns
          @edit-item="$router.push({path: `/cupon-edit/${item._id}` })"
          @delete-item="onDeleteItem(item._id)"
        />
      </template>

      </v-data-table>
      </v-col>

      <v-col cols="12" xs="12">
        <div class="d-flex">
          <FormBulkActions
          :disabled="disableBulkActions"
          @delete-items="onBulkDelete"
          />
        </div>
    </v-col>

    <DialogConfirmation
      v-model="deleteDialog"
      message="Delete this cupon?"
      @confirm="deleteCupon"
    />

  </v-row>
</template>

<script>
import { formatDate } from 'shared/utils'
import BaseTableForm from 'shared/components/base/TableForm'

export default {
  extends: BaseTableForm,

  data () {
    return {
      headers: [
      { text: 'Code', value: 'code' },
      { text: 'Active', value: 'active' },
      { text: 'Discount %', value: 'discount' },
      { text: 'Max Use', value: 'maxUse' },
      { text: 'Times Used', value: 'timesUsed' },
      { text: 'Start Date', value: 'startDate' },
      { text: 'End Date', value: 'endDate' },
      { text: 'Last Update', value: 'updatedAt' },
      { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },

  filters: {
    formatDate,

    formatCuponType (val) {
      return val == 'percent' ? `%` : 'fixed'
    },
  },

  methods: {
    loadItems (params) {
      return this.$axios.$get('/api/cupons', { params })
    },

    deleteItem (id) {
      return this.$axios.$delete(`/api/cupons/${id}`)
    },

    deleteMany (ids) {
      return this.$axios.$delete('/api/cupons', { data: { ids } })
    },

    async deleteCupon () {
      if(!this.deleteSingleItem) return
      let id = this.deleteSingleItem
      this.deleteSingleItem = null
      await this.deleteItem(id)
      this.$fetch()
    },

  },
}
</script>
