<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title>{{ formTitle }} <nuxt-link v-if="this.parent" :to="`/product-edit/${this.parent._id}`">{{ this.parent.name }}</nuxt-link> <span v-if="variationDescription">({{ variationDescription }})</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @show-parent-produt="onShowParent"
        :disabled="isNewForm"
        :items="[{name: 'Back to parent product', slug: 'show-parent-produt', event: 'show-parent-produt'},{name: 'Delete', slug: 'delete', event: 'delete-item', confirm: true, confirmMsg: 'Delete this product variation?'}]"
      />
      </v-toolbar>
      <v-card-text>
      <v-tabs
        v-model="tab"
      >
      <v-tab href="#basic">Basic</v-tab>

      <v-tab href="#media" :disabled="isNewForm">Media</v-tab>

      <v-tab-item value="basic">
        <ProductBasicForm
        :item="productBasicData"
        :formState="formState"
        :validationUnique="uniqueField"
        @add-item="onAddItem"
        @update-item="onUpdateItem"
        @cancel="onCancel"
        />
      </v-tab-item>

      <v-tab-item value="media">
        <v-tabs centered>
          <v-tab href="#main-image">Main Image</v-tab>
          <v-tab href="#gallery">Gallery</v-tab>
          <v-tab href="#flyers">Flyers</v-tab>
          <v-tab href="#manuals">Manuals</v-tab>
          <v-tab href="#layouts">Layouts</v-tab>

          <v-tab-item value="main-image">
            <ProductMediaForm
              singleSelect
              field="image"
              :item="productImageData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>


          <v-tab-item value="gallery">
            <ProductMediaForm
              field="gallery"
              :item="productGalleryData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>

          <v-tab-item value="flyers">
            <ProductMediaForm
              field="flyers"
              :item="productFlyersData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>

          <v-tab-item value="manuals">
            <ProductMediaForm
              field="manuals"
              :item="productManualsData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>

          <v-tab-item value="layouts">
            <ProductMediaForm
              field="layouts"
              :item="productLayoutsData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>

        </v-tabs>
      </v-tab-item>

    </v-tabs>

    <!-- <FormTimestamp
      v-if="isEditForm"
      :createdAt="editedItem.createdAt"
      :updatedAt="editedItem.updatedAt"
      class="mt-8"
    /> -->
  </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'
import { arrayContainsDuplicates, featureConfigAsString, isSimpleProduct, isVariableProduct, isProductVariation, PRODUCT_TYPE, fullVariationConfig } from 'shared/utils'

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      tab: 'basic',
      parent: null,
    }
  },

  computed: {
    // title () {
    //   let name = ''
    //   if(this.parent && this.editedItem) {
    //     const fullConfig = fullVariationConfig(this.editedItem.featuresConfig, this.parent.variableFeatures)
    //     const configName = fullConfig.map(e => e.featureName + ' ' + e.itemName).join(', ')
    //     name = `${this.parent.name} (${configName})`
    //   }
    //   return this.isNewForm ? "Add new product" : `Edit product variation: ${name}`
    // },

    formTitle () {
      return this.isNewForm ? 'Add new product' : 'Edit product variation:'
    },

    variationDescription () {
      let name = null
      if(this.parent && this.editedItem) {
        const fullConfig = fullVariationConfig(this.editedItem.featuresConfig, this.parent.variableFeatures)
        name = fullConfig.map(e => e.featureName + ' ' + e.itemName).join(', ')
      }
      return name
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-product`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },

    productBasicData () {
      const {
        sku,
        name,
        type,
        excerpt,
        description,
        longDescription,
        technicalInformation,
        packageContains,
        price,
        salePrice,
        volumePrice,
        sizeLength,
        sizeWidth,
        sizeHeight,
        weightNet,
        weightGross,

      } = this.editedItem

      return {
        sku,
        name,
        type,
        excerpt,
        description,
        longDescription,
        technicalInformation,
        packageContains,
        price,
        salePrice,
        volumePrice,
        sizeLength,
        sizeWidth,
        sizeHeight,
        weightNet,
        weightGross,
      }
    },

    productSeoData () {
      const { slug, metaDescription, keywords } = this.editedItem
      return { slug, metaDescription, keywords }
    },

    productImageData () {
      const { image } = this.editedItem
      return { image }
    },

    productGalleryData () {
      const { gallery = [] } = this.editedItem
      return { gallery }
    },

    productFlyersData () {
      const { flyers = [] } = this.editedItem
      return { flyers }
    },

    productManualsData () {
      const { manuals = [] } = this.editedItem
      return { manuals }
    },

    productLayoutsData () {
      const { layouts = [] } = this.editedItem
      return { layouts }
    },

    productVariableFeaturesData () {
      const { variableFeatures = [] } = this.editedItem
      return variableFeatures
    },

    productVariationsData () {
      let { variations = [],  variableFeatures = [] } = this.editedItem
      variations = variations.map(e => {
        e.fcString = featureConfigAsString(e.featuresConfig)
        return e
      })
      return { variations, variableFeatures }
    },

    isSimple () {
      return isSimpleProduct(this.editedItem)
    },

    isVariable () {
      return isVariableProduct(this.editedItem)
    },
  },

  methods: {
    getDefaultItem () {
      return {
        // basic
        sku: '',
        type: PRODUCT_TYPE.VARIATION,
        excerpt: '',
        description: '',
        longDescription: '',
        technicalInformation: '',
        packageContains: '',
        price: null,
        salePrice: null,
        volumePrice: null,
        sizeLength: null,
        sizeWidth: null,
        sizeHeight: null,
        weightNet: null,
        weightGross: null,
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/products/${id}`, {params: {raw: true}})
    },

    async addItem (item) {
      return this.$axios.$post(`/api/products`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/products/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/products/${id}`)
    },

    parseItem (item) {
      return Object.assign({}, this.getDefaultItem(), item)
    },

    onUpdateItemVF (val) {
      this.onUpdateItem({variableFeatures: val})
    },

    onUpdateItemVariations (val) {
      this.error = null
      if(!val.variations) return
      const variationsWithoutSku = val.variations.filter(e => !e.sku).length
      if(variationsWithoutSku) {
        this.error = "Some items doesn't have SKU defined"
        return
      }

      if(arrayContainsDuplicates(val.variations.map(e => e.sku), true)) {
        this.error = "Some SKU's are duplicates"
        return
      }

      this.onUpdateItem({variations: val.variations})
    },

    onNewItem () {
      this.$nuxt.context.redirect('/product-edit')
    },

    onShowParent () {
      this.parent ? this.$nuxt.context.redirect( `/product-edit/${this.parent._id}`) : this.$nuxt.context.redirect('/products')
    },

    onCancel () {
      this.$nuxt.context.redirect('/products')
    },

    async loadParentProduct (id) {
      try {
        this.parent = await this.$axios.$get(`/api/product-parent-of-variation/${id}`)
      } catch (error) {
        console.log('error %o', error)
      }

    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/product-edit/${val._id}`))
    this.$on('item-deleted', this.onShowParent)
    this.loadParentProduct(this.$route.params.id)
  },

}
</script>
