<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this family?"
      />
      </v-toolbar>
        <v-card-text>
            <FamilyForm
            :item="editedItem"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />

        <FormTimestamp
          v-if="isEditForm"
          :createdAt="editedItem.createdAt"
          :updatedAt="editedItem.updatedAt"
          class="mt-8"
        />

      </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'
import { jsonCopy } from 'shared/utils'

export default {
  mixins: [ ItemEditorMixin ],

  computed: {
    title () {
      return this.isNewForm ? "Add new family" : `Edit family: ${this.editedItem.name}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-family`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        name: '',
        slug: '',
        products: [],
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/families/${id}`)
    },

    async addItem (item) {
      const copy = this.extractProductsIds(item)
      return this.$axios.$post(`/api/families`, { item: copy })
    },

    async updateItem (item, id) {
      const copy = this.extractProductsIds(item)
      return this.$axios.$put(`/api/families/${id}`, { item: copy })
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/families/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/family-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/families')
    },

    parseLoadedItem (item) {
      if(!item.products) item.products = []
      return item
    },

    extractProductsIds (item) {
      let copy = jsonCopy(item)
      if(copy.products) {
        copy.productsId = copy.products.map(e => e._id)
      }
      return copy
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/family-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/families'))
  },
}
</script>
