<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12" v-if="error">
        <v-alert type="error" > {{ error }} </v-alert>
      </v-col>

      <v-col xs="12" sm="6" md="4">
        <ValidationProvider rules="required|unique:name" name="name" v-slot="{ errors }">
          <v-text-field
          label="Name"
          v-model="editedItem.name"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6" md="2">
        <ValidationProvider rules="required"  name="type" v-slot="{ errors }">
        <v-select
        label="Type"
        v-model="editedItem.type"
        :items="sessionTypes"
        :disabled="!isNewForm"
        item-text="name"
        item-value="slug"
        :error-messages="errors[0]"
        />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6" md="2">
        <ValidationProvider rules="required|unique:sku" name="sku" v-slot="{ errors }">
          <v-text-field
          label="SKU"
          v-model="editedItem.sku"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6" md="2">
        <ValidationProvider rules="numeric|min_value:0" name="price" v-slot="{ errors }">
          <v-text-field
          label="Price"
          v-model.number="editedItem.price"
          type="number"
          :suffix="currency.symbol"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

    </v-row>

    <v-row>

      <v-col xs="12" sm="6" md="2">
        <ValidationProvider rules="required|numeric|min_value:0" name="duration" v-slot="{ errors }">
          <v-text-field
          label="Duration"
          v-model.number="editedItem.duration"
          type="number"
          suffix="min"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6" md="2">
        <ValidationProvider rules="numeric|min_value:0" name="bufferBefore" v-slot="{ errors }">
          <v-text-field
          label="Buffer Before"
          v-model.number="editedItem.bufferBefore"
          type="number"
          suffix="min"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6" md="2">
        <ValidationProvider rules="numeric|min_value:0" name="bufferAfter" v-slot="{ errors }">
          <v-text-field
          label="Buffer After"
          v-model.number="editedItem.bufferAfter"
          type="number"
          suffix="min"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

    </v-row>

    <v-row>

      <v-col xs="12" sm="12" md="6">
        <ValidationProvider rules="" name="description" v-slot="{ errors }">
          <v-text-field
          label="Description"
          v-model="editedItem.description"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"

export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },

    currency: {
      type: Object,
      default: () => ({'code': 'EUR', 'symbol': '€', 'name': 'Euro'})
    },
  },

  mixins: [ItemFormMixin],

  computed: {
    sessionTypes () {
      return [
        { name: 'Session', slug: 'session'},
        { name: 'Package', slug: 'package'},
      ]
    }
  },

  methods: {
    parseEditedItemBeforeSend (item, type) {
      item.currencyCode = this.currency.code
      return item
    },
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
