<template>
  <div>
    <template v-if="$fetchState.pending">
      <div class="text-h6 text-center">
        loading..
    </div>
    </template>

    <template v-else>
      <div class="text-right my-6">
        Client: <nuxt-link :to="{path: `/user-edit/${editedItem.userId}`}">{{ editedItem.userEmail }}</nuxt-link>
      </div>

      <InvoiceDisplay
      :order="editedItem"
      />
    </template>
  </div>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'
import { formatDate, formatPrice,  } from 'shared/utils'

export default {
  mixins: [ ItemEditorMixin ],

  methods: {
    getDefaultItem () {
      return {
        no: '',
        status: '',
        title: '',
        items: [],
        billingAddress: {},
        deliveryAddress: {},
        providerData: {},
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/orders/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/orders`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/orders/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/orders/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/order-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/orders')
    },
  },

  filters: {
    formatDate,
    formatPrice,
  },
}
</script>
