<template>
  <div>
    <div v-if="items.length">
      <BookingDayListItem v-for="(item, i) in items"
      :key="i"
      :item="item"
      @delete-item="onDeleteItem"
      @reschedule="onRescheduleItem"
      />

      <DialogConfirmation
        v-model="deleteDialog"
        message="Delete this booking?"
        @confirm="onDeleteConfirmed"
        @cancel="onDeleteCancel"
      />

    </div>

    <div v-else class="text-h5 mt-8 text--disabled">No meetings</div>
  </div>
</template>

<script>

export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },

    skipDeleteConfirm: {
      type: Boolean,
    },
  },

  data () {
    return {
      deleteDialog: false,
      bookigToDelete: null,
    }
  },

  methods: {
    deleteBooking () {
      if(this.bookigToDelete) {
        this.$emit('delete-item', this.bookigToDelete)
        this.bookigToDelete = null
      }
    },

    onRescheduleItem (val) {
      this.$emit('reschedule', val)
    },

    onDeleteItem (val) {
      this.bookigToDelete = val
      if(this.skipDeleteConfirm) {
        this.deleteBooking()
      } else {
        this.deleteDialog = true
      }
    },

    onDeleteConfirmed () {
      this.deleteBooking()
    },

    onDeleteCancel () {
      this.bookigToDelete = null
    },
  },
}
</script>
