<template>
  <v-card flat>
    <v-card-title>
      {{ item.name }} {{ between }} <v-spacer></v-spacer> <v-btn icon @click="showDetails = !showDetails"><v-icon>{{ showDetails ? 'mdi-chevron-up' : 'mdi-chevron-down'}}</v-icon></v-btn>
    </v-card-title>
    <v-card-subtitle>
      {{ name }} {{ email }}
    </v-card-subtitle>
    <v-card-text v-show="showDetails">
      Date: {{ date }} <br />
      Booked at: {{ bookedAt }} <br />
      <template v-if="item.bookedBy == 'admin'">
      Booked by Admin
      </template>
      <template v-else>
      View Order: <nuxt-link :to="`/order-edit/${item.orderId}`">{{ item.orderId }}</nuxt-link> <br />
      View Client: <nuxt-link :to="`/user-edit/${item.userId}`">{{ item.userEmail }}</nuxt-link> <br />
      </template>
      <p v-if="item.clientNote">
      Client note:{{item.clientNote}}
      </p>
      <p v-if="item.providerNote">
      Private note: {{ item.providerNote }}
      </p>

      <p v-if="item.rescheduled">
      <span class="red--text">Rescheduled </span> {{ item.rescheduleNote }}
      </p>
    </v-card-text>

    <v-card-actions v-show="showDetails">
      <v-btn small outlined class="cmr-2" @click="$emit('delete-item', item)">Delete</v-btn> <v-btn small outlined @click="$emit('reschedule', item.id)">Reschedule</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { Booking, formatDate, formatTime, formatDateTimeToLocale} from 'shared/utils'

export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  data () {
    return {
      showDetails: false,
    }
  },

  computed: {
    date () {
      return formatDate(this.item.sessionFrom)
    },

    between () {
      return formatTime(this.item.sessionFrom) + ' - ' + formatTime(this.item.sessionTo)
    },

    bookedAt () {
      return formatDateTimeToLocale(this.item.createdAt)
    },

    name () {
      return this.item.client && this.item.client.firstName ? `${this.item.client.firstName} ${this.item.client.lastName}` :  this.item.clientName
    },

    email () {
      return this.item.client && this.item.client.email ? this.item.client.email :  this.item.clientEmail
    },

    bookedByAdmin () {
      return this.item.bookedBy == 'admin'
    }

  },
}
</script>
