<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
  <v-row dense>
  <v-col sm="12" class="text-h6">
    Enter Details
  </v-col>
  <v-col sm="12">
    <ValidationProvider rules="required" name="name" v-slot="{ errors }">
    <v-text-field
    label="Name*"
    v-model="editedItem.name"
    :error-messages="errors[0]"
    />
    </ValidationProvider>
  </v-col>
  <v-col sm="12">
    <ValidationProvider  rules="email" name="email" v-slot="{ errors }">
    <v-text-field
    label="Email"
    v-model="editedItem.email"
    :error-messages="errors[0]"
    />
    </ValidationProvider>
  </v-col>

  <v-col sm="12">
    <ValidationProvider rules="" name="providerNote" v-slot="{ errors }">
    <v-textarea
    label="Please share anything that will help prepare for our meeting."
    v-model="editedItem.providerNote"
    :error-messages="errors[0]"
    />
    </ValidationProvider>
  </v-col>

  <v-col cols="12" class="text-center pt-8">
    <FormSubmitBtn
    :state="formState"
    :disabled="disableFormBtn"
    cancelBtn
    @cancel="onCancel"
    />
  </v-col>
</v-row>
</form>
</ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"

export default {
  mixins: [ItemFormMixin],

  data () {
    return {

    }
  },

  asyncData () {

  },

  fetch () {

  },

  computed: {

  },

  methods: {

  },
}
</script>
