<template>
  <chartist
    type="Bar"
    :data="chartData"
    :options="chartOptions"
    style="height: 300px;"
  >
  </chartist>
</template>


<script>
import dayjs from 'dayjs'
import { datesWorkingHours, sumTimeBlocks } from 'shared/utils'

export default {
  props: {
    from: {
      type: String,
    },

    to:  {
      type: String,
    },

    weeklySchedule: {
      type: Object,
    },

    bookedBlocks: {
      type: Array,
      default: () => []
    },
  },


  data () {
    return {
      chartOptions: {
        high: 10,
        seriesBarDistance: 5,

        axisY: {
          onlyInteger: true,
          offset: 20
        },
      },
    }
  },

  computed: {
    chartData () {
      return {
          labels: this.intervalDates.map(e => dayjs(e).format('D')),
          series: this.dailyHoursSeries,
      }
    },

    intervalDates () {
      const start = this.from ? dayjs(this.from) : dayjs().startOf('month')
      const toDate = this.to ? dayjs(this.to).format('YYYY-MM-DD') :  dayjs().endOf('month').format('YYYY-MM-DD')
      const noOfDays = dayjs(toDate).diff(start.format('YYYY-MM-DD'), 'day') + 1
      let days = []
      for (let i = 0; i < noOfDays; i++) {
        days.push(start.add(i, 'day').format('YYYY-MM-DD'))
      }
      return days
    },

    dailyHoursSeries () {
      let series = []
      if(this.weeklySchedule) {
        series.push(datesWorkingHours(this.intervalDates, this.weeklySchedule))
      }
      series.push(this.bookedHoursSumByDay)
      return series
    },

    // return an Object[YYYY-MM-DD] = [booking, ....]
    dailyBookings () {
      return this.bookedBlocks.reduce((acc, e) => {
        const fd = dayjs(e.from).format('YYYY-MM-DD')
        acc[fd] = acc[fd] ? [...acc[fd], e] : [e]
        return acc
      }, {})
    },

    bookedHoursSumByDay () {
      let bookedHours = []
      this.intervalDates.forEach((item, i) => {
        bookedHours.push(sumTimeBlocks(this.dailyBookings[item]))
      })
      return bookedHours
    }
  },

  methods: {

  },
}
</script>

<style>
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #f05b4f;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #f4c63d;
}

</style>
