<template>
  <div>
    <BookingTimePickerListItem
    v-for="(t, i) in timeblocks"
    :key="i"
    :timeblock="t"
    class="my-4"
    @selected="onBlockSelect"
    @request-confirm="requestConfirm(i)"
    :confirmState="i == confirmIndex"
    :service="service"
    />
  </div>
</template>

<script>
import { splitDateTimeInterval, BookingService, TimeBlockConfig, timeAdd, timeSubstract, timeblocksOverlap } from 'shared/utils'

export default {
  props: {
    daySchedule: {
      type: Array, // array of TimeBlockConfig
      default: () => []
    },

    occupied: {
      type: Array, // [{from: , to: }, ...]
      default: () => []
    },

    date: {
      type: String,
      required: true,
    },

    service: {
      type: BookingService,
      required: true,
    },
  },

  data () {
    return {
      confirmIndex: null,
    }
  },

  computed: {
    timeblocks () {
      const totalDuration = this.service.totalDuration
      return this.daySchedule.reduce((acc, t) => {
        splitDateTimeInterval(this.date, t.from, t.to, totalDuration).map(e => {
          const sessionFrom = this.service.bufferBefore ? timeAdd(e.from, this.service.bufferBefore) :  e.from
          const sessionTo = this.service.bufferAfter ? timeSubstract(e.to, this.service.bufferAfter) :  e.to
          const disabled = !!this.occupied.find(occ => timeblocksOverlap(occ, e))
          acc.push(new TimeBlockConfig(e.from, e.to, sessionFrom, sessionTo, disabled))
        })
        return acc
      }, [])
    },
  },

  methods: {
    onBlockSelect (val) {
      this.$emit('selected', val)
      this.confirmIndex = null
    },

    requestConfirm (index) {
      this.confirmIndex = index
    },
  },
}
</script>
