<template>
  <div transition="slide-x-transition">
    <template v-if="confirmState">
      <v-btn>{{ timeblock.sessionFrom | formatTime }} -  {{ timeblock.sessionTo | formatTime }}</v-btn> <v-btn @click="onConfirm" color="primary">Confirm</v-btn>
    </template>
    <template v-else>
      <v-btn :disabled="timeblock.disabled" @click="onTimeSelect" text :class="{'text-decoration-line-through': timeblock.disabled}">{{ timeblock.sessionFrom | formatTime }}</v-btn>
    </template>
  </div>
</template>

<script>
import { formatTime, TimeBlockConfig} from 'shared/utils'

export default {
  props: {
    timeblock: {
      type: TimeBlockConfig,
      required: true,
    },

    confirmState: {
      type: Boolean,
    },
  },

  filters: {
    formatTime,
  },

  methods: {
    onTimeSelect () {
      this.$emit('request-confirm', this.timeblock)
    },

    onConfirm () {
      this.$emit('selected', this.timeblock)
    },
  },
}
</script>
