<template>
  <v-card class="d-flex flex-column package-card pt-4 pb-2">
    <v-card-title class="justify-center">
      <div class="text-h3">
      {{ item.title }}
      </div>
    </v-card-title>

    <v-card-text>
      <div class="price text-center mt-3">{{ item.price | formatPrice }}</div>
      <div class="savings secondary--text text-subtitle-2 font-weight-bold text-center">{{ item.savings }}</div>
      <div class="font-weight-bold mb-2 mt-4">What you get:</div>
      <div class="text-body-2 contain">{{ item.contain }}</div>
      <div class="font-weight-bold mb-2">Great for:</div>
      <ul>
        <li class="goodFor text-body-2" v-for="(l, index) in item.goodFor" :key="index">{{ l }}</li>
      </ul>
    </v-card-text>

    <v-card-actions class="act justify-center mt-auto">
      <CartRlItemEditor v-slot="{ addToCart, product }" :item="cartableItem" limitToOne>
        <v-btn @click="btnClick(addToCart)" color="secondary" style="width: 100%;">{{ btnTxt }}</v-btn>
      </CartRlItemEditor>
    </v-card-actions>

    <SnackBar
    v-model="confirmAddToCart"
    text="Added to Cart"
    centered
    />
  </v-card>
</template>

<script>
import { formatPrice, CartableItem } from 'shared/utils'
export default {
  props: {
    item: {
      type: Object,
      required: true,
    }
  },

  data () {
    return {
      confirmAddToCart: false,
    }
  },

  computed: {
    btnTxt () {
      return this.item.btnTxt || "Buy Now"
    },

    cartableItem () {
      const cartItem = Object.assign({}, this.item)
      return new CartableItem(cartItem)
    },
  },

  filters: {
    formatPrice,
  },

  methods: {
    showConfirm () {
      this.confirmAddToCart = true
    },

    btnClick (addToCart) {
      if(this.item.link) {
        this.$router.push({path: this.item.link})
      }else {
        addToCart()
        this.showConfirm()
      }
    },
  }
}
</script>

<style scoped lang="scss">
.package-card {
  height: 100%;
}

.price {
  font-size: 2rem;
  color: $dark-charcoal;
  font-weight: 600;
}

.savings {
  min-height: 2.5em;
  line-height: 2.5em;
}

.contain {
  min-height: 6em;
}

.buy-btn {
  width: 100%;
  .v-btn__content{
    font-weight: bold;
  }
}

.act {
  bottom: 0;
}
</style>
