<template>
  <div class="d-flex" style="position: relative;">
    <MediaFilesSelectDialog
      :singleSelect="singleSelect"
      dense
      @selected-files="onSelectFiles"
    />
    <!-- ###################### no file(s) ###################### -->
    <template v-if="noFiles">
      <v-card flat class="mx-4 pa-4 text--disabled">
        {{ noFilesMsg }}
      </v-card>
    </template>

    <template v-else>
      <template v-if="singleSelect"> <!-- ###################### single file ###################### -->
        <MediaSelectedFileCard
          :file="files"
          :singleSelect="singleSelect"
          :transform="transform"
          :flat="flat"
          :hideTitle="hideTitle"
          :hideDescription="hideDescription"
          class="ml-4"
          @delete-item="onDeleteItem(files)"
          @view-item="onViewItem(files)"

        />
      </template>

      <template v-else> <!-- ###################### multi files ###################### -->
        <div class="d-block" style="position: absolute; top: -30px; right: 0;"><v-btn icon @click="onDeleteAll"title="Delete all"><v-icon small>mdi-delete</v-icon></v-btn></div>
        <draggable v-model="reordableFiles" handle=".handler" class="d-flex flex-wrap">
          <MediaSelectedFileCard
            v-for="f in files"
            :key="f.filePath"
            :file="f"
            :transform="transform"
            :flat="flat"
            :hideTitle="hideTitle"
            :hideDescription="hideDescription"
            class="ml-4 mb-4"
            @delete-item="onDeleteItem(f)"
            @view-item="onViewItem(f)"
            :showReorderHandler="isReordable"
          />
        </draggable>
      </template>
    </template>

    <DialogConfirmation
      v-model="deleteDialog"
      :message="deleteMsg"
      @confirm="onDeleteConfirm"
      @cancel="onDeleteCancel"
    />

    <DialogConfirmation
      v-model="deleteAllDialog"
      :message="deleteAllMsg"
      @confirm="onDeleteAllConfirm"
    />

    <MediaFileDetailsDialog
      v-model="viewDialog"
      :file="fileViewDetails"
    />
  </div>
</template>


<script>
import draggable from 'vuedraggable'

export default {
  props: {
    files: {
      type: [Array, Object],
    },

    singleSelect: {
      type: Boolean,
    },

    transform: {
      type: Array,
      default: () => [{width:400, height:300}]
    },

    noFilesMessage: {
      type: Array,
      default: () => ['No file.', 'No files.'] // singular & plural
    },

    flat: {
      type: Boolean,
    },

    hideTitle: {
      type: Boolean,
    },

    hideDescription: {
      type: Boolean,
    },
  },

  model: {
    prop: 'files',
    event: 'change'
  },

  components: {
    draggable,
  },

  data () {
    return {
      deleteDialog: false,
      deleteAllDialog: false,
      deleteMsg: "Remove this file?",
      deleteAllMsg: "Remove all files?",
      fileToDelete: null,

      viewDialog: false,
      fileViewDetails: null,

    }
  },

  computed: {
    noFiles () {
      return this.singleSelect ? !this.files : !(this.files && this.files.length)
    },

    isReordable () {
      return !this.singleSelect && Array.isArray(this.files) && this.files.length > 1
    },

    reordableFiles: {
      get () {
        return this.files
      },

      set (val) {
        this.$emit('change', val)
      }
    },

    noFilesMsg () {
      return this.singleSelect ? this.noFilesMessage[0] : this.noFilesMessage[1]
    }
  },

  methods: {
    onSelectFiles (val) {
      let f = null
      if(this.singleSelect){
        f = val[0] ? val[0] : null
      } else {
        f = Array.isArray(this.files) ? [...this.files, ...val] : [...val]
        f = f.filter((e, index, arr) => index == arr.findIndex(f => f.filePath == e.filePath)) // remove duplicates
      }
      this.$emit('change', f)
    },

    onDeleteItem (file) {
      this.fileToDelete = file
      this.deleteDialog = true
    },

    onDeleteConfirm () {
      let f = null
      if(this.singleSelect){
        f = null
      } else {
        f = Array.isArray(this.files) ? this.files.filter(e => e != this.fileToDelete) : []
      }
      this.$emit('change', f)
      this.fileToDelete = null
    },

    onDeleteAll () {
      this.deleteAllDialog = true;
    },

    onDeleteAllConfirm () {
      this.$emit('change', [])
    },

    onDeleteCancel () {
      this.fileToDelete = null
    },

    onViewItem (val) {
      this.fileViewDetails = val
      this.viewDialog = true
    },
  },

}
</script>
