<template>
  <div>
    <v-menu
      bottom
      left
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          icon
          v-bind="attrs"
          v-on="on"
          :disabled="disableMenu"
          :small="small"
        >
          <v-icon :small="small">mdi-dots-vertical</v-icon>
        </v-btn>
      </template>

      <v-list :dense="small">
        <v-list-item
          v-for="item in items"
          :key="item.action"
          link
          :disabled="item.disabled"
          @click="actionSelected(item.action)"
        >
          <v-list-item-title v-text="item.name"></v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <DialogConfirmation
    v-model="deleteDialog"
    :message="deleteMsg"
    @confirm="confirmDelete"
    />
  </div>
</template>

<script>
export default {
  props: {
    selectedFiles: {
      type: Array,
      default: () => []
    },

    isRootLevel: {
      type: Boolean,
    },

    disabled: {
      type: Boolean,
    },

    small: {
      type: Boolean,
    },
  },

  data () {
    return {
      deleteType: '', // 'files' || 'folder'
      deleteDialog: false,
      deleteMsg: '',
    }
  },

  computed: {
    filesSelected () {
      return this.selectedFiles.length
    },

    items () {
      return [
        {name: "Delete selected files", action: "delete-selected-files", disabled: !this.filesSelected},
      //   {name: "Delete folder", action: "delete-folder", disabled: this.isRootLevel },
      ]
    },

    disableMenu () {
      return this.disabled ? this.disabled : this.items.every(e => !!e.disabled)
    }
  },

  methods: {
    actionSelected (action) {
      switch (action) {
        case "delete-selected-files":
          this.deleteSelectedFiles()
          break;

        case "delete-folder":
          this.deleteFolder()
          break;
        default:
        this.cancelDelete()
      }
    },

    deleteSelectedFiles () {
      let noFiles = this.selectedFiles.length
      if(!noFiles) return
      this.deleteType = 'files'
      this.deleteMsg = `Do you want to delete ${noFiles == 1 ? 'selected file':  'all selected files'}?`
      this.deleteDialog = true
    },

    deleteFolder () {
      this.deleteType = 'folder'
      this.deleteMsg = `Do you want to delete current folder?`
      this.deleteDialog = true
    },

    confirmDelete () {
      if(this.deleteType != 'files' && this.deleteType != 'folder') return
      this.deleteType == 'files' ? this.$emit('bulk-delete-files') : this.$emit('delete-folder')
    },

    cancelDelete () {
      this.deleteMsg = ''
    },
  },

  created () {
    this.$on('delete-selected-files', this.deleteSelectedFiles)
    this.$on('delete-selected-files', this.deleteSelectedFiles)
  }
}
</script>
