<template>
  <div>
    <v-file-input
      v-model="files"
      color="primary"
      :multiple="multiple"
      placeholder="Upload your files"
      prepend-icon="mdi-cloud-upload"
      :show-size="1000"
      @change="uploadFiles"
      :loading="loading"
      ref="fileInput"
      :error-messages="errorsMsg"
      :messages="remainingCounter"
      dense
    >
    </v-file-input>
  </div>
</template>

<script>
import { fileUpload } from 'shared/utils'

export default {
  props: {
    multiple: {
      type: Boolean,
    },

    path: {
      type: String,
      default: '/'
    },

    splitUploadChunk: { // split the parallel upload in chunks
      type: Number,
      default: 3,
    },
  },

  data () {
    return {
      files: [],
      errors: [],
      counter: 0,
      loading: false,
    }
  },

  computed: {
    errorsMsg () {
      return this.errors.join(', ')
    },

    remainingCounter () {
      return this.counter ?  '... remaining ' + this.counter : ''
    },
  },

  methods: {
    async uploadFiles(files) {
      if(!files || !files.length || this.loading) return

      this.initUpload(files)

      for (let e of files) {
        try {
          let result = await fileUpload({ file: e, fileName : e.name, folder: this.path })
          this.$emit('file-uploaded', result)
        } catch (error) {
          this.errors.push(error.message)
        } finally {
          this.decreaseCounter()
        }
      }
    },


    decreaseCounter () {
      this.counter -= 1
      if(this.counter <= 0 ){
        this.uploadCompleted()
      }
    },

    uploadCompleted () {
      if(this.errors.length < this.files.length){
        this.$emit('upload-files-completed')
      }
      this.files = []
      this.$refs.fileInput.blur()
      this.loading = false
    },

    initUpload (files) {
      this.errors = []
      this.counter = files.length
      this.loading = true
    },
  },

  watch: {
    path: function () {
      this.errors = []
    },
  },
}
</script>
