<template>
  <v-container
  fluid
  >
  <v-data-iterator
  :items="items"
  item-key="path"
  :single-select="singleSelect"
  :search="search"
  :loading="loading"
  :footer-props="footerProps"
  :options="options"
  :sort-by="sortBy"
  :sort-desc="sortDesc"
  flat
  >

  <template v-slot:header>
    <v-row class="justify-center">
      <v-col sm="12" md="4" lg="3">
        <v-text-field
          v-model="search"
          clearable
          flat
          dense
          hide-details
          prepend-inner-icon="mdi-magnify"
          label="Search files"
        ></v-text-field>
      </v-col>
    </v-row>
  </template>

  <template v-slot:default="{ items }">
      <v-row>
        <v-col
          v-for="item in items"
          :key="item.filePath"
          cols="12"
          :sm="sm"
          :md="md"
          :lg="lg"
        >
        <MediaListFileCard
          :item="item"
          :imageSize="imageSize"
          :imgTransformation="imgTransformation"
          v-model="selected"
          :showDeleteBtn="showCardDeleteBtn"
          :showViewBtn="showCardViewBtn"
          @delete="onFileDelete(item)"
          @view-details="onViewFileDetails(item)"
          />
        </v-col>
      </v-row>
    </template>

  </v-data-iterator>

  <DialogConfirmation
    v-model="deleteFileDialog"
    :message="deleteFileMsg"
    @confirm="confirmDeleteFile"
    @cancel="cancelDeleteFile"
  />

  <MediaFileDetailsDialog
    v-model="viewDialog"
    :filePath="fileViewDetails"
  />
</v-container>
</template>


<script>

export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },

    selectedFiles: {
      type: Array,
      default: () => []
    },

    singleSelect: {
      type: Boolean,
    },

    loading: {
      loading: Boolean
    },

    imageSize: {
      type: Array,
      default: () => [400, 300] // width, height
    },

    imgTransformation: {
      type: Object,
    },

    dense: {
      type: Boolean // increase cols per row
    },

    showCardDeleteBtn: {
      type: Boolean
    },

    showCardViewBtn: {
      type: Boolean,
    },

    footerProps: {
      type: Object,
      default: () => ({
        'items-per-page-options': [24, 48, 96],
      })
    }
  },

  data () {
    return {
      search: '',
      deleteFileDialog: false,
      deleteFileMsg: '',
      fileToDelete: '',

      viewDialog: false,
      fileViewDetails: null,

      options: {
          page: 1,
          itemsPerPage: 24,
          // sortBy: 'createdAt',
          // sortDesc: false,
          // groupBy: '',
          // groupDesc: [],
          // multiSort: false,
          // mustSort: false
      },

      sortBy: 'createdAt',
      sortDesc: true,
    }
  },

  computed: {
    selected: {
      get () {
        return this.selectedFiles
      },

      set (val) {
        let sel = val ? val : []
        if(this.singleSelect && sel.length > 1) {
          sel = sel.slice(-1)
        }
        this.$emit('selected-files-change', sel)
      }
    },

    sm () {
      return this.dense ? 4 : 6
    },

    md () {
      return this.dense ? 2 : 2
    },

    lg () {
      return this.dense ? 2 : 2
    },
  },

  methods: {
    onFileDelete (file) {
      this.fileToDelete = file
      this.deleteFileMsg = `Delete file ${file.filePath}?`
      this.deleteFileDialog = true
    },

    confirmDeleteFile () {
      this.$emit('delete-file', this.fileToDelete.fileId)
      this.clearDeleteFile()
    },

    cancelDeleteFile () {
      this.clearDeleteFile()
    },

    clearDeleteFile () {
      this.fileToDelete = ''
      this.deleteFileMsg = ''
    },

    onViewFileDetails (val) {
      this.fileViewDetails = val.filePath
      this.viewDialog = true
    },

  }


}
</script>
