<template>
  <v-sheet class="d-flex justify-center">
    <v-btn color="primary" outlined @click="onCancel" class="mr-2">Cancel</v-btn>
    <v-btn color="primary" :disabled="loading" @click="onSelect">Select</v-btn>
  </v-sheet>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Boolean,
    },

    selectedFiles: {
      type: Array,
    },

    loading: {
      type: Boolean,
    },
  },

  model: {
    prop: 'dialog'
  },

  methods: {
    onSelect () {
      this.$emit('select', this.selectedFiles)
      this.closeDialog()
      this.clearSelection()
    },

    onCancel () {
      this.closeDialog()
      this.clearSelection()
    },

    closeDialog () {
      this.$emit('input', false)
    },

    clearSelection () {
      this.$emit('selected-files-change', [])
    }
  }
}
</script>
