<!-- File details provided -->
<template>
    <v-card>
      <v-toolbar flat>
        <v-toolbar-title>File Path:  {{ file.filePath }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <slot name="toolbar">
        </slot>
      </v-toolbar>
      <v-card-subtitle>
      URL: <a :href="fullUrl" target="_blank"> {{ fullUrl }}</a>
      </v-card-subtitle>
      <v-card-text>
        <v-container>
       <v-row>
         <v-col sm="12" md="8">
           <ImgKit :path="file.filePath" style="max-width: 100%;"/>
         </v-col>
         <v-col sm="12" md="4">
           <span class="text-subtitle-2">Details:</span>
           <div v-if="loading" class="d-flex py-8 justify-center">
           <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </div>
          <template v-else>
            <ul>
              <li v-for="(val, key) in metadataList" :key="key">{{ key }}: {{ val}}</li>
            </ul>
          </template>

         </v-col>
        </v-row>
      </v-container>
      </v-card-text>
    </v-card>
</template>

<script>
import { imgUrl } from 'shared/utils'

export default {
  props: {
    file: {
      type: Object,
      required: true,
    },
  },

  data () {
    return {
      metadata: null,
      loading: false,
    }
  },

  computed: {
    fullUrl () {
      return imgUrl(this.file.filePath)
    },

    metadataList () {
      if(!this.metadata) return {}
      let { height, width, size, format, quality, tags } = this.metadata
      return {
        Width: width + " px",
        Height: height + " px",
        Size: size,
        Format: format,
        Quality: quality,
        Tags: tags,
      }
    }

  },

  methods: {
    async loadMetadata (file) {
      this.loading = true
      try {
        this.metadata = await this.$axios.$get('/api/media-metadata', {params: {fileId: file.fileId}})
      } catch (error) {
        console.log('%o', error)
      } finally {
        this.loading = false
      }
    },
  },

  watch: {
    file: {
      handler: function (val) {
        this.loadMetadata(val)
      },

      immediate: true,
    }
  }

}
</script>
