<template>
  <v-dialog v-model="viewDialog">
    <MediaFileDetails v-if="file" :file="file" >
      <template v-slot:toolbar>
        <v-btn
          small
          icon
          class="mr-2"
          @click="closeDialog"
          ><v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </MediaFileDetails>
  </v-sheet>
  </v-dialog>
</template>

<script>
export default {
  props: {
    file: {
      type: Object,
    },

    dialog: {
      type: Boolean,
    },
  },

  model: {
    prop: "dialog"
  },

  methods: {
    closeDialog () {
      this.$emit('input', false)
    },
  },

  computed: {
    viewDialog: {
      get () {
        return this.dialog
      },

      set (val) {
        this.$emit('input', val)
      }
    },
  }
}
</script>
