<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
  <template v-slot:activator="{ on, attrs }">
    <v-btn
      color="primary lighten-2"
      dark
      v-bind="attrs"
      v-on="on"
      fab
      :title="browseLabel"
    >
    <v-icon>mdi-file-plus-outline</v-icon>
    </v-btn>
  </template>

    <MediaRlEditor v-slot="{content, path, on, loading, error, isRootLevel, selectedFiles}">
  <v-card class="pb-8">
    <v-toolbar flat dense>
      <v-spacer></v-spacer>
      <v-btn icon small @click="closeDialog" class="mr-2 mt-n2" title="Close dialog"><v-icon small>mdi-close</v-icon></v-btn>
    </v-toolbar>
      <v-container class="pb-8 mt-n3">
          <v-row dense>
            <v-col cols="12" sm="12" md="4">
              <MediaFolderPathForm
                :isRootLevel="isRootLevel"
                :loading="loading"
                :path="path"
                v-on="on"
              />
            </v-col>
            <v-col cols="12" sm="12">
              <MediaFoldersListForm
                :items="content.folders"
                :selectedFiles="selectedFiles"
                :isRootLevel="isRootLevel"
                :loading="loading"
                :path="path"
                v-on="on"
              />
            </v-col>

            <v-col cols="12" sm="12">
              <MediaFilesListForm
                :items="content.files"
                :selectedFiles="selectedFiles"
                :loading="loading"
                :singleSelect="singleSelect"
                v-on="on"
                dense
              />
            </v-col>

            <v-col cols="12" sm="12">
            <MediaFilesSelectDialogBtns
              v-model="dialog"
              :selectedFiles="selectedFiles"
              :loading="loading"
              v-on="on"
              @select="onSelect"
            />
          </v-col>
        </v-row>

      </v-container>
  </v-card>
  </MediaRlEditor>
  </v-dialog>
</template>

<script>

export default {
  props: {
    singleSelect: {
      type: Boolean,
    },

    btnBrowseTxt: {
      type: Array,
      default: () => ["Browse File", "Browse Files"]
    },
  },

  data () {
    return {
      dialog: false,
    }
  },

  computed: {
    browseLabel () {
      return this.singleSelect ? this.btnBrowseTxt[0] : this.btnBrowseTxt[1]
    },
  },

  methods: {
    onSelect (selectedFiles) {
      this.$emit('selected-files', selectedFiles)
    },

    closeDialog () {
      this.dialog = false;
    },
  }
}
</script>
