<template>
  <v-card flat>
    <v-card-text class="d-flex">
      <template v-if="loading">
        <v-card flat width="150">
          <v-card-text class="d-flex justify-center align-center">
          <v-progress-circular indeterminate width="3" color="primary"></v-progress-circular>
          </v-card-text>
        </v-card>
      </template> <!-- if loading -->

      <template v-else>
      <template v-if="items.length">
          <v-card v-for="f in items"
          :key="f.folderPath"
          class="mr-4"
          >
          <v-card-text class="d-flex justify-center pb-0">
            <v-btn @click="onSelect(f.folderPath)" icon :title="f.folderPath"><v-icon>mdi-folder</v-icon></v-btn>
          </v-card-text>
          <v-card-actions class="justify-center text-caption">

            <a @click="onSelect(f.folderPath)" class="text-caption" style="max-width: 100%;" :title="f.folderPath">{{ f.name }}</a>
          </v-card-actions>
        </v-card>
      </template>

      <template v-else>
        <v-card flat>
          <v-card-text class="text-disabled">
            No folders found
          </v-card-text>
          <v-card-actions>
          </v-card-actions>
        </v-card>
      </template>
    </template><!-- if no loading -->
  </v-card-text>
</v-card>
</template>


<script>

export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },

    path: {
      type: String,
      default: '/'
    },

    isRootLevel: {
      type: Boolean,
    },

    loading: {
      type: Boolean
    },

    editMode: {
      type: Boolean
    },

    selectedFiles: {
      type: Array,
    },
  },

  components: {
  },

  computed: {
    currentPath: {
      get () {
        return this.path
      },

      set (val) {
        this.$emit('change-path', val ? val : '/')
      }
    }
  },

  methods: {
    onSelect (path) {
      this.$emit('change-path', path)
    },

    upOneLevel () {
      this.$emit('path-one-level-up')
    }
  }
}
</script>
