<template>
    <div class="d-flex align-center">
      <v-btn :disabled="isRootLevel" icon small @click="upOneLevel" title="Go to parent folder" class="mr-2"><v-icon small>mdi-folder-upload-outline</v-icon></v-btn>
      <v-text-field
        v-model="currentPath"
        dense
        class="mt-3"
      ></v-text-field>
    </div>
</template>


<script>

export default {
  props: {
    path: {
      type: String,
      default: '/'
    },

    isRootLevel: {
      type: Boolean,
    },

    loading: {
      type: Boolean
    },
  },

  computed: {
    currentPath: {
      get () {
        return this.path
      },

      set (val) {
        this.$emit('change-path', val ? val : '/')
      }
    }
  },

  methods: {
    upOneLevel () {
      this.$emit('path-one-level-up')
    }
  }
}
</script>
