<template>
  <v-card height="100%">
    <v-card-title class="text-caption text-no-wrap">
      <span style="overflow: hidden;" :title="item.name">{{ item.name | shortenTxt(fileNameMax) }}</span>
    </v-card-title>

    <v-card-text :style="imgContainerStyle">
      <MediaViewer
        :path="item.filePath"
        :transform="transform"
      />
    </v-card-text>

    <v-card-actions class="py-0">
      <v-checkbox dense v-model="selectedFile" :value="item"/>
      <v-spacer></v-spacer>
      <v-btn v-if="showViewBtn" icon small title="View File Details" @click="$emit('view-details')"><v-icon small>mdi-eye</v-icon></v-btn>
      <v-btn v-if="showDeleteBtn" icon small title="Delete File" @click="$emit('delete')"><v-icon small>mdi-trash-can-outline</v-icon></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },

    selected: {
      type: Array,
      default: () => []
    },

    fileNameMax: {
      type: [Number, String],
      default: 35,
    },

    imageSize: {
      type: Array,
      default: () => [400, 300] // width, height
    },

    imgTransformation: {
      type: Object,
    },

    showDeleteBtn: {
      type: Boolean,
    },

    showViewBtn: {
      type: Boolean,
    }
  },

  model: {
    prop: 'selected',
    event: 'change'
  },

  computed: {
    imgContainerStyle () {
      return {}
    },

    transform () {
      return this.imgTransformation ? this.imgTransformation : [{width:this.imageSize[0], height:this.imageSize[1], }]
    },

    selectedFile: {
      get () {
        return this.selected
      },

      set (val) {
        console.log('selected %o', val)
        this.$emit('change', val)
      }
    }
  },

  filters: {
    shortenTxt (val, maxLength) {
      return val.length > maxLength? val.substring(0, maxLength) + "..." : val
    },
  },
}
</script>
