<template>
  <v-hover
    v-slot="{ hover }"
  >
  <v-card
    :width="width"
    :flat="flat"
  >
    <v-card-text class="d-flex flex-column justify-center align-center">
    <MediaViewer
      width="100%"
      :path="file.filePath"
      :transform="transform"
    />
    <div class="pt-2" v-if="!hideTitle">
      <v-text-field label="Title" v-model="file.title" dense/>
    </div>

    <div v-if="!hideDescription">
      <v-textarea label="Description" v-model="file.description" dense rows="3"/>
    </div>

    </v-card-text>
    <v-card-actions class="mt-n8">
      <v-btn icon small title="Drag to reorder" :class="reorderHandlerClass" v-if="showReorderHandler && hover"><v-icon small>mdi-drag-vertical</v-icon></v-btn>
      <v-btn icon small disabled style="opacity: 0;"><v-icon small dark>mdi-pencil</v-icon></v-btn> <!-- just a placer to avoid resizing the card actions on hover -->
      <v-spacer></v-spacer>
      <template v-for="a in actions">
      <v-btn
      v-show="hover"
      :key="a.emit"
      icon
      small
      @click="$emit(a.emit)"
      :title="a.title"
      >
        <v-icon small>{{ a.icon}}</v-icon>
      </v-btn>
      </template>
    </v-card-actions>
  </v-card>
</v-hover>
</template>


<script>
export default {
  props: {
    file: {
      type: Object,
      required: true,
    },

    transform: {
      type: Array,
      default: () => []
    },

    width: {
      type: [Number, String],
      default: '275px',
    },

    flat: {
      type: Boolean,
    },

    showReorderHandler: {
      type: Boolean,
    },

    reorderHandlerClass: {
      type: String,
      default: 'handler'
    },

    hideTitle: {
      type: Boolean,
    },

    hideDescription: {
      type: Boolean,
    },
  },

  data () {
    return {
      actions: [
        { icon: 'mdi-information-outline', emit: 'info-item' , title: "File path: " + this.file.filePath},
        { icon: 'mdi-eye', emit: 'view-item', title: 'View image' },
        { icon: 'mdi-trash-can-outline', emit: 'delete-item', title:'Delete item' },
      ],
    }
  },
}
</script>
