<template>
  <v-app>

    <CoreTheAppBar
    />

    <CoreTheDrawer
    :menu="items"
    />

    <v-main>
      <v-container>
          <nuxt />
      </v-container>
    </v-main>

    <CoreTheFooter />

  </v-app>
</template>

<script>
export default {
  middleware: ['auth', 'is-admin'],

  data () {
    return {
      items: [
        {
          icon: 'mdi-view-dashboard-outline',
          title: 'Home',
          to: '/'
        },

        {
          icon: 'mdi-draw',
          title: 'Products',
          to: '/products'
        },

        {
          icon: 'mdi-book-open-page-variant',
          title: 'Pages',
          to: '/pages'
        },

        {
          icon: 'mdi-folder-multiple-image',
          title: 'Media',
          to: '/media'
        },

        {
          icon: 'mdi-cash-multiple',
          title: 'Orders',
          to: '/orders'
        },


        {
          icon: 'mdi-account-multiple-outline',
          title: 'Users',
          to: '/users'
        },

        {
          icon: 'mdi-cog',
          title: 'Settings',
          children: [
            // {
            //   icon: 'mdi-shape-outline',
            //   title: 'Post Categories',
            //   to: '/categories'
            // },

            {
              icon: 'mdi-tag-multiple-outline',
              title: 'Tags',
              to: '/tags'
            },

            {
              icon: 'mdi-crown',
              title: 'Brands',
              to: '/brands'
            },

            {
              icon: 'mdi-sitemap',
              title: 'Categories',
              to: '/categories'
            },

            {
              icon: 'mdi-account-group',
              title: 'Families',
              to: '/families'
            },



            // {
            //   icon: 'mdi-sale',
            //   title: 'Discounts',
            //   to: '/discounts'
            // },
            //
            // {
            //   icon: 'mdi-gift-outline',
            //   title: 'Cupons',
            //   to: '/cupons'
            // },

            {
              icon: 'mdi-shape',
              title: 'Product Variable Features',
              to: '/variable-features'
            },


            {
              icon: 'mdi-account-cog',
              title: 'Shop Setup',
              to: '/settings/company'
            },
          ]
        },

        // {
        //   icon: 'mdi-cog-refresh',
        //   title: 'Site Rebuild',
        //   to: '/site-rebuild'
        // },
      ],
    }
  }
}
</script>
