<template>
  <v-card
  :bind="$attrs"
  class="pa-8"
  >
  <v-card-title class="justify-center text-h2 py-8">
    Invoice
  </v-card-title>

  <v-card-text>
    <div class="d-flex justify-space-between">

    <InvoiceAddressPerma
    :item="order.providerData"
    />

    <div class="text-subtitle-1 font-weight-bold">
        <div calss="order-date">Date {{ order.createdAt | formatDate }}</div>
        <div class="order-no">Order no. {{ order.no }}</div>
    </div>
  </div>

  <v-divider class="my-8"></v-divider>

  <div class="text-subtitle-1 font-weight-bold">Billing Address</div>
  <InvoiceAddressClient
    :item="order.billingAddress"
    title="Billing Address"
    class="mb-12"
  />

    <v-data-table
      :headers="headers"
      :items="order.items"
      hide-default-footer
    >

    <template v-slot:item.price="{ value }">
        {{ value | formatPrice }}
    </template>

    <template v-slot:item.total="{ value }">
        {{ value | formatPrice }}
    </template>

    <template v-slot:item.itemGroup="{ value }">
        {{ productByGroup(value) }}
    </template>

    <template v-slot:footer="{ items }">
      <div>
        <v-divider></v-divider>
        <div class="d-flex justify-end font-weight-bold text-subtitle-1 py-8">

          <div>Total {{ order.total | formatPrice }}</div>
        </div>
      </div>
    </template>

    </v-data-table>

</v-card-text>
<v-card-actions class="justify-end pb-12">
  <FormTimestamp
    :createdAt="order.createdAt"
    :updatedAt="order.updatedAt"
    class="mt-8"
  />
</v-card-actions>
</v-card>
</template>

<script>
import { formatDate, formatPrice,  } from 'shared/utils'

export default {
  props: {
    order: {
      type: Object,
      required: true,
    },
  },

  data () {
    return {
      headers: [
        {
          text: 'SKU',
          align: 'start',
          sortable: false,
          value: 'sku',
        },

        {
          text: 'Name',
          sortable: false,
          value: 'name',
        },

        {
          text: 'Description',
          sortable: false,
          value: 'description',
        },

        {
          text: 'Type',
          sortable: false,
          value: 'itemGroup',
        },

        {
          text: 'Price',
          sortable: false,
          value: 'price',
        },

        {
          text: 'Qty.',
          sortable: false,
          value: 'qty',
        },

        {
          text: 'Total',
          sortable: false,
          value: 'total',
        },
      ],
    }
  },

  methods: {
    productByGroup (value) {
      return value == 'product' ? 'digital product' : 'online consulting'
    },
  },

  filters: {
    formatDate,
    formatPrice,
  },
}
</script>
