<template>
  <div class="page">
      <v-container>
    <template v-if="$fetchState.pending">
      <div class="text-h6 text-center">
        loading..
    </div>
    </template>

    <template v-else>
      <InvoiceDisplay
      :order="editedItem"
      />
    </template>
    </v-container>
  </div>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  methods: {
    getDefaultItem () {
      return {
        no: '',
        status: '',
        title: '',
        items: [],
        billingAddress: {},
        deliveryAddress: {},
        providerData: {},
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`api/orders/${id}`)
    },
  },
}
</script>
