<template>
  <MediaRlEditor v-slot="{content, path, on, loading, error, isRootLevel, selectedFiles}">
   <v-card flat>
      <v-toolbar proeminent class="align-center">
        <MediaFolderPathForm
          :isRootLevel="isRootLevel"
          :loading="loading"
          :path="path"
          v-on="on"
        />
       <v-spacer></v-spacer>
        <MediaFileUploadsSelector
          :path="path"
          multiple
          style="width: 250px;"
          class="mt-2"
          v-on="on"
        />
        
       <MediaFileManagementMenu
          :selectedFiles="selectedFiles"
          :isRootLevel="isRootLevel"
          v-on="on"
        />
    </v-toolbar>
    <v-card-text>
    <MediaFoldersListForm
      :items="content.folders"
      :selectedFiles="selectedFiles"
      :isRootLevel="isRootLevel"
      :loading="loading"
      :path="path"
      v-on="on"
    />

    <MediaFilesListForm
      :items="content.files"
      :selectedFiles="selectedFiles"
      :loading="loading"
      :singleSelect="false"
      v-on="on"
      showCardDeleteBtn
      showCardViewBtn
    />
    </v-card-text>
  </v-card>
  </MediaRlEditor>
</template>

<script>

export default {
  data () {
    return {
      uploadView: false,
    }
  },

  methods: {
    showUpload () {
      this.uploadView = true
    }
  }
}
</script>
