// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.handler {
  cursor: move;
}

.grabbing-cursor {
  cursor: grabbing;
}
