<template>
  <v-row>
    <v-col sm="12" class="d-flex justify-center">
      <CategoryTreeForm
        :item="editedItem"
        @edit="editItem"
        @update-item="onUpdateItem"
        @new-item="newItem"
        :formState="formState"
      />
    </v-col>


  </v-row>
</template>

<script>
import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'
import { jsonCopy } from "shared/utils"

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      editedCategory: this.getDefaultCategory(),
    }
  },

  async fetch () { // overwrite ItemEditorMixin default fetch, no id specified here
    try {
      let item = await this.loadItem()
      this.updateData(item, this.parseLoadedItem)
      this.$emit('item-loaded', this.editedItem)
    } catch (error) {
      // console.log('fetch error %o', error)
      this.$nuxt.error(parseErrorObj(error))
    }
  },

  computed: {
    isNew () {
      return false  // overwrit the mixin, categories already are always in 'edit' state
    },
  },

  methods: {
    getDefaultItem () {
      return []
    },

    getDefaultCategory () {
      return {name: '', order: 1000}
    },

    async loadItem () {
      return this.$axios.$get(`/api/categories`)
    },

    async updateItem (item) {
      return this.$axios.$put(`/api/categories`, {items: item})
    },

    editItem (id) {
      this.$router.push({path: `/category-edit/${id}` })
    },

    newItem () {
      this.$router.push({path: `/category-edit` })
    },

    reload () {
      this.resetEditedCategory()
      this.$fetch()
    },

    cancel () {
      this.resetEditedCategory()
    },

    resetEditedCategory () {
      this.editedCategory = this.getDefaultCategory()
    },
  },

  watch: {
    editedItem: function (val) {
      this.resetEditedCategory()
    }
  }
}
</script>
