<template>
  <CartRlItemEditor
    :item="item"
    :limitToOne="limitToOne"
    v-slot="{ price, regularPrice, currency, addToCart, product, quantity, updateQuantity, enableAddToCart }"
    @added-to-cart="$emit('added-to-cart')"
    >
    <div>
    <div class="d-flex align-center product-price-container">
      <div v-if="regularPrice" class="error--text text-body-2 font-weight-bold text-decoration-line-through mx-2">{{ regularPrice | formatPrice }}</div> {{ price | formatPrice }}
    </div>
    <div class="d-flex align-center">
      <div  style="width: 3em;" class="mr-8">
        <v-text-field type="number" min="1" label="Qty." :value="quantity" @input="updateQuantity"></v-text-field>
      </div>
      <v-btn @click="addToCart()" :disabled="!enableAddToCart" color="secondary">In den Warenkorb</v-btn>
    </div>
    </div>
  </CartRlItemEditor>
</template>

<script>

import { CartableItem, formatPrice } from 'shared/utils'

export default {
  props: {
    item: {
      type: CartableItem,
    },

    limitToOne: {
      type: Boolean,
    },
  },

  filters: {
    formatPrice,
  },
}
</script>
