<template>
  <v-card flat>
  <v-container>
    <v-row>
      <v-col sm="6" md="3">
        <v-img :src="imgSrc" />
      </v-col>
      <v-col sm="6" md="9" class="d-flex flex-column align-start">
        <div style="position: relative; width: 100%;"><div class="cart-item-name">{{ item.name }}</div>
        <v-btn
                @click="$emit('delete-item', item._id)"
                fab
                small
                absolute
                top
                right
                icon
                title="Remove from cart"
                class="mt-2"
                ><v-icon small>{{ mdiCloseCircle }}</v-icon></v-btn></div>
        <div class="text-body-2 text--secondary mb-auto" v-html="item.description"></div>
        <div class="d-flex justify-end" style="width: 100%;">
          <div class="mr-6 font-weight-bold text--secondary">Qty: {{ item.quantity }}</div>
          <div v-if="item.regularPrice" class="error--text text-decoration-line-through mx-2">{{ item.regularPrice | formatPrice }}</div>
          <div class="font-weight-bold mr-4">{{ item.price | formatPrice }}</div>
        </div>
      </v-col>

    </v-row>
  </v-container>

</v-card>
</template>

<script>
import { mdiCloseCircle } from '@mdi/js'
import { imgUrl, isProductVariation, formatPrice, parseDate, formatTime } from 'shared/utils'
export default {
  props: {
    item: {
      type: Object,
      required: true,
    }
  },

  data () {
    return {
      mdiCloseCircle,
    }
  },

  computed: {
    hasImg () {
      return this.item.image && this.item.image.filePath
    },

    imgSrc () {
      return this.hasImg ? imgUrl(this.item.image.filePath, [{widht: 200}]) : null
    },

    imagePath () {
      return this.item.image && this.item.image.filePath ? this.item.image.filePath : null
    },
  },

  filters: {
    formatPrice,
  },
}
</script>

<style lang="scss" scoped>

</style>
