<template>
  <v-card class="mx-auto">
    <v-toolbar flat>
      <v-toolbar-title>Items in Cart</v-toolbar-title>
    </v-toolbar>

    <template v-if="cartIsEmpty">
      <div class="text-h4">The cart is empty</div>
    </template>

    <template v-else>
      <template v-for="(item, index) in items">
        <CartListItem
          :key="item.id"
          :item="item"
          @delete-item="onDeleteCartItem"
          transition="slide-x-transition"
          class="py-8"
        />
        <v-divider></v-divider>
        </template>

        <div class="font-weight-bold pa-4 text-right">Total: {{ total }}</div>
    </template>
  </v-card>
</template>

<script>
import { mapGetters, mapMutations } from "vuex"
import { formatPrice } from 'shared/utils'

export default {
  mixins: [ ],

  props: {
    items: {
      type: Array,
      required: true
    }
  },

  data () {
    return {
    }
  },

  computed: {
    ...mapGetters('cart',
      ['itemCartQuantity', 'cartTotal', 'isCartEmpty']
    ),

    cartIsEmpty () {
      return !this.itemCartQuantity
    },

    total () {
      return formatPrice(this.cartTotal)
    },
  },

  methods: {
  ...mapMutations('cart', ['addItemToCart', 'addOneItemToCart', 'removeItemFromCart', 'removeOneItemFromCart', 'updateCartItem']),

    onDeleteCartItem (itemId) {
      this.removeItemFromCart(itemId)
    },
  }
}
</script>

<style scoped>
.qty {
  width: 2em;
}

.v {
  border: 1px solid red;
}
.full-width{
  width: 100%;
}
</style>
