<template>
    <v-btn icon @click="$emit('show-cart')">
      <v-icon>
        {{ mdiCartOutline }}
      </v-icon>

      <v-badge
        v-if="cartCount"
        color="success"
        :content="cartCount"
          >
      </v-badge>
    </v-btn>
</template>

<script>
import { mapState, mapGetters } from "vuex"
import { mdiCartOutline } from '@mdi/js'

export default {

  data () {
    return {
      mdiCartOutline,
    }
  },

  computed: {
    ... mapGetters('cart', ["cartCount"])
  }
}
</script>
