<template>
<v-card>
    <v-toolbar flat>
      <v-toolbar-title>Cart Overview</v-toolbar-title>
    </v-toolbar>

  <v-card-text>
    <div  class="font-weight-bold my-2">
    Subtotal: {{ cartSubtotal| formatPrice }}
    </div>

    <div class="d-flex">
      <v-text-field
        label="Cupon Code"
        v-model.lazy="cuponCode"
        :error-messages="cuponError"
        :loading="cuponLoading"
      />
    </div>
    <template v-if="cupon">
      <div  class="font-weight-bold primary--text my-2">
        Discount: {{ cupon.discount }}%
      </div>
    </template>
    <div  class="font-weight-bold my-2">
      Total: {{ cartTotal | formatPrice }}
    </div>
  </v-card-text>
  <v-card-actions class="justify-center"><v-btn color="secondary" @click="$emit('checkout')">Checkout</v-btn></v-card-actions>
</v-card>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex"
import { formatPrice , parseErrorObj } from 'shared/utils'

export default {
  data () {
    return {
    //  cuponCode: '',
      cuponError: '',
      cuponLoading: false,
    }
  },

  asyncData () {

  },

  fetch () {

  },

  computed: {
    ...mapState('cart',
      ['cupon']
    ),
    ...mapGetters('cart',
      ['itemCartQuantity', 'cartTotal',  'cartSubtotal', 'isCartEmpty']
    ),

    cuponCode: {
      get () {
        return this.cupon ? this.cupon.code : ''
      },

      set (val) {
        this.loadCupon(val)
      }
    },
  },

  filters: {
    formatPrice,
  },

  methods: {
    ...mapMutations('cart', [
      'setCupon',
      'removeCupon',
    ]),

    async loadCupon (val) {
      this.cuponError = null
      this.cuponLoading = true
      if(!val) return this.removeCupon()
      try {
        let cupon = await this.$axios.$get(`${process.env.apiPerma}/cupon-by-code/${val}`)
        this.setCupon(cupon)
      } catch (error) {
        this.removeCupon()
        this.cuponError = "Invalid code"
      } finally {
        this.cuponLoading = false
      }
    }
  },
}
</script>
