<template>
  <UserLoginSignUp
    :isSignupForm="true"
    :error="error"
    :validateUnique="uniqueEmail"
    @signup="onSignUp"
    @goto-login="$router.push({path:'/login'})"
  />
</template>

<script>

import { parseErrorObj } from 'shared/utils'

export default {
  data () {
    return {
      error: '',
    }
  },

  methods: {
    async uniqueEmail (val) {
      try {
        const params = { value: val, field: 'email' }
        return this.$axios.$get('api/unique-user', { params })
      } catch (error) {
        const { statusCode, message } = parseErrorObj(error)
        this.error = statusCode == '404' ? "Error checking unique email" : message
      }
    },

    async onSignUp (data) {
      this.error = ""
      try {
        const { email, password } = data
        const response = await this.$axios.$post('api/users', { item: { email, password } })
        const token = await this.$auth.loginWith('local', { data: { email, password } })
        this.$router.push({ path: '/' })
      } catch (error) {
        const { statusCode, message } = parseErrorObj(error)
        this.error = statusCode == '404' ? "Invalid email or password" : message
      }
    },
  },
}
</script>
