<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      Wellcome
    </v-col>
  </v-row>
</template>

<script>
export default {
  components: {

  }
}
</script>
