<template>
   <v-snackbar
      v-model="snack"
      :timeout="timeout"
      :color="color"
      :centered="centered"
    >
      <div class="text-center">{{ text }}</div>
    </v-snackbar>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
    },

    text: {
      type: String,
      default: 'Done'
    },

    timeout: {
      type: Number,
      default: 1200,
    },

    color: {
      type: String,
      default: 'primary'
    },

    centered: {
      type: Boolean,
    },
  },

  model: {
    prop: 'value'
  },

  computed: {
    snack: {
      get () {
        return this.value
      },

      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
