<template>
  <form>
    <div class="d-flex align-center">
      <div class="mr-4" style="width: 20rem;">
    <v-file-input
      v-model="editedItem.newFile"
      :label="title"
      truncate-length="20"
      :error-messages="error"
    ></v-file-input>
  </div>

    <v-btn @click="onUpload">Upload</v-btn>

    <div v-if="editedItem.file" class="ml-12">{{ editedItem.file }} <v-btn icon small @click="deletePackage"><v-icon small color="error">mdi-close-circle</v-icon></v-btn></div>
  </div>
  <v-dialog
    v-model="noFileDialog"
    max-width="250"
  >
  <v-card class="pt-8 pb-4 px-4">
    <v-card-text>
    Please attach a file.
  </v-card-text>
    <v-card-actions class="justify-center"><v-btn color="primary" @click="dialog = false">OK</v-btn></v-card-actions>
  </v-card>
  </v-dialog>

  <DialogConfirmation
    v-model="deleteDialog"
    message="Do you want to delete package files?"
    @confirm="onDeleteConfirm"
  />
  </form>

</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"

export default {
  mixins: [ItemFormMixin],

  props: {
    title: {
      type: String,
      default: "Product Download Files Package"
    },
  },

  data () {
    return {
      noFileDialog: false,
      deleteDialog: false,
    }
  },

  methods: {
    onUpload () {
      if(!this.editedItem.newFile) {
        return this.dialog = true
      }
      this.$emit('upload-file', this.editedItem.newFile)
    },

    deletePackage () {
      this.deleteDialog = true
    },

    onDeleteConfirm () {
      this.$emit('delete-file')
    },
  },
}
</script>
