<template>
  <UploadPackageForm
    :item="download"
    @upload-file="onUpload"
    @delete-file="onDelete"
    :error="error"
  />
</template>

<script>

import { parseErrorObj } from 'shared/utils'

export default {
  props: {
    filePath: {
      type: String,
    },
  },

  model: {
    prop: 'filePath',
  },

  data () {
    return {
      error: null,
    }
  },

  asyncData () {

  },

  fetch () {

  },

  computed: {
    download () {
      return {
        file: this.filePath
      }
    }
  },

  methods: {
    async onUpload (val) {
      console.log('editor upload %o', val)
      const formData = new FormData()
      formData.append('packfile', val)
      try {
        const result = await this.$axios.$post('/api/upload-package', formData, {headers: {'Content-Type': 'multipart/form-data'}})
        this.$emit('input', result)
      } catch (error) {
        this.error = parseErrorObj(error).message
      }
    },

    async onDelete () {
      try {
        let result = await this.$axios.$post('/api/delete-package', { filePath: this.filePath})
        console.log('result %o', result)
        this.$emit('input', null)
      } catch (error) {
        this.error = parseErrorObj(error).message
      }
    },
  },
}
</script>
