<template>
  <div>
    <template v-for="(item, index) in items">
      <v-btn :key="index" icon small @click="$emit(item.emit)" class="mr-2"><v-icon :title="item.title" small>{{ item.icon }}</v-icon></v-btn>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [
        {icon: 'mdi-pencil', emit: 'edit-item', title: "Edit"},
        {icon: 'mdi-delete', emit: 'delete-item', title: "Delete"},
      ]
    }
  }
}
</script>
