<template>
  <div class="page">
    <v-container id="page-faq">
      <v-row>
        <v-col cols="12">
          <h1 class="text-h1 page-title">
            FAQ
          </h1>
        </v-col>

        <v-col sm="12" md="8">
          <h2 class="text-h2">
            Kilohertz
          </h2>

          <div class="paragraph">
            <div class="p-title">
              Who Kilohertz is for
            </div>
            If you are a sustainability inclined individual who is thinking of designing his own house, then Kilohertz is for you. If you are a permaculture buff who needs help defining the layouts of his "Zone 0 and beyond", I'm here to help. If you are a professional (permaculture designer, landscape designer, natural builder) who wants a more focused approach or some real-time 3D visualizations to get a better grasp at a project, please write to me via <nuxt-link to="/contact">contact form</nuxt-link>.
          </div>


          <div class="paragraph">
            <div class="p-title">
              Who is this not for
            </div>
            If you are interested in pre-made plans that you just handle to the construction team, then this is probably not the place for you. I also do not do on-demand architecture plans, as I focus on helping those individuals who want to be deeply involved in the creation of their future living spaces. That frequently involves a <span class="font-italic">hands-on approach</span> that leads to better, greener buildings.
          </div>


          <div class="paragraph">
            <div class="p-title">
              Why I do it
            </div>
            There is a disconnect lately in our relationship with buildings. Architecture has become a luxurious means of affirming our status and both comfort and the planet are suffering from it. Kilohertz strives to help those dreamers out there who know there is a better, simpler way to make good homes for people to thrive in. It's not easy, but it's a pretty funky approach and I want to help.
          </div>


          <div class="paragraph">
            <div class="p-title">
              What's different
            </div>
            A regular architecture firm will have an interview with the client to set the building's needs. You'll discuss how many bedrooms you need, how big a kitchen and so on. Then they will disappear for a while and come back with a proposal. You'll give your opinion on that proposal and they will disappear again and so on a few times until they disappear for good and start drawing up the final plans with electric, plumbing, structure, etc. This can be great for some people. It's surely hassle-free. But it also usually leads to what is generally called an "architect house"; it reflects the architect's personality (and the owner's status). But how about we forgot status and just made good houses for ourselves?
          </div>

          <div class="paragraph">
            <div class="p-title">
              What type of projects are suited to the Kilohertz approach?
            </div>
            Kilohertz is a holistic design approach suited to all design scales. That being said, it is at its most useful in homestead-type, off-grid, natural building, and self-built home projects. It doesn't matter if the future build is new or a retrofit, or that it is a 200 sqm house or the size of a kitchen coop. The sentiment behind it is the same: to bring the most out of an envisioned space. The list of possibilities is therefore: sustainable family home for four, off-grid cabin, natural strawbale home, Earthship-type house, roundhouse, rammed earth passive solar home, waddle and daub outdoor kitchen, holiday cabin, brick house ecological retrofit, buried passive greenhouse, forest school shelter, workshop spaces, glamping, passive house, tiny house, prefabricated Structural Insulated Panels house, green-roofed garden storage, CLT panel building.
          </div>


          <h2 class="text-h2" id="online-sessions">
            The online sessions
          </h2>
          <div class="paragraph">
            <div class="p-title">
              How the session works
            </div>
            At the time and date that you booked your session , you and I will meet on <a href="https://whereby.com" target="_blank">whereby.com</a> (see how to join a meeting <a href="https://whereby.helpscoutdocs.com/article/424-join-a-meeting-you-were-invited-to" target="_blank">here</a>). This is an online video meeting platform with integrated screen-sharing. You will be prompted to “knock”, and they will allow you to enter the meeting and will be brought straight into the meeting. There will be three windows present: you, me and my computer screen. All the design of your project will be worked on together within these sessions.This way you get a deeper connection with that future space and less "beginner traps". It's a process of deep self-inquiry, as it goes beyond that superficial level of "I want a big house with a pool and lots of windows to the East".
          </div>


          <div class="paragraph">
            <div class="p-title">
              How long are the session packs valid for?
            </div>
            All packs are valid for three months (90 days) from the date of purchase.
          </div>


          <div class="paragraph">
            <div class="p-title">
              What do the session packs offer?
            </div>
            The 10-hour and the 20-hour packs are bookable 1-2 hour sessions that you can use in three ways: as a phone or video consulting session, as a one-on-one online work session, or as a "hired architect" service, in which I work on your project without you. The "hired architect" mode is reserved for final layout work like plan dimensioning or repetitive work like renders.
          </div>


          <div class="paragraph">
            <div class="p-title">
              How many hours should I book for my project?
            </div>
            Depending on the size of your project, its complexity, and the amount of detailing you will want to get into, you might need more or less one-on-one sessions. This is easily evaluated together in the initial consultation. Usually, the 10-hour pack is enough to get a first good grip on the project. People tend to take a break after that, to reassess the feasibility issues of the project, and come back after a month or so for a fine-tuning phase.
          </div>


          <div class="paragraph">
            <div class="p-title">
              Is there a money-back guarantee?
            </div>
            The initial consultation has a money-back guarantee, no questions asked. It is used to assess your project, to decide if I can help, and to determine an estimated timeline. It’s an opportunity to determine if Kilohertz is a good fit for you.
          </div>

          <div class="paragraph">
            <div class="p-title">
              I'm a professional, working in eco-building.
            </div>
            If you are a professional in need of long-term consulting contracts, please write to me <nuxt-link to="/contact">here</nuxt-link>.
          </div>


          <div class="paragraph">
            <div class="p-title">
              I'm not sure what I want to do, but this Kilohertz thing sounds great! Can we talk?
            </div>
            Of course! The one-on-one consultation sessions don't require a clear project. You can come with just a bunch of questions about buildings, space design, sustainability, or degrowth and we will be just fine. You are also welcome to join the tribe at <a href="https://Kilohertz.mn.co" target="_blank">Kilohertz.mn.co</a>.
          </div>


          <div class="paragraph">
            <div class="p-title">
              What can I do to streamline the process ahead of our one-on-one session?
            </div>
            These are some ideas you can go through before the first design session. They help save an enormous amount of time so that, when we meet, we can get going on solving your problems from the get-go. Read more about it in the <nuxt-link to="/guide/before-the-initial-session">"Before the initial session"</nuxt-link> page.
          </div>

          <h2 class="text-h2">
            The Plans
          </h2>
          <div class="paragraph">
            <div class="p-title">
              What are the plans in the store?
            </div>
            The <nuxt-link to="/shop">shop</nuxt-link> sells house plans that you can use off-the-shelf for your own project or with modifications. They are designed with Kilohertz design principles in mind. They are not material-specific but define a general range of possibilities. Also, they are reflective of a general bioclimatic approach, even though they lack relative positioning due to the obvious fact that they are not placed on any specific site. The trick after having acquired such a plan is then, of course, to place it on the land in such a way that it reflects those bioclimatic intentions, like placing North upwards.
          </div>

          <div class="paragraph">
            <div class="p-title">
              What format are the plans in?
            </div>
            The plans come in three packages. The Minimal Package is a simple pdf of the project. You can use that for planning applications in most countries, with minor changes. The basic plan is made up of the pdf from the Minimal Package plus the .dwg file of the project. This is a native AutoCad file, the standard in the industry. You need that for any contractor, plumber, electrical work, etc, where they have to work on top of an existing project. It is 3D-ready. The third package is meant for major changes to the project, like adaptations to your specific context. It includes a full 3D of the project, in SketchUp .skp format and in .3ds format and a SketchUp layout file. Read more at <nuxt-link to="/whats-in-each-package">What's in each package</nuxt-link>.
          </div>

          <div class="paragraph">
            <div class="p-title">
              Can I make further copies of the plans?
            </div>
            Yes. The plans come in electronic format so you can print as many copies as you want.
          </div>

          <div class="paragraph">
            <div class="p-title">
              What about cost estimates?
            </div>
            These plans are designed for international use. Cost estimates are very different depending on your location. From cost of labor to materials and transport, it is you and your builder who will have the most information.
          </div>

          <h2 class="text-h2">
            Other
          </h2>

          <div class="paragraph">
            <div class="p-title">
              Are you a registered architect?
            </div>
            I am a digital nomad. Which means that, even though I'm an architect, I am not registered as an architect in any country, but it also means I can work with you wherever you are. My consulting firm is registered in France as Ioana Maria Pupazan SIRET : 88214298700016.
          </div>

          <div class="paragraph">
            <div class="p-title">
              I can't afford your prices. What can I do?
            </div>
            Please don't hesitate to write to me explaining your project and your situation.
          </div>

          <div class="paragraph">
            <div class="p-title">
              You were talking about a  course. When will that be ready?
            </div>
            Not yet, but working towards it.
          </div>

          <h2 class="text-h2">
            The Community
          </h2>

          <div class="paragraph">
            <div class="p-title">
              Is the community free?
            </div>
es, the community is free. You are welcome to join here, at <a href="https://Kilohertz.mn.co" target="_blank">Kilohertz.mn.co</a> and share your story and your project. The more we share, the stronger we are.          </div>

          <div class="paragraph">
            <div class="p-title">
              Why not just make a facebook group?
            </div>
            Because I boycott Facebook.
          </div>

          <div class="paragraph">
            <div class="p-title">
              Can I use it as social media?
            </div>
  Well, no. The purpose of <a href="https://Kilohertz.mn.co" target="_blank">Kilohertz.mn.co</a> is to talk about our home projects and gather info and ideas around what it means to live in and around built spaces. Anything beyond that and we're loosing the meaning of the platform. So, no Instagram photos of your tomato patch...
          </div>


          <h2 class="text-h2">
            The Tools
          </h2>

          <div class="paragraph">
            <div class="p-title">
              SketchUp
            </div>
SketchUp is a 3D modeling computer program with a flat learning curve, at least in the beginning. That means people with no previous training in the tool can use it with minimal instruction to make basic designs and navigate them. It has drawbacks of course, the most important of which is the limited capabilities in constructing organic volumes. It doesn't mean you can't do wavy walls with SketchUp, only that it's not its strong point. Its strong points are speed and ease of use. Visit https://<a href="https://app.sketchup.com/app" target="_blank">app.sketchup.com/app</a>.
</div>

          <div class="paragraph">
            <div class="p-title">
              Whereby screen-share
            </div>
            Screen sharing of Kilohertz work is a crucial aspect of my workflow. Especially now, in between confinements, curfews and distancing measures, it's nice to be comfortable with online communication. Whereby is the tool I chose to help recreate the collaboration workflow specific to Kilohertz and it's doing a marvelous job: I can reach more people from all around the world and empower people to get intimate with the living spaces of their future. Which is nice.
For more info, visit <a href="https://whereby.com" target="_blank">whereby.com</a>.
          </div>

          <div class="paragraph">
            <div class="p-title">
              AutoCAD
            </div>
AutoCAD is the industry standard. Its native format is ".dwg" and it traditionally works in 2D, though lately, they have developed 3D capabilities. If a plumber or a constructor asks for plans, this is the format, though some will be fine with paper plans for most small projects.
          </div>

          <div class="paragraph">
            <div class="p-title">
              Mighty Networks
            </div>
Newest addition to the website, the community at <a href="https://Kilohertz.mn.co" target="_blank">Kilohertz.mn.co</a> is a fantastic way to exponentially  enlarge the influence of Kilohertz on the way people build their homes. By sharing and critiquing  each others projects,  we use the magic of crowd wisdom to move forward.
          </div>


      </v-col>

      <v-col sm="12" md="4">
        <SidebarBlog
          :exclude="['category', 'tag']"
        />
      </v-col>
    </v-row>

  </v-container>

  <WidgetEmailCall class="my-12" />
</div>
</template>

<script>
export default {
  head () {
    return {
      title: "Frequently asked questions about Kilohertz, online sessions and plans.",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'relation between permaculture and architecture, how to design you own home, architecture consulting online' },
        { hid: 'description', name: 'description', content: 'A page that answers the questions of those wishing an online architecture coaching to design and build their own sustainable home. From ready made home plans to pdf guides and checklists, blog and online community, I try to build a strong foundation for your home project.' },
      ]
    }
  },
}
</script>
