<!-- <template>
  <div>
    <h1>{{ title }}</h1>

    <div v-for="p in products" :key="p._id">
      {{ p }}
    </div>
  </div>
</template> -->

<script>
import { parseErrorObj } from 'shared/utils'

export default {
  props: {
    items: {
      type: Array,
      default: () => [] // [{productId, variationsSkus: []}, ...]
    },

    title: {
      type: String,
    },
  },

  data () {
    return {
      products: [],
      error: null,
      loading: false,
    }
  },

  async fetch () {
    this.error = null
    this.loading = true
    try {
      const params = this.items.reduce((acc, e) => {
        acc.products.push(e.productId)
        if(e.variationsSkus && e.variationsSkus.length){
          acc['v_' + e.productId] = e.variationsSkus
        }
        return acc
      }, { products: [] } )
      console.log('params %o', params)
      this.products = await this.$axios.$get(`/api/linked-products`, {params})
    } catch (error) {
      console.log('error %o', error)
      this.error = parseErrorObj(error)
    } finally {
      this.loading = false
    }
  },

  render () {
    return this.$scopedSlots.default({
      products: this.products,
      loading: this.loading,
      error: this.error,
    })
  }
}
</script>
