<template>
  <div class="d-flex align-center">
  <v-select
    :items="actions"
    label="Bulk Actions"
    :disabled="disabled"
    v-model="selected"
    return-object
  ></v-select>

    <v-btn small color="primary" :disabled="disabled" class="ml-4" @click="onApply">Apply</v-btn>

    <v-dialog
    v-model="noActionSelected"
    max-width="240"
    >
      <v-card
      >
        <v-card-text class="pa-8 text-center">
          Please select an action.
        </v-card-text>

        <v-card-actions class="justify-center pb-4">
          <v-btn small color="primary" @click="noActionSelected = false">Close</v-btn>
        </v-card-actions/>
      </v-card>
    </v-dialog>

    <DialogConfirmation
    v-model="confirmationDialog"
    :message="confirmationMsg"
    @confirm="onConfirmation"
    @cancel="onCancel"
    />
  </div>
</template>


<script>
  export default {
    props: {
      actions: {
        type: Array,
        default: () => [
          {text: "Delete items", value: "delete-items", event: "delete-items", confirmationMsg: "Delete selected items?" },
        ]
      },

      disabled: {
        type: Boolean,
      }
    },

    data () {
      return {
        selected: null,
        noActionSelected: false,

        confirmationDialog: false,
        confirmationMsg: '',
      }
    },

    methods: {
      onApply () {
        if(!this.selected){
          return this.noActionSelected = true
        }

        if(this.selected.confirmationMsg) {
          this.confirmationMsg = this.selected.confirmationMsg
          this.confirmationDialog = true
        }else {
          this.onConfirmation()
        }
      },

      onConfirmation () {
        if(!this.selected || this.selected.event === undefined) return
        this.$emit(this.selected.event)
        this.reset()
      },

      onCancel () {
        this.reset()
      },

      reset () {
        this.selected = null
      },
    }

  }
</script>
