<template>
  <div>
  <v-menu
  v-model="menu"
  :close-on-content-click="false"
  :nudge-right="40"
  transition="scale-transition"
  offset-y
  min-width="290px"
>
  <template v-slot:activator="{ on, attrs }">
    <v-text-field
      v-model="date"
      :label="label"
      prepend-icon="mdi-calendar"
      readonly
      v-bind="attrs"
      v-on="on"
      clearable
    ></v-text-field>
  </template>
  <v-date-picker
    v-model="date"
    @input="menu = false"
  ></v-date-picker>
</v-menu>
</div>
</template>

<script>
import { formatDate } from "shared/utils"

export default {
  props: {
    value: {
      type: String,
    },

    label: {
      type: String,
      default: "Date"
    },
  },

  data () {
    return {
      menu: false,
    }
  },

  computed: {
    date: {
      get: function () {
        return this.value ? formatDate(this.value) : null
      },

      set: function (val) {
        this.$emit('input', val)
      }
    }
  },
}
</script>
