<template>
  <div>
  <v-menu
  bottom
  left
>
  <template v-slot:activator="{ on, attrs }">
    <v-btn
      icon
      v-bind="attrs"
      v-on="on"
      :disabled="disabled"
      :small="small"
    >
      <v-icon :small="small">mdi-dots-vertical</v-icon>
    </v-btn>
  </template>

  <v-list :dense="small">
    <v-list-item
      v-for="item in items"
      :key="item.event"
      link
      @click="actionSelected(item)"
    >
      <v-list-item-title v-text="item.name"></v-list-item-title>
    </v-list-item>
  </v-list>



</v-menu>
<DialogConfirmation
v-model="dialog"
:message="confirmationMsg"
@confirm="onConfirmation"
/>
</div>
</template>


<script>
  export default {
    props: {
      items: {
        type: Array,
        default: () => [
          {name: "Add new", slug: "new-item", event: "new-item"},
          {name: "Delete", slug: "delete", event: "delete-item", confirm: true, confirmMsg: ''}
        ]
      },

      disabled: {
        type: Boolean,
      },

      deleteMsg: {
        type: String,
        default: "Delete this item?"
      },

      small: {
        type: Boolean
      }
    },


    data () {
      return {
        dialog: false,
        pendingEvent: '',
        confirmationMsg: '',
      }
    },

    methods: {
      actionSelected (item) {
        item.confirm ? this.showDialog(item) : this.$emit(item.event)
      },

      showDialog (item) {
        this.pendingEvent = item.event
        this.confirmationMsg = item.confirmMsg || this.deleteMsg
        this.dialog = true
      },

      onConfirmation () {
        this.$emit(this.pendingEvent)
      },
    }

  }
</script>
