<template>
  <v-container>
    <v-row dense>
      <v-col sm="12" md="4" class="d-flex align-end text-h5 text--disabled">
        {{ title }}
      </v-col>

      <v-col sm="12" md="4" class="d-flex justify-center">
        <div style="max-width:30em;">
        <v-text-field
          :value="search"
          @input="onChange"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        </div>
      </v-col>

      <v-col sm="12" md="4" class="text-right">
        <v-btn v-if="addNewLink" fab small color="primary" nuxt-link :to="addNewLink" class="mt-4">+</v-btn>
      </v-col>
  </v-row>
</v-container>
</template>


<script>

import debounce from 'lodash.debounce'

  export default {
    props: {
      title: {
        type: String,
      },

      search: {
        type: String,
      },

      addNewLink: {
        type: String,
      },

      delay: {
        type: Number,
        default: 200
      }
    },

    model: {
      prop: 'search',
      event: 'change'
    },

    methods: {

    },

    created () {
      this.onChange = debounce(function (val) {
        this.$emit('change', val)
      }.bind(this), this.delay)
    }

  }
</script>
