<template>
  <div class="d-flex justify-center">
    <v-btn v-if="cancelBtn" @click="$emit('cancel')" class="mx-4" outlined>{{ cancelBtnTxt }}</v-btn>
    <v-btn :color="btnColor" type="submit" :disabled="disabled" :small="small">{{ btnTxt }}</v-btn>
  </div>
</template>

<script>
import { FormState, isNewForm, isEditForm } from 'shared/utils'

export default {
  props: {
    state: {
      type: String,
      default: FormState.NEW,
    },

    disabled: {
      type: Boolean,
    },

    addBtnTxt: {
      type: String,
      default: 'Add'
    },

    updateBtnTxt: {
      type: String,
      default: 'Update'
    },

    btnColor: {
      type: String,
      default: 'primary'
    },

    small: {
      type: Boolean,
    },

    cancelBtn: Boolean,

    cancelBtnTxt: {
      type: String,
      default: "Cancel"
    },
  },

  computed: {
    isNewForm () {
      return isNewForm(this.state)
    },

    isEditForm () {
      return isEditForm(this.state)
    },

    btnTxt () {
      return this.isNewForm ? this.addBtnTxt : this.updateBtnTxt
    }
  },


}
</script>
