<template>
  <div :class="align">
    <div class="caption text--secondary">Created {{ createdAt | formatDateTime }}</div>
    <div v-if="hasUpdate" class="caption text--secondary">Last update {{ updatedAt | formatDateTime }}</div>
  </div>
</template>
<script>
import { formatDateToLocale, formatDateTimeToLocale } from 'shared/utils'

export default {
  props: {
    createdAt: {
      type: String,
    },

    updatedAt: {
      type: String,
    },

    direction: {
      type: String,
      default: 'right'
    }
  },

  filters: {
    formatDate:   formatDateToLocale,
    formatDateTime: formatDateTimeToLocale,
  },

  computed: {
    align () {
      return `text-${this.direction}`
    },

    hasUpdate () {
      return this.createdAt != this.updatedAt
    }
  },
}
</script>
