<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
        title="Sessions"
        addNewLink="/booking-type-edit"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :single-select="false"
        :options.sync="options"
        :search="search"
        :server-items-length="total"
        :loading="$fetchState.pending"
        item-key="_id"
        show-select
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.type="{ value }" >
        {{ value }}
      </template>

      <template v-slot:item.duration="{ value }" >
        {{ value }} min
      </template>

      <template v-slot:item.price="{ value }" >
        {{ value | formatPrice(currency.code) }}
      </template>

      <template v-slot:item.createdAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.updatedAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.actions="{ item }" >
        <TableActionBtns
          @edit-item="$router.push({path: `/booking-type-edit/${item._id}` })"
          @delete-item="onDeleteItem(item._id)"
        />
      </template>

      </v-data-table>
      </v-col>

      <v-col cols="12" xs="12">
        <div class="d-flex">
          <FormBulkActions
          :disabled="disableBulkActions"
          @delete-items="onBulkDelete"
          @publish-items="onUpdatePublish(true)"
          @unpublish-items="onUpdatePublish(false)"
          />
        </div>
    </v-col>

    <DialogConfirmation
      v-model="deleteDialog"
      message="Delete this booking type?"
      @confirm="deleteSession"
    />

  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import { formatDate, formatPrice } from 'shared/utils'
import BaseTableForm from 'shared/components/base/TableForm'

export default {
  extends: BaseTableForm,

  data () {
    return {
      headers: [
      { text: 'Name', value: 'name' },
      { text: 'Type', value: 'type' },
      { text: 'Duration', value: 'duration' },
      { text: 'Price', value: 'price' },
      // { text: 'Created At', value: 'createdAt' },
      { text: 'Last Update', value: 'updatedAt' },
      { text: 'Actions', value: 'actions', sortable: false },
      ],

    }
  },

  computed: {
    ...mapState('currency', ['currency']),
  },

  filters: {
    formatDate,
    formatPrice,
  },

  methods: {
    loadItems (params) {
      return this.$axios.$get('/api/booking-types', { params })
    },

    deleteItem (id) {
      return this.$axios.$delete(`/api/booking-types/${id}`)
    },

    deleteMany (ids) {
      return this.$axios.$delete('/api/booking-types', { data: { ids } })
    },

    async deleteSession () {
      if(!this.deleteSingleItem) return
      let id = this.deleteSingleItem
      this.deleteSingleItem = null
      await this.deleteItem(id)
      this.$fetch()
    },


    async onUpdatePublish (status) {
      if(!this.selected || !this.selected.length) return
      try{
        let ids = this.selected.map(e => e._id)
        await this.$axios.$put('/api/booking-types', { ids, fields: { published: status }  })
        this.$fetch()
        this.resetSelected()
      } catch (error) {
        console.log('error %o', error)
      }
    },
  },
}
</script>
