<template>
  <row>
    <v-col v-if="!clicked" sm="12" class="text-center pt-16">
      <v-btn large color="primary" @click="rebuild">Rebuild</v-btn>
    </v-col>

    <v-col v-else sm="12" class="text-center pt-16">
      Rebuild started
    </v-col>
  </row>
</template>

<script>
export default {
  data () {
    return {
      clicked: false,
    }
  },

  methods: {
    rebuild () {
      this.$axios.$get("https://api.vercel.com/v1/integrations/deploy/prj_dHBJQSpuP91XL8S9frW1XodJ98XX/f5PFkMGB4W")
      this.clicked = true
    }
  }
}
</script>
