<template>
<v-tabs
  v-model="tab"
>
  <v-tab href="#provider">Company Data</v-tab>


  <v-tab-item value="provider">
    <SettingRlEditor
      name="company-data"
      :defaultItem="getDefaultCompanyData()"
      v-slot="{name, item, error, loading, formState, crudEvents }"
    >
      <AddressCompanyForm
      :item="item"
      :formState="formState"
      :countries="countries"
      :error="error"
      :loading="loading"
      v-on="crudEvents"
      />
    </SettingRlEditor>
  </v-tab-item>
</v-tabs>
</template>

<script>
import { parseErrorObj } from 'shared/utils'
import { mapState, mapActions } from "vuex"

export default {
  data () {
    return {
      tab: 'provider',
      companyData: this.getDefaultCompanyData(),
    }
  },

  computed: {
    ...mapState('countries', {
      countries: 'countries',
    }),
  },

  methods: {
    getDefaultCompanyData () {
      return {
        companyName: '',
        fiscalCode: '',
        fiscalCodeName: 'SIRET',
        address: '',
        address2: '',
        zip: '',
        city: '',
        county: '',
        countryCode: '',
        countryName: '',
        email: '',
        website: '',
        phone: '',
        type: 'company',
      }
    },
  },

  created () {
    this.$store.dispatch('countries/loadCountries')
  },
}
</script>
