<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this post?"
      />
      </v-toolbar>
        <v-card-text>

          <v-tabs
            v-model="tab"
          >
          <v-tab href="#basic">Basic</v-tab>
          <v-tab href="#seo" :disabled="isNewForm">SEO</v-tab>

          <v-tab-item value="basic">
            <PostBasicForm
            :item="postBasicData"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />
          </v-tab-item>


          <v-tab-item value="seo">
            <PostSeoForm
            :item="postSeoData"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />
          </v-tab-item>
        </v-tabs>

        <FormTimestamp
          v-if="isEditForm"
          :createdAt="editedItem.createdAt"
          :updatedAt="editedItem.updatedAt"
          class="mt-8"
        />

      </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      tab: 'basic',
    }
  },

  computed: {
    title () {
      return this.isNewForm ? "Add new post" : `Edit post: ${this.editedItem.title}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'title' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-post`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },

    postBasicData () {
      let { title, content, published, tags, categoryId } = this.editedItem
      return { title, content, published, tags, categoryId }
    },

    postSeoData () {
      let { slug, excerpt, keywords } = this.editedItem
      return { slug, excerpt, keywords }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        title: '',
        content: '',
        tags: [],
        published: false,
        categoryId: null,
        slug: '',
        excerpt: '',
        keywords: '',
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/posts/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/posts`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/posts/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/posts/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/post-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/posts')
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/post-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/posts'))
  },
}
</script>
