<template>
  <div class="d-flex">
    <div class="ma-16 text-center">
      <v-btn :disabled="hasAccount" @click="hasAccount=true"  x-large >I already have an account</v-btn>
      <div class="text-h3 text-center my-8">- OR -</div>
      <v-btn :disabled="!hasAccount" @click="hasAccount=false"  x-large>I am new, create one</v-btn>
    </div>
    <UserLoginSignUp
      :isSignupForm="!hasAccount"
      :validateUnique="uniqueEmail"
      :error="error"
      hideSignInLink
      hideSignUpLink
      @goto-reset-password="$router.push({path:'/password-reset'})"
      @login="onLogin"
      @signup="onSignUp"
    />
  </div>
</template>

<script>
import { parseErrorObj } from 'shared/utils'

export default {
  data () {
    return {
      hasAccount: true,
      error: '',
    }
  },

  methods: {
    async onLogin (data) {
      this.error = ""
      const { email, password } = data
      try {
        let token = await this.$auth.loginWith('local', { data: { email, password } })
        this.$emit('auth')
      } catch (error) {
        let { statusCode, message } = parseErrorObj(error)
        this.error = statusCode == '404' ? "Invalid email or password" : message
      }
    },

    async onSignUp (data) {
      this.error = ""
      try {
        const { email, password } = data
        const response = await this.$axios.$post(`api/users`, { item: { email, password } })
        const token = await this.$auth.loginWith('local', { data: { email, password } })
        this.$router.push({ path: '/' })
      } catch (error) {
        const { statusCode, message } = parseErrorObj(error)
        this.error = statusCode == '404' ? "Invalid email or password" : message
      }
    },

    async uniqueEmail (val) {
      try {
        const params = { value: val, field: 'email' }
        return this.$axios.$get(`api/unique-user`, { params })
      } catch (error) {
        const { statusCode, message } = parseErrorObj(error)
        this.error = statusCode == '404' ? "Error checking unique email" : message
      }
    },
  }
}
</script>
