<template>
    <div class="sidebar">
    <WidgetCategoriesList
      v-if="isNotExcluded('category')"
      link="/blog/category"
      class="widget"
    />

  <WidgetTagsCloud
      v-if="isNotExcluded('tag')"
      link="/blog/tag"
      class="widget my-4"
    />

    <WidgetSubscribeNewsletter
      class="widget my-4"
    />

    <WidgetTumblrLink
      class="widget my-4"
    />
    <WidgetBookingCta
      class="widget my-4"
    />

    <WidgetTribeLinkCard
      class="widget my-4"
    />
 </div>
</template>

<script>
export default {
  props: {
    exclude: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    isNotExcluded (val) {
      return this.exclude.indexOf(val) == -1
    },
  }
}
</script>
