<template>
  <div class="page">
  <v-container>
    <v-row>
      <v-col>
        <h1 class="text-h1 page-title">My Cart</h1>
     </v-col>
    </v-row>

    <v-row v-if="isCartEmpty">
      <v-col sm="12" class="text-h3 text--disabled py-16 text-center">
        Your cart is empty.
      </v-col>
    </v-row>

    <v-row v-else>
      <v-col sm="12" md="9">
        <CartList
          :items="cartItems"
        />
      </v-col>

        <v-col sm="12" md="3">
          <CartTotalCard
          @checkout="onCheckout"
          />
        </v-col>
    </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex"

export default {
  data () {
    return {

    }
  },

  computed: {
    ...mapState('cart', {
      cartItems: 'items'
    }),

    ...mapGetters('cart', [
      'isCartEmpty',
    ]),
  },

  methods: {
    showStore () {
      this.$router.push({path: '/shop'})
    },

    onCheckout () {
      this.$router.push({path: '/checkout'})
    },

  }
}
</script>
