<template>
    <div class="page">
  <BookingRlMonthlyBookedBlocks
    :month="month"
    :loadBookingsBetween="loadBookingsBetween"
    v-slot="{from, to, bookedBlocks, daysWithBookings, dailyBookedHours, loading, error}"
  >
    <v-container>
      <v-row>
        <v-col>
          <h1 class="text-h1 page-title">Let’s Meet!</h1>

          <h2 class="text-h2">
            Book a One-on-One Online Kilohertz Design Session
          </h2>
          We work together via screen sharing technology on your project, whatever stage you're finding yourself at. <br />
          Learn more about the online sessions <nuxt-link to="/work-with-me"> here</nuxt-link>.
       </v-col>
       </v-row>
      <v-row>
        <v-col sm="12" class="d-flex">
          <div class="mr-2">
          <v-date-picker
            v-model="selectedDate"
            :allowed-dates="allowedDates"
            class="mt-4"
            :min="allowedFrom"
            :max="allowedUntil"
            :first-day-of-week="1"
            event-color="primary"
            :events="isSelectable"
        ></v-date-picker>
      </div>

        <div>
          <BookingRlDailyBookedBlocks
            :date="selectedDate"
            :weeklySchedule="weeklySchedule"
            :loadDailyBooking="loadDailyBooking"
            v-slot="{ weeklySchedule, daySchedule, bookedBlocks, date }"
          >
            <BookingTimePickerList
            :date="date"
            :daySchedule="daySchedule"
            :service="service"
            :occupied="[...bookedBlocks, ...cartOnlineSessions.map(e => e.data) ]"
            @selected="onBookingTimeSelected"
            />
          </BookingRlDailyBookedBlocks>
        </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col sm="12">
          Sessions bookings are Central European Time (Paris, France).<br />
One 50 min session is 75 €. If you need more sessions, you can check out packages <nuxt-link to="/work-with-me#packages">here</nuxt-link>.
        </v-col>
      </v-row>

      <SnackBar
        v-model="addToCartSnack"
        text="Booking added to cart"
        centered
      />

    </v-container>
  </BookingRlMonthlyBookedBlocks>
</div>
</template>

<script>
import dayjs from 'dayjs'
import { weekdayNumber, BookingService, CartableItem, formatDate, formatTime, ORDER_GROUP, ORDER_TYPE } from 'shared/utils'
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {

  head () {
    return {
      title: "Online architecture consultation - Book a session",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'online arhitect, consulting, online design, home design, design your own house' },
        { hid: 'description', name: 'description', content: 'Book a one-on-one online design session with an architect to design your own house with sustainability in mind. Your home is your own project, do it on your own terms with the guidance of a professional architect.' },
      ]
    }
  },

  data () {
    return {
      bookingsOnSelectedDate: [],
      addToCartSnack: false,
    }
  },

  async asyncData ({ params, $axios, error }) {
    try {
      const { date:selectedDate = dayjs().add(1,'days').format('YYYY-MM-DD')} = params
      const allowedFrom = dayjs().add(1,'days').startOf('day').format()
      const allowedUntil = dayjs().add(90,'days').endOf('day').format()
      let schedules = await $axios.$get(`api/weekly-schedules`)
      let weeklySchedule = schedules.items[0]

      weeklySchedule.items = weeklySchedule.items.map(e => e.filter(s => s.from && s.to)) // remove items where no from or to is given
      const month = dayjs(selectedDate).format('YYYY-MM')
      const serviceData = await $axios.$get(`api/booking-type-sku/BK-1`)
      return {
        weeklySchedule,
        allowedFrom,
        allowedUntil,
        selectedDate,
        month,
        serviceData,
      }
    } catch (err) {
      // error({statusCode: 404, message: "Error" })
      console.error('error %o', err)
    }
  },

  async fetch () {
    if(this.selectedDate) {
      try {
        let data = await this.$axios.$get(`api/bookings-at/${this.selectedDate}`)
        this.bookingsOnSelectedDate = data
      } catch (err) {
        console.log('err %o', err)
      }
    } else {
      this.bookingsOnSelectedDate = []
    }
  },

  computed: {
    ... mapGetters('cart', ['cartOnlineSessions']),

    service () { // on SSR the data is serialized and loose their class
      return new BookingService(this.serviceData)
    },
  },

  methods: {
    ... mapMutations('cart', ['addSingularItemToCart']),

    allowedDates (date) {
      if(!this.weeklySchedule) return false
      return this.weeklySchedule.items[weekdayNumber(date)] && this.weeklySchedule.items[weekdayNumber(date)].length
    },

    isSelectable (date) {
      if(!this.weeklySchedule) return null
      return dayjs().isBefore(date) && this.weeklySchedule.items[weekdayNumber(date)] && this.weeklySchedule.items[weekdayNumber(date)].length ? 'primary' : null
    },



    onBookingTimeSelected (val) {
      const description = `${formatTime(val.sessionFrom)} - ${formatTime(val.sessionTo)} on ${formatDate(val.from)}`
      const _id = `${val.from}|${val.to}`
      const item = Object.assign({}, this.service, {data: val, itemGroup: ORDER_GROUP.BOOKING, itemType: ORDER_TYPE.SESSION, _id, description})
      this.addSingularItemToCart({item: new CartableItem(item)})
      this.addToCartSnack = true
    },

    loadBookingsBetween (from, to) {
      return this.$axios.$get(`api/bookings-between/${from}/${to}`)
    },

    loadDailyBooking (date) {
      return this.$axios.$get(`api/bookings-at/${date}`)
    },
  },

  watch: {
    month: function () {
      this.selectedDate = null
    },

    // selectedDate: function (val) {
    //   // this.$fetch()
    // },
  }
}
</script>

<style>
.v-picker table td button {
  font-weight: bold !important;
  color: red !important;
}
</style>
