<template>
  <v-card max-width="750" class="mx-auto" flat>
  <ValidationObserver ref="obs" v-slot="{ invalid, validated, handleSubmit, validate }">
    <v-form @submit.prevent="handleSubmit(onSubmit)">
      <v-card-text>
          <v-row>
            <v-col cols="12" xs="12" sm="12" md="6">
              <ValidationProvider name="firstName" rules="required" v-slot="{ errors }">
                <v-text-field
                label="First Name"
                v-model="editedItem.firstName"
                :error-messages="errors"
                />
              </ValidationProvider>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="6">
              <ValidationProvider name="lastName" rules="required" v-slot="{ errors }">
                <v-text-field
                label="Last Name"
                v-model="editedItem.lastName"
                :error-messages="errors"
                />
              </ValidationProvider>
          </v-col>

          <v-col cols="12" xs="12" sm="12">
            <ValidationProvider name="address" rules="required" v-slot="{ errors }">
              <v-text-field
                label="Street Address"
                v-model="editedItem.address"
                :error-messages="errors"
              />
            </ValidationProvider>
          </v-col>

      <v-col cols="12" xs="12" sm="12">
        <ValidationProvider name="address2" rules="" v-slot="{ errors }">
          <v-text-field
            label="Apt/Suite etc. (optional)"
            v-model="editedItem.address2"
            :error-messages="errors"
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" xs="12" sm="12" md="4">
        <ValidationProvider name="zip" rules="required" v-slot="{ errors }">
          <v-text-field
            label="Postal Code"
            v-model="editedItem.zip"
            :error-messages="errors"
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" xs="12" sm="12" md="4">
        <ValidationProvider name="city" rules="required" v-slot="{ errors }">
          <v-text-field
           label="City"
           v-model="editedItem.city"
           :error-messages="errors"
          />
        </ValidationProvider>
      </v-col>

      <!-- <v-col sm="12" md="4">
        <ValidationProvider name="county" rules="required" v-slot="{ errors }">
          <v-text-field
            label="County"
            v-model="editedItem.county"
            :error-messages="errors"
          />
        </ValidationProvider>
      </v-col> -->

      <v-col cols="12" xs="12" sm="12" md="4">
        <ValidationProvider name="country" rules="required" v-slot="{ errors }">
            <v-autocomplete
            v-model="editedItem.countryCode"
            :items="countries"
            item-text="name"
            item-value="code"
            label="Country"
            :error-messages="errors"
            required
          />
        </ValidationProvider>
      </v-col>
      </v-row>
      </v-card-text>

      <v-card-actions :class="`d-flex justify-${btnJustify}`">
      <v-btn type="submit" color="secondary" :disabled="disableFormBtn">{{ btnTxt }}</v-btn>
      </v-card-actions>
    </v-form>
  </ValidationObserver>
</v-card>
</template>

<script>

import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { mapState, mapActions } from "vuex"

export default {
  props: {
    btnTxt: {
      type: String,
      default: "Update"
    },

    btnJustify: {
      type: String,
      default: 'center'
    },

  },

  mixins: [ItemFormMixin],

  computed: {
    ...mapState('countries', {
      countries: 'countries',
    }),
  },

  methods: {
    ... mapActions('countries', ['loadCountries']),

  },

  created () {
    this.loadCountries()
  },

}
</script>
