<template>
  <v-container
    class="fill-height justify-center"
    tag="section"
  >

    <v-row justify="center">
      <v-slide-y-transition appear>
      <v-card
        light
        max-width="100%"
        width="400"
        class="px-5 py-3"
      >
      <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
      <v-form @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <ValidationProvider :rules="emailRules" name="email" v-slot="{ errors }">
          <v-text-field
            v-model="user.email"
            label="Email Address*"
            :error-messages="errors[0]"
          />
          </ValidationProvider>

          <ValidationProvider rules="required|min:6" name="password" v-slot="{ errors }">
          <v-text-field
            v-model="user.password"
            label="Password*"
            :append-icon="showPass ? mdiEye : mdiEyeOff"
            :type="showPass ? 'text' : 'password'"
            @click:append.prevent="showPass = !showPass"
            :error-messages="errors[0]"
          />
          </ValidationProvider>


          <template v-if="isSignupForm">
            <ValidationProvider rules="required|min:6|passwordConfirmation:@password" name="confPassword" v-slot="{ errors }">
            <v-text-field
              v-model="user.confPassword"
              label="Confirm Password*"
              :append-icon="showConfPass ? mdiEye : mdiEyeOff"
              :type="showConfPass ? 'text' : 'password'"
              @click:append.prevent="showConfPass = !showConfPass"
              :error-messages="errors[0]"
            />
            </ValidationProvider>
          </template>
          <v-alert v-if="error" type="error">{{ error }}</v-alert>
          </v-card-text>

          <v-card-actions class="justify-center">
            <v-btn
              default
              type="submit"
              color="secondary"
            >
                {{ submitBtnTxt }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </ValidationObserver>


      <v-card-text>
        <template v-if="isSignupForm">
          <div v-if="!hideSignInLink" class="grey--text body-2">I already have an account. <a @click="goToLogin">Sign in</a></div>
        </template>

        <template v-else>
          <div v-if="!hideSignUpLink" class="grey--text body-2">Don't have an account? <a @click="goToSignUp">Sign up</a></div>
          <div class="grey--text body-2">Forgot your password? <a @click="goToResetPassword">Reset password</a></div>
        </template>
      </v-card-text>

      </v-card>
      </v-slide-y-transition>
    </v-row>
    </v-container>
</template>

<script>
import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
import { parseErrorObj } from 'shared/utils'
import { mdiEye, mdiEyeOff } from '@mdi/js'
export default {

    props: {
      isSignupForm: {
        type: Boolean,
      },

      hideSignInLink: {
        type: Boolean,
      },

      hideSignUpLink: {
        type: Boolean,
      },

      validateUnique: {
        type: Function,
      },

      error: {
        type: String,
      },
    },

    components: {
      ValidationObserver,
      ValidationProvider,
    },

    data: () => ({
      user: {
        email: '',
        password: '',
        confPassword: '',
      },

      showPass: false,
      showConfPass: false,

      mdiEye,
      mdiEyeOff,
    }),

    computed: {
      emailRules () {
        return this.isSignupForm ? 'required|email|unique:email' : 'required|email'
      },

      submitBtnTxt () {
        return this.isSignupForm ? "Register" : "Login"
      }
    },

    methods: {
      async onSubmit () {
        this.$emit(this.isSignupForm ? 'signup': 'login', this.user)
      },

      goToLogin () {
        this.$emit('goto-login')
      },

      goToSignUp () {
        this.$emit('goto-sign-up')
      },

      goToResetPassword () {
        this.$emit('goto-reset-password')
      },

    },

    mounted () {
      if(this.validateUnique) {
        extend('unique', {
          validate: this.validateUnique,
          params: ['field'],
          message: 'This {_field_} is already taken',
          })
      }
    },
  }
</script>
