<template>
      <v-menu>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            icon
          ><v-icon :color="iconColor">{{ icon }}</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item-group>
            <v-list-item
              v-for="(item, index) in menu"
              :key="index"
              @click="$emit(item.emit)"
            >

            <v-list-item-icon>
              <v-icon :color="item.color">{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>

            </v-list-item>
        </v-list-item-group>
      </v-list>
      </v-menu>
</template>

<script>
import { mdiAccount, mdiAccountOutline, mdiLogout, mdiLogin, mdiAccountPlusOutline } from '@mdi/js'

export default {
  props: {
    isAuthenticated: {
      type: Boolean,
    }
  },

  data () {
    return {
      unauthMenu: [
        { title: 'Login', emit: 'login', icon: mdiLogin },
        { title: 'Sign Up', emit: 'sign-up', icon: mdiAccountPlusOutline },
      ],

      authMenu: [
        { title: 'My account', emit: 'my-account', icon: mdiAccount },
        // {title: 'Orders', emit: 'my-account-orders', icon: 'mdi-view-list'},
        // {title: 'Settings', emit: 'my-account-settings', icon: 'mdi-cog'},
        { title: 'Sign out', emit: 'logout', icon: mdiLogout, color: 'error' },
      ],


    }
  },

  computed: {
    menu () {
      return this.isAuthenticated ? this.authMenu : this.unauthMenu
    },

    icon () {
      return this.isAuthenticated ? mdiAccount : mdiAccountOutline
    },

    iconColor () {
      return this.isAuthenticated ? 'success' : 'primary'
    },
  },
}
</script>
