<template>
  <v-container
    class="fill-height justify-center"
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
      <v-card
        light
        max-width="100%"
        width="400"
        class="px-5 py-3"
      >

        <v-card-text>
          <v-form @submit.prevent="validateForm">
            <v-text-field
              v-model="email"
              label="Email Address*"
            />
          </v-form>
        </v-card-text>


        <v-card-actions class="justify-center">
          <v-btn
            default
            type="submit"
            color="primary"
          >
            Reset Password
          </v-btn>
        </v-card-actions>

        <v-card-text>
          <div class="grey--text body-2">Go back to <a @click="login">Login</a></div>
          <div class="grey--text body-2">I want to create an account. <a @click="createAccount">Sign up</a></div>
        </v-card-text>
      </v-card>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'PasswordReset',

    data: () => ({
      email: '',
    }),

    methods: {
      validateForm (scope) {
        this.$emit('submit', this.email)
      },

      login () {
        this.$emit('goto-login')
      },

      createAccount () {
        this.$emit('goto-sign-up')
      },
    },
  }
</script>
