<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12" v-if="error">
        <v-alert type="error" > {{ error }} </v-alert>
      </v-col>
      <v-col xs="12" sm="6">
        <ValidationProvider rules="required|unique:name" name="name" v-slot="{ errors }">
          <v-text-field
          label="Name"
          v-model="editedItem.name"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6">
        <ValidationProvider rules="unique:slug" name="slug" v-slot="{ errors }">
          <v-text-field
          label="Slug"
          v-model="editedItem.slug"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" sm="6" md="6" class="py-12">


        <v-list v-if="hasProducts">
          <v-subheader>Products</v-subheader>
          <draggable v-model="editedItem.products" handle=".handler">
          <v-list-item
            v-for="p in editedItem.products"
            :key="p._id"

          >
            <v-list-item-icon>
              <v-icon class="handler" style="cursor: move;">mdi-drag-vertical</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ p.name }} <span class="text-caption text-disabled"> ({{p.sku}})</span></v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
            <v-btn icon @click="onDeleteProduct(p._id)" title="Remove product from family">
              <v-icon small color="grey lighten-1">mdi-delete</v-icon>
            </v-btn>
          </v-list-item-action>
          </v-list-item>
          </draggable>
        </v-list>

        <div v-else class="text-disabled text-h5 text-center">
          No Products in Family yet.
        </div>
      </v-col>

      <v-col cols="12" sm="6" md="6" class="py-12">
        <ProductAutocomplete
          @selected="onProductSelected"
          label="Search Product for adding to Family"
          class="pb-12"
        />
      </v-col>

        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>

    <DialogConfirmation
    v-model="deleteDialog"
    message="Remove this product from family?"
    @confirm="deleteConfirmed"
    @cancel="deleteCanceled"
    />
  </ValidationObserver>
</template>

<script>
import draggable from 'vuedraggable'
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"

export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  components: {
    draggable,
  },

  data () {
    return {
      deleteDialog: false,
    }
  },

  computed: {
    hasProducts () {
      return this.editedItem.products && this.editedItem.products.length
    },
  },

  methods: {
    onProductSelected (val) {
      if(!this.editedItem.products) this.editedItem.products = []

      const alreadyExistsIndex = this.editedItem.products.findIndex(e => e._id == val._id)
      if(alreadyExistsIndex != -1)  this.editedItem.products.splice(alreadyExistsIndex, 1)
      this.editedItem.products.push(val)
    },

    onDeleteProduct (id) {
      this.productToDelete = id
      this.deleteDialog = true
    },

    deleteConfirmed () {
      if(!this.productToDelete) return
      this.editedItem.products = this.editedItem.products.filter(e => e._id != this.productToDelete)
      this.productToDelete = null
    },

    deleteCanceled () {
      this.productToDelete = null
    },
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
