<template>
  <v-select
    v-model="selected"
    :items="items"
    label="Select Brand"
    item-text="name"
    item-value="_id"
    clearable
  ></v-select>
</template>
<script>


export default {
  props: {
    value: {
      type: String,
    },
  },

  model: {
    prop: 'value',
    event: 'change'
  },

  data () {
    return {
      items: [],
      isLoading: false,
    }
  },

  async fetch () {
    try{
      this.items = await this.$axios.$get(`/api/brands-list`)
      console.log('this.items %o ', this.items)
    } catch (error) {
      console.log('error ')
    }
  },

  computed: {
    selected: {
      get () {
        return this.value
      },

      set (val) {
        this.$emit('change', val)
      }
    }
  },
}
</script>
