<template>
  <v-card flat color="transparent" width="600" class="mx-auto">
    <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
      <v-form @submit.prevent="handleSubmit(onSubmit)">
        <v-container>
          <v-row>
            <!-- <v-col sm="12" md="6">
              <ValidationProvider rules="required" name="name" v-slot="{ errors }">
              <v-text-field
                label="Name"
                v-model="contact.name"
                :error-messages="errors[0]"
              ></v-text-field>
              </ValidationProvider>
            </v-col> -->

            <v-col sm="12" md="6">
              <ValidationProvider rules="required|email" name="email" v-slot="{ errors }">
              <v-text-field
                label="Your Email"
                v-model="contact.email"
                :error-messages="errors[0]"
              ></v-text-field>
              </ValidationProvider>
            </v-col>

            <v-col sm="12">
              <ValidationProvider rules="required" name="title" v-slot="{ errors }">
                <v-text-field
                  label="Subject"
                  v-model="contact.title"
                  :error-messages="errors[0]"
                ></v-text-field>
                </ValidationProvider>
            </v-col>

            <v-col sm="12">
              <ValidationProvider rules="required" name="message" v-slot="{ errors }">
              <v-textarea
                label="Message"
                v-model="contact.message"
                :error-messages="errors[0]"
              ></v-textarea>
              </ValidationProvider>
            </v-col>
          </v-row>
        </v-container>

        <v-card-actions>
          <v-spacer></v-spacer><v-btn type="submit" color="primary">Submit</v-btn><v-spacer></v-spacer>
        </v-card-actions>

      </v-form>
    </ValidationObserver>
  </v-card>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate"

export default {
  components: {
    ValidationObserver,
    ValidationProvider,
  },

  data () {
    return {
      contact: {
        name: '',
        email: '',
        title: '',
        message: '',
      }
    }
  },

  methods: {
    onSubmit () {
      this.$emit('message', this.contact)
    },
  }
}
</script>
