<template>
<v-hover
  v-slot="{ hover }"
>
  <v-card class="category-preview">
    <v-card-title>
      <nuxt-link
      :to="`${link}/${item.slug}`"
      class="text-h4 font-weight-bold primary--text text-decoration-none"
      >
      {{ item.name }}
    </nuxt-link>
    </v-card-title>

    <v-card-text>
      <v-img
        v-if="hasImage"
        :src="respImg.url"
        :srcset="respImg.srcset"
        :sizes="respImg.sizes"
        style="cursor: pointer;"
        @click="showCategory"
      >
      <v-expand-transition v-if="hasPreviewFields">
        <div
          v-if="hover"
          class="d-flex transition-fast-in-fast-out v-card--reveal text-h2 white--text"
          style="height: 100%;"
        >
        <v-list two-line flat dense width="100%" color="transparent" >
          <template v-for="(p, index) in item.previewFields">
        <v-list-item
          :key="index"
        >
          <v-list-item-avatar>
            <v-img v-if="p.image" :src="imgUrlPreview(p.image.filePath)"></v-img>
          </v-list-item-avatar>

          <v-list-item-content >
            <v-list-item-title class="white--text font-weight-bold" v-html="p.title"></v-list-item-title>
            <v-list-item-subtitle class="white--text" v-html="p.content"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
        </v-list>
      </div>
      </v-expand-transition>
    </v-img>
    </v-card-text>
  </v-card>
</v-hover>
</template>

<script>
import { imgResp, imgUrl } from 'shared/utils'

export default {
  props: {
    item: {
      type: Object,
      required: true,
    },

    link: {
      type: String,
      default: '/category'
    }
  },

  computed: {
    hasImage () {
      return !!this.item.image
    },

    respImg () {
      if(!this.hasImage) return null
      return imgResp(this.item.image.filePath, [{screen: 600, w: 325}, {screen: 960, w: 400}, {screen: 1920, w: 400}, 600 ])
    },

    hasPreviewFields () {
      return this.item.previewFields && this.item.previewFields.length
    },


  },

  methods: {
    imgUrlPreview (filePath) {
      return imgUrl(filePath, [{width:40, height:40}])
    },

    showCategory () {
      this.$router.push({path: `${this.link}/${this.item.slug}`})
    }
  },
}
</script>

<style scoped lang="scss">
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: rgba(0, 76, 145, .85);
}
</style>
