<template>
  <ClientOnly>
    <quill-editor
      ref="editor"
      class="quill-editor"
      v-model="content"
      :options="editorOptions"
      />
  </ClientOnly>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
    }
  },

  model: {
    prop: 'value'
  },

  data: () => ({
    editorOptions: {
      // Some Quill options...
      theme: 'snow',
      modules: {
        toolbar: [
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [{ 'header': 1 }, { 'header': 2 }],
          [{ 'list': 'ordered' }, { 'list': 'bullet' }],
          [{ 'script': 'sub' }, { 'script': 'super' }],
          [{ 'indent': '-1' }, { 'indent': '+1' }],
          [{ 'direction': 'rtl' }],
          [{ 'size': ['small', false, 'large', 'huge'] }],
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'font': [] }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'align': [] }],
          ['clean'],
          ['link', 'image', 'video']
        ],
        htmlEditButton: {
          debug: false, // logging, default:false
          msg: "Edit the content in HTML format", //Custom message to display in the editor, default: Edit HTML here, when you click "OK" the quill editor's contents will be replaced
          okText: "Ok", // Text to display in the OK button, default: Ok,
          cancelText: "Cancel", // Text to display in the cancel button, default: Cancel
          buttonHTML: "&lt;&gt;", // Text to display in the toolbar button, default: <>
          buttonTitle: "Show HTML source", // Text to display as the tooltip for the toolbar button, default: Show HTML source
          syntax: false, // Show the HTML with syntax highlighting. Requires highlightjs on window.hljs (similar to Quill itself), default: false
          prependSelector: 'div#myelement', // a string used to select where you want to insert the overlayContainer, default: null (appends to body),
          editorModules: {} // The default mod
        },
      }

    },
  }),

  computed: {
    content: {
      get () {
        return this.value
      },

      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>

<style scoped>

</style>
