<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
        title="Weekly Schedules"
        addNewLink="/weekly-schedule-edit"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :single-select="false"
        :options.sync="options"
        :search="search"
        :server-items-length="total"
        :loading="$fetchState.pending"
        item-key="_id"
        show-select
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.createdAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.updatedAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.actions="{ item }" >
        <TableActionBtns
          @edit-item="$router.push({path: `/weekly-schedule-edit/${item._id}` })"
          @delete-item="onDeleteItem(item._id)"
        />
      </template>

      </v-data-table>
      </v-col>

      <v-col cols="12" xs="12">
        <div class="d-flex">
          <FormBulkActions
          :disabled="disableBulkActions"
          @delete-items="onBulkDelete"
          @publish-items="onUpdatePublish(true)"
          @unpublish-items="onUpdatePublish(false)"
          />
        </div>
    </v-col>

    <DialogConfirmation
      v-model="deleteDialog"
      message="Delete this weekly-schedule?"
      @confirm="deleteTag"
    />

  </v-row>
</template>

<script>
import { formatDate } from 'shared/utils'
import BaseTableForm from 'shared/components/base/TableForm'

export default {
  extends: BaseTableForm,

  data () {
    return {
      headers: [
      { text: 'Name', value: 'name' },
      { text: 'Slug', value: 'slug' },
      { text: 'Created At', value: 'createdAt' },
      { text: 'Last Update', value: 'updatedAt' },
      { text: 'Actions', value: 'actions', sortable: false },
      ],

    }
  },

  filters: {
    formatDate,
  },

  methods: {
    loadItems (params) {
      return this.$axios.$get('/api/weekly-schedules', { params })
    },

    deleteItem (id) {
      return this.$axios.$delete(`/api/weekly-schedules/${id}`)
    },

    deleteMany (ids) {
      return this.$axios.$delete('/api/weekly-schedules', { data: { ids } })
    },

    async deleteTag () {
      if(!this.deleteSingleItem) return
      let id = this.deleteSingleItem
      this.deleteSingleItem = null
      await this.deleteItem(id)
      this.$fetch()
    },


    async onUpdatePublish (status) {
      if(!this.selected || !this.selected.length) return
      try{
        let ids = this.selected.map(e => e._id)
        await this.$axios.$put('/api/weekly-schedules', { ids, fields: { published: status }  })
        this.$fetch()
        this.resetSelected()
      } catch (error) {
        console.log('error %o', error)
      }
    },
  },
}
</script>
