<template>
  <div class="page">
    <v-container id="page-after-you-have-purchased-a-plan">
      <v-row>
        <v-col cols="12" class="text-center">
          <h1 class="text-h1 page-title mt-12">
            Thank you!
          </h1>
        </v-col>
      </v-row>
    </v-container>
</div>
</template>

<script>
export default {
  watch: {
    '$route.params.id': {
      handler: function(id) {
        this.$axios.$get(`api/order-payment-confirmed/${id}`)
      },
      immediate: true
    },
  }
}
</script>
