<template>
  <div style="display: block; max-width: 100%;">
    <template v-if="isNonImage">
      <div style="position: relative;">
        <v-img :src="blankPngUrl"></v-img>
        <div class="d-flex align-center justify-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; ">
          <v-icon color="error" large>{{ isPdf ? 'mdi-file-pdf' : 'mdi-file'}}</v-icon>
        </div>
      </div>
    </template>

    <template v-else>
    <v-img :src="src" max-width="100%">
      <template v-slot:placeholder>
      <v-row
        class="fill-height ma-0"
        align="center"
        justify="center"
      >
        <v-progress-circular
          indeterminate
          color="blue lighten-5"
        ></v-progress-circular>
      </v-row>
    </template>
    </v-img>
    </template>
  </div>
</template>

<script>
import { imgUrl } from 'shared/utils'

export default {
  props: {
    path: {
      type: String,
    },

    transform: {
      type: Array,
      default: () => []
    },
  },

  data () {
    return {
    }
  },

  computed: {
    src () {
      return imgUrl(this.path, this.transform)
    },

    blankPngUrl () {
      return imgUrl('/utils/blank-png.png', this.transform)
    },

    extension () {
      let dotIndex = this.path.lastIndexOf('.')
      if(dotIndex == -1) return 'unknown'
      return this.path.substring(dotIndex + 1).toLowerCase()
    },

    isNonImage () {
      return this.extension == 'pdf' || this.extension == 'zip'
    },

    isPdf () {
      return this.extension == 'pdf'
    },

    isZip () {
      return this.extension == 'zip'
    },
  },


}
</script>
