<template>
  <v-card flat max-width="400px">
    <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
      <form @submit.prevent="handleSubmit(onSubmit)">
    <v-card-text>
      <v-row dense>
        <v-col sm="12">
        <ValidationProvider rules="email|unique:email" name="email" v-slot="{ errors }">
          <v-text-field
          label="Email"
          v-model="editedItem.email"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
        </v-col>
        
        <v-col sm="12">
          <v-text-field
            label="First Name"
            v-model="editedItem.firstName"
          />
        </v-col>

        <v-col sm="12">
          <v-text-field
            label="Last Name"
            v-model="editedItem.lastName"
          />
        </v-col>

        <!-- <v-col sm="12">
          <v-text-field
            label="First Name"
            v-model="editedItem.firstName"
            :error-messages="errors[0]"
          />
        </v-col> -->
      </v-row>
    </v-card-text>
    <v-card-actions class="justify-center">
      <FormSubmitBtn
      :state="formState"
      :disabled="disableFormBtn"
      cancelBtn
      @cancel="onCancel"
      />
    </v-card-actions>
  </form>
  </ValidationObserver>
  </v-card>
</template>

<script>

import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"

export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
