<template>
  <div>
    <v-card v-if="!editorView" flat width="350" min-height="500">
      <v-card-actions class="justify-start">
        <v-btn @click="showEditor" icon small color="primary" title="edit"><v-icon small>{{ mdiPencil }}</v-icon></v-btn>
      </v-card-actions>
      <v-card-text>
      Email: {{ item.email }} <br />
      First name: {{ item.firstName }} <br />
      Last name: {{ item.lastName }} <br />
      Password: ***...
      </v-card-text>
    </v-card>

    <MyAccountProfileForm
        v-else
        :item="item"
        :formState="formState"
        :validationUnique="uniqueEmail"
        @cancel="onCancelEdit"
        @update-item="onUpdateItem"
    />

  </div>
</template>

<script>
import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'
import { mdiPencil }  from '@mdi/js'
export default {
  mixins: [ ItemEditorMixin ],

  props: {
    item: {
      type: Object,
      required: true,
    }
  },

  data () {
    return {
      editorView: false,
      mdiPencil,
    }
  },

  computed: {
    uniqueEmail () {
      let id = this.itemKey
      return async (val, { field = 'email' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`api/unique-user`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },

    itemKey () {
      return this.$auth.user._id
    },

  },

  methods: {
    loadItem () {
      return this.$auth.user
    },

    getDefaultItem () {
      return this.item
    },

    showEditor () {
      this.editorView = true
    },

    onCancelEdit () {
      this.editorView = false
    },

    async updateItem (item, id) {
      return this.$axios.$put(`api/users/${id}`, { user: item})
    },
  },
}
</script>
