<template>
  <div class="fp">
    <v-container>
      <v-row>
        <v-col v-for="cat in categories" :key="cat._id"
        sm="12"
        md="3"
        >
        <CategoryPreview
        :item="cat"
        link="/category"
        />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

export default {
  head () {
    return {
      title: "",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'aufblasbare zelte, Kilohertz' },
        { hid: 'description', name: 'description', content: 'Kilohertz ...' },
      ]
    }
  },

  async asyncData ({ $axios, params, store, error }) {
    try {
      const options = { itemsPerPage: 100 } // copy it to avoid directly mutations and set page from page params
      const categories = await $axios.$get('api/categories', { params: options }) // load all
      return { categories }
    } catch (e){
      error(e)
    }
  },

  methods: {

  },
}
</script>
