<template>
  <div class="page">
    <v-container>
      <v-row>
        <v-col cols="12">
          <h1 class="text-h1 page-title">
            About
          </h1>
        </v-col>
        <v-col cols="12" class="d-flex justify-center mt-8">
          <div class="page-bordered-menu">
            <div class="menu-title text--disabled">
              The Kilohertz Story
            </div>
            <div class="d-flex justify-space-around align-end">
            <div class="menu-item text-center">
              <a href="#about-me">About<br /> Me</a>
            </div>
            <div class="menu-item text-center">
              <a href="#about-Kilohertz">About<br /> Kilohertz</a>
            </div>
            <div class="menu-item text-center">
              <a href="#my-tools">My<br /> Tools</a>
            </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>

  <div class="slanted-container">
    <div class="slanted-asc-top-right">
    </div>

    <v-container>
      <v-row>
      <v-col cols="12">
        <h2 id="about-me" class="text-h2 page-sub-title">About me</h2>
        <div class="text-body-1">
          <v-card width="300" height="300" style="float: left; margin-right: 1rem;" flat color="transparent">
            <div class="d-block" style="padding: 4px; border: 1px solid #cd9e67">
            <v-img
              :src="respImg.url"
              :srcset="respImg.srcset"
              :sizes="respImg.sizes"
            />
            </div>
          </v-card>
        I  was two when I showed people around my dad's construction site saying "Look! 'tiful!". <br />
Later I developed a habit of peering into people's houses to check out the layouts and deco. How they matched the people living in there, especially if it was an older house. I still do this. <br />
But it wasn't obvious I would become an architect. My dad was an architect, but he designed banks and airports and the likes. I wasn't really into that. Then one day I went to his office after school. I must've been around fourteen. Someone was drafting a plan layout for an apartment building. He was zigzagging the walls to fit seamless storage spaces. I thought that was the coolest thing I had seen in my life. I was absolutely and hopelessly hooked. My dad was thrilled. He daughter was following his footsteps. Except I wasn't really. I wasn't into making banks and airports.<br />
I drifted through school like a good student I had always been and then drifted further away from architecture towards ecology and sustainability and permaculture. After a long winding detour, I eventually came back to architecture, newly redefined through the lens of what I had learned. I came back to what I loved most, homes. I added what I knew to be right, like sustainability, and what I knew to be true, like the need for affordability, not just fad.
Today I peer into people's houses as they design them, as we design them together. We find, together, those elements that make it theirs, that layout that keeps fresh even with the passing of time.
I was lucky. Even though I had drifted from my childhood passion, as many of us do, I was fortunate enough to find it again, with renewed strength and a fresh perspective. Kilohertz would not have existed otherwise.</div>
      </v-col>
     </v-row>
   </v-container>
   <div class="slanted-desc-bottom-right mt-12">
   </div>
   </div>

   <v-container class="mt-n12">
     <v-row>
     <v-col cols="12">

   <h2  id="about-Kilohertz" class="text-h2 page-sub-title">About Kilohertz</h2>
   <div class="text-body-1">
     What if there was a place where you could get answers to your questions around making a home? All the ins and outs, explained, taken apart, simplified. All the ideas, dreams, shared? All the fears and big unknowns, tamed and transformed into growth?
  Kilohertz tries to do this. There's more than one channel for this and you can choose what fits.
  <br /><br />There's the <nuxt-link to="/blog">blog</nuxt-link> of course, a patchwork of thoughts on houses and us living in them. You can get to know the way Kilohertz sees home design by roaming through the texts.
  <br /><br />Then, there's the free course. It's a starter for an actual course, that is taking shape as your needs are explored.
  <br /><br />For those of you who need time more than anything else, the plans in the <nuxt-link to="/shop">store</nuxt-link> can be a lifesaver. They are permaculture-inspired bioclimatic designs, fit for most temperate climate contexts.
  <br /><br />When you're ready for customization of your space and want to see your vision take shape, you can <nuxt-link to="/book-a-session">book an online one-on-one Kilohertz design session</nuxt-link>. We work together via screen sharing technology on your project, whatever stage you're finding yourself at.
  <br /><br />Finally - and this is a brand new and indispensable addition to the mix - an <a href="https://Kilohertz.mn.co/" target="_blank">online community</a> is being built. A tribe of like-minded people making design decisions together, sharing stories, ideas, discoveries. All around the same lenses of sustainability, health, beauty and affordability. Because it's in within our reach to get together and build better homes for ourselves and our loved ones.
</div>
</v-col>
</v-row>

   <v-row>
     <v-col cols="12">
       <h2 id="my-tools" class="text-h2 page-sub-title mb-n2">My tools</h2>
    </v-col>

   <v-col
   cols="12"
   xs="12"
   sm="6"
   md="4"
   class="mb-2"
   v-for="p in permaTools" :key="p.title">
     <v-card height="100%" class="d-flex flex-column pb-4">
       <v-card-title class="text-h3 secondary--text" style="word-break: break-word;">
         {{ p.title }}
       </v-card-title>
       <v-card-text>
         {{ p.excerpt }}
       </v-card-text>
       <v-spacer></v-spacer>
     </v-card>
   </v-col>

   <!-- <v-col sm="12">
     <WidgetEmailCall
     class="d-inline-block pl-8"
     />
  </v-col> -->

  <v-col sm="12" class="my-16 text-center">
    <div class="text-center mt-12 mb-8 text-h3">
    What to read more about  the Why, the What and the How of Kilohertz?
  </div>

  <v-btn color="primary" to="/blog">Check out the blog</v-btn>
  </v-col>
 </v-row>
</v-container>
</div>
</template>

<script>
import { imgResp } from 'shared/utils'

export default {

  head () {
    return {
      title: "Architecture consulting for sustainable home design",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'online architect, house plans, home design, architectural design, design your own house' },
        { hid: 'description', name: 'description', content: 'Kilohertz is a sustainable approach to designing your home for comfort, health and harmony with nature.' },
      ]
    }
  },

  data () {
    return {
      profilePhoto: '/assets-general/jopetroni.jpg',

      permaTools: [
        {
          title: "Permaculture design principles",
          excerpt: "Permaculture is a creative design system that guides us to observe and use the patterns and relationships we find in natural structures and can be applied to all aspects of human habitation, from agriculture to ecological building.",
          content: "",
          tag:"permaculture",
        },

        {
          title: "Bio-climatic design",
          excerpt: "Harness age-old sets of techniques to embrace and respond to the local environment. Much of the world's vernacular buildings (architecture without an architect) responded to the regional climate and could be considered bioclimatic.",
          content: "",
          tag:"bio-climatics",
        },

        {
          title: "Degrowth",
          excerpt: "Promote living in simplicity, in economically sound, shared community experiences, and a shift in consumerism-driven mindsets. It is a critique of capitalism and of the mindset of growth at all costs, causing human exploitation and environmental destruction.",
          content: "",
          tag:"degrowth",
        },

        {
          title: "Passive solar systems",
          excerpt: "House elements collect, store, reflect, and distribute solar energy in the form of heat in the winter and reject solar heat in the summer in a non-mechanical or electrical way.",
          content: "",
          tag:"passive-solar",
        },
        {
          title: "Passive house design",
          excerpt: "Energy efficiency brought to the next level. Optimize your gains and losses by super-insulating your house, prevent infiltrations by building extremely airtight envelopes, and achieve Net Zero and Net Positive building.",
          content: "",
          tag:"passive-house",
        },

        {
          title: "Self-build approach",
          excerpt: "A self-built house is a great way to create your perfect home, customized to your personallity and lifestyle. It is also a fantastic means of building a low-maintenance house that evolves with you as your familly grows.",
          content: "",
          tag:"self-build",
        },
      ]
    }
  },

  computed: {
    respImg () {
      return imgResp(this.profilePhoto, [{screen: 600, w: 375}, {screen: 960, w: 400}, {screen: 1920, w: 375}, 450 ])
    },
  },
}
</script>

<style scoped lang="scss">
.blog-call {
  font-size: 1.25em;
  color: $dark-charcoal;
}
</style>
