<template>
  <div class="page">
    <v-container id="page-after-you-have-purchased-a-plan">
      <v-row>
        <v-col cols="12">
          <h1 class="text-h1 page-title">
            Privacy Policy
          </h1>
        </v-col>

        <v-col sm="12">

          <div class="paragraph">
            <div class="p-title">
              1. Principles for processing personal data
            </div>
            Our principles for processing personal data are:
            <ul>
              <li>
                <span class="font-weight-bold">Fairness and lawfulness</span>. When we process personal data, the individual rights of the Data Subjects must be protected. All personal data must be collected and processed in a legal and fair manner.
              </li>
              <li>
                <span class="font-weight-bold">Restricted to a specific purpose</span>. The personal data of Data Subject must be processed only for specific purposes.
              </li>
              <li>
                <span class="font-weight-bold">Transparency</span>. The Data Subject must be informed of how his/her data is being collected, processed and used.
              </li>
            </ul>
          </div>
        </v-col>
      </v-row>

  </v-container>
</div>
</template>
