<template>
  <div class="page">
    <v-container id="page-before-the-initial-session">
      <v-row>
        <v-col cols="12">
          <h1 class="text-h1 page-title">
            Terms & Conditions
          </h1>
        </v-col>

        <v-col sm="12">
          <div class="paragraph">
            Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the https://www.Kilohertz.net website operated by ... ("us", "we", or "our").
          </div>
          <div class="paragraph">
            Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
          </div>
          <div class="paragraph font-weight-bold">
            By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
          </div>

        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
