<template>
  <div>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12" v-if="error">
        <v-alert type="error" > {{ error }} </v-alert>
      </v-col>

      <v-col cols="12" xs="12" sm="4" v-if="isGeneralDiscount">
        <ValidationProvider rules="required|unique:name" name="name" v-slot="{ errors }">
          <v-text-field
          label="Name"
          v-model="editedItem.name"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" xs="12" sm="2">
        <ValidationProvider rules="required" name="type" v-slot="{ errors }">
          <v-select
          label="Discount Type"
          v-model="editedItem.type"
          item-text="name"
          item-value="value"
          :items="discontTypes"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" xs="12" sm="2">
        <ValidationProvider rules="required|numeric" name="value" v-slot="{ errors }">
          <v-text-field
          label="Value"
          v-model.number="editedItem.value"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" xs="12" sm="2">
        <FormDateSelector
        label="Start Date"
        v-model="editedItem.startDate"
        />
      </v-col>

      <v-col cols="12" xs="12" sm="2">
        <FormDateSelector
        label="End Date"
        v-model="editedItem.endDate"
        />
      </v-col>

        <v-col :cols=" row ? 'auto' : 12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          :small="small"
          :cancelBtn="cancelBtn"
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</div>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"


export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },

    row: {
      type: Boolean,
    },

    small: {
      type: Boolean,
    },

    cancelBtn: {
      type: Boolean,
    },
  },

  mixins: [ItemFormMixin],

  components: {
  },

  data () {
    return {
      discontTypes: [
        {name: "Percent", value: "percent" },
        {name: "Fixed", value: "fixed-value" },
      ]
    }
  },

  computed: {
    isGeneralDiscount () {
      return this.editedItem.mode == 'general'
    }
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
