<template>
  <div>
    <v-select
      label="Apply Discount"
      :items="discountsList"
      v-model="selected"
      item-text="name"
      item-value="id"
      :loading="loadingList"
      :error-messages="error"
      clearable
    />
  </div>
</template>

<script>
export default {

  props: {
    value: {
      type: String,
    }
  },

  data () {
    return {
      discountsList: [],
      loadingList: false,
      error: null,
    }
  },

  computed: {
    selected: {
      get: function () {
        console.log('this.value %o', this.value)
        return this.value
      },

      set: function (val) {
        this.$emit('input', val ? val : null)
      }
    }
  },

  async fetch () {
    this.loadingList = true
    if(this.error) this.error = null
    try {
      this.discountsList = await this.$axios.$get('/api/discounts-list')
    }catch (error) {
      console.log('error %o', error)
      this.error = error.message
    } finally {
      this.loadingList = false
    }
  },
}
</script>
