<template>
  <div class="page">
    <v-container id="page-after-you-have-purchased-a-plan" class="mt-16">
      <v-row>
        <v-col cols="12" class="text-center">
          <div class="mb-4">
            You can make a booking on <nuxt-link to="/book-a-session">bookings</nuxt-link>.
          </div>
          <div class="">
            Your can browse the plans on <nuxt-link to="/shop">shop</nuxt-link>.
          </div>
        </v-col>
      </v-row>
    </v-container>
</div>
</template>
