<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
        title="Orders"
        addNewLink="/order-edit"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :single-select="false"
        :options.sync="options"
        :search="search"
        :server-items-length="total"
        :loading="$fetchState.pending"
        item-key="_id"
        show-select
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.no="{ item, value }" >
        <nuxt-link :to="{path: `/order/${item._id}`}"> {{ value }} </nuxt-link>
      </template>

      <template v-slot:item.status="{ value }" >
        <v-icon small :color="value ? 'success': 'error'">mdi-circle</v-icon>
      </template>

      <template v-slot:item.total="{ value }" >
        {{ value | formatPrice }}
      </template>

      <template v-slot:item.createdAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.bookings="{ item }" >
        <v-icon small :color="belongToGroup(item, 'booking') ? 'success': 'error'">mdi-circle</v-icon>
      </template>

      <template v-slot:item.products="{ item }" >
        <v-icon small :color="belongToGroup(item, 'product') ? 'success': 'error'">mdi-circle</v-icon>
      </template>

      <template v-slot:item.actions="{ item }" >
        <TableActionBtns
          @edit-item="$router.push({path: `/order-edit/${item._id}` })"
          @delete-item="onDeleteItem(item._id)"
        />
      </template>

      </v-data-table>
      </v-col>

      <v-col cols="12" xs="12">
        <div class="d-flex">
          <FormBulkActions
          :disabled="disableBulkActions"
          @delete-items="onBulkDelete"
          @publish-items="onUpdatePublish(true)"
          @unpublish-items="onUpdatePublish(false)"
          />
        </div>
    </v-col>

    <DialogConfirmation
      v-model="deleteDialog"
      message="Delete this order?"
      @confirm="deleteOrder"
    />

  </v-row>
</template>

<script>
import { formatDate, formatPrice } from 'shared/utils'
import BaseTableForm from 'shared/components/base/TableForm'

export default {
  extends: BaseTableForm,

  data () {
    return {
      headers: [
      { text: 'No', value: 'no' },
      { text: 'From', value: 'createdAt' },
      { text: 'Email', value: 'userEmail' },
      { text: 'Total', value: 'total' },
      { text: 'Payment Status', value: 'financialStatus' },
      { text: 'Bookings', value: 'bookings' },
      { text: 'Products', value: 'products' },
      { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },

  filters: {
    formatDate,
    formatPrice,
  },

  methods: {
    loadItems (params) {
      return this.$axios.$get('/api/orders', { params })
    },

    deleteItem (id) {
      return this.$axios.$delete(`/api/orders/${id}`)
    },

    deleteMany (ids) {
      return this.$axios.$delete('/api/orders', { data: { ids } })
    },

    async deleteOrder () {
      if(!this.deleteSingleItem) return
      let id = this.deleteSingleItem
      this.deleteSingleItem = null
      await this.deleteItem(id)
      this.$fetch()
    },


    async onUpdatePublish (status) {
      if(!this.selected || !this.selected.length) return
      try{
        let ids = this.selected.map(e => e._id)
        await this.$axios.$put('/api/orders', { ids, update: { published: status } })
        this.$fetch()
        this.resetSelected()
      } catch (error) {
        console.log('error %o', error)
      }
    },

    belongToGroup (item, groupName) {
      return item.items && item.items.findIndex(e => e.itemGroup == groupName) != -1
    },
  },
}
</script>
