<template>
  <v-container>
    <v-stepper v-model="step">
      <v-stepper-header>
        <v-stepper-step
          :complete="step > 1"
          step="1"
        >
          Authentication
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
          :complete="step > 2"
          :editable="step == 3"
          step="2"
        >
          Billing Address
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
        :complete="step > 3"
        step="3"
        >
          Payment
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
        step="4"
        :complete="step > 3"
        >
          Confirmation
        </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items class="py-8">
        <v-stepper-content step="1">
          <CheckoutAuth
            @auth="onAuth"
          />
        </div>
        </v-stepper-content>

        <v-stepper-content step="2">
          <AddressRlEditor
            :userId="userId"
            addressType="billing"
            v-slot="{userId, item, formState, crudEvents, error, loading}"
            @item-added="onBillingSubmit"
            @item-updated="onBillingSubmit"
          >
            <AddressBillingForm
              :item="item"
              :loading="loading"
              :error="error"
              :formState="formState"
              btnTxt="Continue to payment"
              btnJustify="end"
              :disableFormBtn="loading"
              v-on="crudEvents"
            />
          </AddressRlEditor>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-card>
            <v-card-text>
              Payment processing will be available soon! Thank you for your iterest.
            </v-card-text>

            <v-card-actions class="justify-space-between">
              <v-btn text @click="step = 2">
                back
              </v-btn>

              <v-btn text @click="onPaymentSubmit">
                Pay
              </v-btn>
            </v-card-actions>
          </v-card>


        </v-stepper-content>

        <v-stepper-content step="4">
          <v-card
            class="mb-12"
            color="grey lighten-1"
            height="200px"
          >
          Thank you!

        </v-card>

          <v-btn
            color="primary"
            @click="step = 1"
          >
            Continue
          </v-btn>

          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
    </v-container>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from "vuex"

import { loadStripe } from '@stripe/stripe-js';

// const stripePromise = loadStripe('pk_test_51HtFaWGGe0aXJVZpqZsBElJG3kCujuzqvvH7MmsbAgnzalz5baGT7ONXRCY40T0oj0N94YdaHOHJWL8VC1OXsf9D00CYlYbK1P');

export default {
  data () {
    return {
      step: 1,
    }
  },

  head () {
    return {
      // script: [
      //   {
      //     src: "https://js.stripe.com/v3/"
      //   }
      // ],
    }
  },

  middleware ({ store, redirect }) {
    if(!store.state.cart || !store.state.cart.items || !store.state.cart.items.length) {
      redirect('/')
    }
  },

  computed: {
    ...mapState('cart', {
      cartItems: 'items',
    }),

    ...mapGetters('cart', ['cartTotal']),

    ...mapState('order', ['billingAddress']),

    ...mapState('settings', ['currencyCode']),

    userId () {
      return this.$auth.user && this.$auth.user._id ? this.$auth.user._id : ''
    },
  },

  methods: {
    ...mapActions('order', ['updateBillingAddress', 'checkoutRequest']),
    ...mapMutations('cart', ['setCartitems', 'clearCart']),

    onAuth (val) {
      this.step = 2
    },

    onBillingSubmit (val) {
      this.updateBillingAddress(val)
      this.onPaymentSubmit()
    },

    async onPaymentSubmit () {
      if(this.cartItems) {
        const cartContent = this.cartItems.map(e => ({ _id: e._id, sku: e.sku, quantity: e.quantity, itemGroup: e.itemGroup, data: e.data}))

        const stripe = await loadStripe(this.$config.stripePublishableKey);
      //  this.clearCart()
        try {
          const data = {
            billingAddress: this.billingAddress,
            items: cartContent,
            userId: this.$auth.user._id,
            currencyCode: this.currencyCode,
            discountCode: '',
            customerNote: '',
          }

          const successUrl = this.$config.checkoutSuccessUrl
          const cancelUrl = this.$config.checkoutCancelUrl

          const response = await this.$axios.$post(`api/create-checkout-session/`, { item: data, successUrl,  cancelUrl})

          const result = await stripe.redirectToCheckout({
            sessionId: response.id,
          });

    if (result.error) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.

}

        //  this.step = 4
        } catch (error) {
          console.log('error %o', error)
          // this.setCartitems(cartContent)
        }

      }
    },


  },

  mounted () {
    if(this.$auth.loggedIn) {
      this.step = 2
    }
  }
}
</script>
