<template>
  <div class="page">
  <v-container  id="page-contact">
    <v-row>
      <v-col sm="12">
        <h1 class="text-h1 page-title">
          Kontakt
        </h1>
      </v-col>



      <v-col sm="12" md="4" class="pt-8">
        <div class="d-flex justify-start pb-12">
          <div>
            <v-img
              :src="respImg.url"
              :srcset="respImg.srcset"
              :sizes="respImg.sizes"
            />
          </div>
        </div>

        Kilohertz GmbH <br />
Obergass 36 <br />
8260 Stein am Rhein <br />
Tel: 052 396 30 30<br />
        Email: <a href="mailto:info@kilohertz.ch">info@kilohertz.ch</a> <br />
      </v-col>

      <v-col sm="12"  md="6" offset-md="2">
        <v-card class="py-8 px-4">
          <v-card-title class="text-h3">
            Email Senden
          </v-card-title>
          <v-card-text>
          <FormContact
            v-if="isInitialState"
            @message="onMessage"
          />

          <div v-if="isSentState" class="text-h3 text-center py-16">
            Your message was sent. Thank you!
          </div>

          <div v-if="isErrorState" class="text-center">
            <v-alert type="error">An error occured. {{ error }}</v-alert>
            {{ error }}
          </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>



  </v-container>
</div>
</template>


<script>
const STATE = {
  INITIAL: 'initial',
  SENT: 'sent',
  ERROR: 'error'
}

import { parseErrorObj, imgResp } from 'shared/utils'

export default {
  head () {
    return {
      title: "Contact me",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'online arhitect, consulting, online design, home design, design your own house' },
        { hid: 'description', name: 'description', content: 'Write for any inquires. Your home is your own project, do it on your own terms with the guidance of a professional architect.' },
      ]
    }
  },

  data () {
    return {
      state: STATE.INITIAL,
      error: '',
      imgPath: '/assets-general/contact-map.png',
    }
  },

  computed: {
    isInitialState () {
      return this.state == STATE.INITIAL
    },

    isSentState () {
      return this.state == STATE.SENT
    },

    isErrorState () {
      return this.state == STATE.ERROR
    },

    respImg () {
      return imgResp(this.imgPath, [{screen: 600, w: 350}, {screen: 960, w: 400}, {screen: 1920, w: 250}, 350 ])
    },
  },

  methods: {
    async onMessage (val) {
      try {
        let result = await this.$axios.$post(`api/contact-email`, val)
        this.state = STATE.SENT
        console.log('result %o', result)
      } catch (error) {
        this.error = parseErrorObj(error).message
        this.state = STATE.ERROR

        console.log('error %o', error)
      }
    }
  }
}
</script>
