<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this cupon?"
      />
      </v-toolbar>
        <v-card-text>

            <CuponForm
            :item="editedItem"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />

        <FormTimestamp
          v-if="isEditForm"
          :createdAt="editedItem.createdAt"
          :updatedAt="editedItem.updatedAt"
          class="mt-8"
        />

      </v-card-text>
    </template>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'
import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  computed: {
    title () {
      return this.isNewForm ? "Add new cupon" : `Edit cupon: ${this.editedItem.name}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-cupon`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        code: '',
        startDate: null,
        endDate: null,
        maxUse: null,
        timesUsed: null,
        discount: null,
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/cupons/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post('/api/cupons', {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/cupons/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/cupons/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/cupon-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/cupons')
    },

  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/cupon-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/cupons'))
  },
}
</script>
