<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
        title="Products"
        addNewLink="/product-edit"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :single-select="false"
        :options.sync="options"
        :search="search"
        :server-items-length="total"
        :loading="$fetchState.pending"
        item-key="_id"
        show-select
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.published="{ value }" >
        <v-icon small :color="value ? 'success': 'error'">mdi-circle</v-icon>
      </template>

      <template v-slot:item.createdAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.updatedAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.actions="{ item }" >
        <TableActionBtns
          @edit-item="$router.push({path: `/product-edit/${item._id}` })"
          @delete-item="onDeleteItem(item._id)"
        />
      </template>

      </v-data-table>
      </v-col>

      <v-col cols="12" xs="12">
        <div class="d-flex">
          <FormBulkActions
          :disabled="disableBulkActions"
          :actions="bulkActions"
          @delete-items="onBulkDelete"
          @publish-items="onUpdatePublish(true)"
          @unpublish-items="onUpdatePublish(false)"
          />
        </div>
    </v-col>

    <DialogConfirmation
      v-model="deleteDialog"
      message="Delete this product?"
      @confirm="deleteProduct"
    />

  </v-row>
</template>

<script>
import { formatDate } from 'shared/utils'
import BaseTableForm from 'shared/components/base/TableForm'

export default {
  extends: BaseTableForm,

  data () {
    return {
      headers: [
      { text: 'Name', value: 'name' },
      { text: 'Published', value: 'published' },
      { text: 'Created At', value: 'createdAt' },
      { text: 'Last Update', value: 'updatedAt' },
      { text: 'Actions', value: 'actions', sortable: false },
      ],

      bulkActions: [
        {text: "Delete items", value: "delete-items", event: "delete-items", confirmationMsg: "Delete selected items?" },
        {text: "Publish items", value: "publish-items", event: "publish-items" },
        {text: "Unpublish items", value: "unpublish-items", event: "unpublish-items" },
      ],
    }
  },

  filters: {
    formatDate,
  },

  methods: {
    loadItems (params) {
      return this.$axios.$get('/api/products', { params })
    },

    deleteItem (id) {
      return this.$axios.$delete(`/api/products/${id}`)
    },

    deleteMany (ids) {
      return this.$axios.$delete('/api/products', { data: { ids } })
    },

    async deleteProduct () {
      if(!this.deleteSingleItem) return
      let id = this.deleteSingleItem
      this.deleteSingleItem = null
      await this.deleteItem(id)
      this.$fetch()
    },


    async onUpdatePublish (status) {
      if(!this.selected || !this.selected.length) return
      try{
        let ids = this.selected.map(e => e._id)
        await this.$axios.$put('/api/products', { ids, update: { published: status } })
        this.$fetch()
        this.resetSelected()
      } catch (error) {
        console.log('error %o', error)
      }
    },
  },
}
</script>
