<template>
  <v-app-bar
    fixed
    app
    clipped-left
  >
  <v-app-bar-nav-icon  @click="showMenu"></v-app-bar-nav-icon>

  <v-toolbar-title v-text="title" @click="toHome" style="cursor: pointer;"></v-toolbar-title>
  <v-spacer></v-spacer>

  <v-btn small text @click="onLogout">Logout</v-btn>
  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  props: {
    menu: {
      type: Array,
      default: () => []
    },
  },

  data: () => ({
    title: 'Kilohertz',
    clipped: false,
  }),

  methods: {
    showMenu () {
      this.$store.commit('drawer/toggleDrawer')
    },

    toHome () {
      this.$router.push({path: '/'})
    },

    onLogout () {
      this.$auth.logout()
    },

  },
}
</script>
