<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    clipped
  >
  <v-list dense>
    <template v-for="(m, index) in menu">
      <v-list-group v-if="m.children">
        <template v-slot:activator>
          <v-list-item-icon>
            <v-icon v-text="m.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ m.title }}</v-list-item-title>
        </template>

        <v-list-item
          v-for="(child, i) in m.children"
          :key="i"
          link
          :to="child.to"
        >
          <v-list-item-icon>
            <v-icon v-text="child.icon"></v-icon>
          </v-list-item-icon>

          <v-list-item-title v-text="child.title"></v-list-item-title>
        </v-list-item>
     </v-list-group>

      <v-list-item
      v-else
      link
      :key="index"
      :to="m.to"
      >
          <v-list-item-icon>
            <v-icon v-text="m.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="m.title"></v-list-item-title>
      </v-list-item>
    </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {


  props: {
    menu: {
      type: Array,
      default: () => []
    },
  },

  computed: {
    drawer: {
      get () {
        return this.$store.state.drawer.open
      },

      set (val) {
        this.$store.commit('drawer/setDrawer', val)
      }
    }
  },

  methods: {
  },
}
</script>
