<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="pa-0">
        <v-breadcrumbs
      :items="breadcrumbItems"
      divider="/"
      class="font-weight-bold"
    ></v-breadcrumbs></v-col>
     </v-row>

        <v-row>
        <v-col
          cols="12"
          sm="12"
          md="3"
          v-for="p in products"
          :key="p._id"
        >
        <ProductPreview
          :item="p"
          class="mb-8"
          @show-product="onShowProduct"
        />
      </v-col>
    </v-row>

    <v-row v-if="hasPreviewFields">
      <v-col
      v-for="(p, index) in category.previewFields"
      :key="p.title"
      xs="12"
      sm="6"
      md="3"
      >
        <div class="text-h4 font-weight-bold">{{ p.title }}</div>
        <div class="text-body-2 mt-3">{{ p.content }}</div>
      </v-col>
    </v-row>
 </v-container>
</template>

<script>
import { parseErrorObj } from 'shared/utils'

export default {
  data () {
    return {
      products: [],
      category: {},
    }
  },

  async fetch () {
    try {
      const { slug } = this.$route.params
      const params = { categorySlug: slug }

      const data = await Promise.all([
        this.$axios.$get(`/api/products`, { params } ),
        this.$axios.$get(`/api/category/${slug}`)
      ])
      this.products = data[0].items
      this.category = data[1]
    } catch (error) {
      console.log('error fetch %o', parseErrorObj(error))
    }
  },

  computed: {
    breadcrumbItems () {
      const arr = [{
                text: 'Home',
                disabled: false,
                href: '/',
              }]

      arr.push({
                text: this.category.name,
                disabled: true,
              })
      return arr
    },

    hasPreviewFields () {
      return this.category && this.category.previewFields && this.category.previewFields.length
    }
  },

  methods: {
    onShowProduct (item) {
      this.$router.push({path: `/product/${item.slug}`})
    }
  },
}
</script>
