<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12" v-if="error">
        <v-alert type="error" > {{ error }} </v-alert>
      </v-col>

      <v-col cols="12" sm="12" md="4">

        <ValidationProvider rules="required|unique:name" name="name" v-slot="{ errors }">
          <v-text-field
          label="Name"
          v-model="editedItem.name"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" sm="12" md="4">
        <ValidationProvider rules="unique:slug" name="slug" v-slot="{ errors }">
          <v-text-field
          label="Slug"
          v-model="editedItem.slug"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
    </v-col>
  </v-row>

  <v-row dense class="mt-8">
    <v-col cols="12" sm="12" class="d-flex text-h6">
      Items: <v-btn color="primary" icon @click="onAddVfItem" class="ml-4"><v-icon>mdi-plus</v-icon></v-btn>
    </v-col>

    <template v-if="hasVFItems">
    <v-col cols="12" sm="12" >
      <draggable v-model="editedItem.items" handle=".handler">
        <VariableFeatureItemEditor
        v-for="(item, index) in editedItem.items" :key="index"
          v-model="editedItem.items[index]"
          @delete-item="onDeleteVFItem(index)"
        />
      </draggable>
      </v-col>
      </template>

      <template v-else>
        <v-col sm="12" class="mt-8 text-center">No items yet. Click "+" to add one.</v-col>
      </template>

        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>

    <DialogConfirmation
    v-model="deleteVFItemDialog"
    :message="deleteVFItemMsg"
    @confirm="deleteVFItemConfirmation"
    />

  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"
import draggable from 'vuedraggable'

export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  components: {
    draggable,
  },

  data () {
    return {
      deleteVFItemDialog: false,
      deleteVfItemIndex: null,
      deleteVFItemMsgBase: "Delete this variable feature item?",
      deleteVFItemMsgProductAffected: '',
    }
  },

  computed: {
    hasVFItems () {
      return this.editedItem && this.editedItem.items && this.editedItem.items.length
    },

    deleteVFItemMsg () {
      return this.deleteVFItemMsgProductAffected + this.deleteVFItemMsgBase
    }
  },

  methods: {
    onAddVfItem () {
      this.editedItem.items.push({name: '', slug: '', value: '', description: '',})
    },

    async onDeleteVFItem (index) {
      this.deleteVFItemMsgProductAffected = ''
      this.deleteVfItemIndex = index
      // check if is an already DB registered vfItem
      let item = this.editedItem.items[index]
      if(item._id){
        try {
          const affectedProducts = await this.$axios.$get(`/api/count-products-with-vf`, {params: {vfItemId: item._id}})
          if(affectedProducts != 0) {
            let plural = affectedProducts == 1 ? 'Product' : 'Products'
            this.deleteVFItemMsgProductAffected = `${affectedProducts} ${plural} will be affected. <br />`
          }
        } catch (error) {
          this.error = error.msg
        }
      }
      this.deleteVFItemDialog = true
    },

    deleteVFItemConfirmation () {
      if(this.deleteVfItemIndex == null) return
      this.editedItem.items.splice(this.deleteVfItemIndex, 1)
      this.deleteVfItemIndex = null
      this.updateItem()
    },
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
