<template>
  <v-row>
    <v-col cols="12" sm="12" md="3" class="d-flex align-center">
      <v-icon class="handler grabbing-cursor mr-4">mdi-drag-vertical</v-icon>
        <v-text-field
          label="Name"
          v-model="item.name">
        </v-text-field>
  </v-col>
  <v-col cols="12" sm="12" md="3" class="d-flex align-center">
        <v-text-field
          label="Slug"
          v-model="item.slug"
          :disabled="!slugEdit"
          class="ml-4"
          >
        </v-text-field>

        <v-btn small icon @click="slugEdit = !slugEdit"><v-icon small>{{ slugEdit ? 'mdi-pencil-outline' : 'mdi-pencil-off-outline' }}</v-icon></v-btn>
</v-col>
  <!-- <v-col cols="12" sm="12" md="3">
        <v-text-field
          label="Value"
          v-model="item.value"
          class="ml-4"
          >
        </v-text-field>
  </v-col> -->
  <v-col cols="12" sm="12" md="6" class="d-flex align-center">
        <v-text-field
          label="Description"
          v-model="item.description"
          class="ml-4"
          >
        </v-text-field>

        <v-btn @click="$emit('delete-item')" icon small class="ml-4"><v-icon small>mdi-delete</v-icon></v-btn>
  </v-col>
</v-row>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  model: {
    prop: 'item'
  },

  data () {
    return {
      slugEdit: false
    }
  },

  watch: {

  },
}
</script>
