<template>
  <div class="d-flex justify-center align-center">
  <v-select
    label="Variable Features List"
    :items="variableFeaturesList"
    v-model="selected"
    item-text="name"
    item-value="_id"
    :loading="loadingList"
    :error-messages="error"
    return-object
  />
  <v-btn color="primary" @click="onSelect" :disabled="!selected" class="ml-4">{{ btnTxt }}</v-btn>
  </div>
</template>

<script>
export default {
  props: {
    btnTxt: {
      type: String,
      default: "Add"
    }
  },

  data () {
    return {
      variableFeaturesList: [],
      loadingList: false,
      error: null,
      selected: null,
    }
  },

  async fetch () {
    this.loadingList = true
    if(this.error) this.error = null
    try {
      this.variableFeaturesList = await this.$axios.$get('/api/variable-features-list')
    }catch (error) {
      console.log('error %o', error)
      this.error = error.message
    } finally {
      this.loadingList = false
    }
  },

  methods: {
    onSelect () {
      if(!this.selected) return
      this.$emit('selected', this.selected)
      this.selected = null
    }
  }
}
</script>
