<template>
  <div class="page">
    <v-container id="page-faq">
      <v-row>
        <v-col cols="12">

      </v-col>

      <v-col sm="12">

      </v-col>
    </v-row>

  </v-container>

</div>
</template>

<script>
export default {
  head () {
    return {
      title: "Frequently asked questions about Kilohertz, online sessions and plans.",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'relation between permaculture and architecture, how to design you own home, architecture consulting online' },
        { hid: 'description', name: 'description', content: 'A page that answers the questions of those wishing an online architecture coaching to design and build their own sustainable home. From ready made home plans to pdf guides and checklists, blog and online community, I try to build a strong foundation for your home project.' },
      ]
    }
  },
}
</script>
