<template>
  <div class="page">
  <v-container  id="page-referenzen">
    <v-row>
      <v-col sm="12">
        <h1 class="text-h1 page-title">
          Referenzen
        </h1>
      </v-col>
    </v-row>
  </v-container>
</div>
</template>


<script>
const STATE = {
  INITIAL: 'initial',
  SENT: 'sent',
  ERROR: 'error'
}

import { parseErrorObj, imgResp } from 'shared/utils'

export default {
  head () {
    return {
      title: "Contact me",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'online arhitect, consulting, online design, home design, design your own house' },
        { hid: 'description', name: 'description', content: 'Write for any inquires. Your home is your own project, do it on your own terms with the guidance of a professional architect.' },
      ]
    }
  },

  data () {
    return {
      state: STATE.INITIAL,
      error: '',
      imgPath: '/assets-general/contact-map.png',
    }
  },

  computed: {
    isInitialState () {
      return this.state == STATE.INITIAL
    },

    isSentState () {
      return this.state == STATE.SENT
    },

    isErrorState () {
      return this.state == STATE.ERROR
    },

    respImg () {
      return imgResp(this.imgPath, [{screen: 600, w: 350}, {screen: 960, w: 400}, {screen: 1920, w: 250}, 350 ])
    },
  },

  methods: {
    async onMessage (val) {
      try {
        let result = await this.$axios.$post(`api/contact-email`, val)
        this.state = STATE.SENT
        console.log('result %o', result)
      } catch (error) {
        this.error = parseErrorObj(error).message
        this.state = STATE.ERROR

        console.log('error %o', error)
      }
    }
  }
}
</script>
