<template>
      <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
        <form @submit.prevent="handleSubmit(onSubmit)">
          <v-row>
          <v-col cols="12" v-if="error">
            <v-alert type="error" > {{ error }} </v-alert>
          </v-col>

          <v-col cols="12" sm="12" md="4">
            <ValidationProvider rules="required" name="name" v-slot="{ errors }">
              <v-text-field
              label="Name"
              v-model="editedItem.name"
              :error-messages="errors[0]"
              />
            </ValidationProvider>
          </v-col>

          <v-col cols="12" sm="12" md="4">
            <ValidationProvider name="Title" v-slot="{ errors }">
              <v-text-field
              label="Title"
              v-model="editedItem.title"
              :error-messages="errors[0]"
              />
            </ValidationProvider>
          </v-col>

          <v-col cols="12" sm="12" md="4" v-if="isEditForm">
            <ValidationProvider rules="required" name="slug" v-slot="{ errors }">
              <v-text-field
              label="Slug"
              v-model="editedItem.slug"
              :error-messages="errors[0]"
              />
            </ValidationProvider>
          </v-col>
          </v-row>


          <v-row>

            <v-col cols="12" sm="12" md="8">
              <ValidationProvider name="description" v-slot="{ errors }">
                <v-textarea
                label="Description"
                v-model="editedItem.description"
                :error-messages="errors[0]"
                />
              </ValidationProvider>
            </v-col>

          <v-col sm="12" md="4">
            <div class="subtitle-1 py-4">Category image</div>
            <MediaFilesSelect
              singleSelect
              v-model="editedItem.image"
            />
          </v-col>

        </v-row>

        <v-row>
          <v-col cols="12" class="text-h5">Preview Fields</v-col>
          <v-col sm="12" md="4"
          v-for="(p, index) in editedItem.previewFields"
           :key="index">
          <PreviewForm
          :item="p"
          />
        </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" sm="12" class="text-h5">Highlights <v-btn icon color="primary" @click="addHighlights" class="ml-4" alt="Add Highlights" title="Add Highlights"><v-icon>mdi-plus</v-icon></v-btn></v-col>

          <v-col v-if="noHighlights" cols="12" sm="12" class="text-disabled text-subtitle-1 pb-12" >
            Click on "+" to add highlights
          </v-col>

          <template v-else>
          <v-col sm="12" md="4"
          v-for="(p, index) in editedItem.highlights"
           :key="index">
          <HighlightForm
          :item="p"
          @delete-item="deleteHighlight(index)"
          />
        </v-col>
        </template>
        </v-row>

          <!-- <v-col cols="12" class="text-center">
            <v-btn :disabled="isNewForm" text outlined small color="success" @click="onEditMeta(editedItem.id)">Edit category meta</v-btn>
          </v-col> -->

            <v-col cols="12" class="text-center pt-8">
              <FormSubmitBtn
              :state="formState"
              :disabled="disableFormBtn"
              :cancelBtn="isEditForm"
              @cancel="onCancel"
              />
            </v-col>
          </v-row>
        </form>
      </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"

export default {
  mixins: [ItemFormMixin],

  data () {
    return {
      dialog: false,
      confirmationMsg: "Do you want to delete this category?"
    }
  },

  methods: {
    onDeleteItem () {
      this.dialog = true
    },

    onCancel () {
      this.$emit('cancel-edit')
    },

    addHighlights () {
      if(!this.editedItem.highlights) {
        this.editedItem.highlights = []
      }

      this.editedItem.highlights.push({title: '', content: ''})
    },

    deleteHighlight (index) {
      if(this.editedItem.highlights[index]) {
        this.editedItem.highlights.splice(index, 1)
      }
    },
  },

  computed: {
    noHighlights () {
      return !this.editedItem.highlights || !this.editedItem.highlights.length
    },
  },

  // watch: {
  //   item: function (val) {
  //     this.$refs.form.reset()
  //   }
  // }
}
</script>
