<template>
  <div>
  <v-select
    :label="label"
    :items="items"
    v-model="selected"
    :error-messages="error"
    item-text="name"
    item-value="_id"
    clearable
  />
  </div>
</template>

<script>
import ErrorMixin from 'shared/components/mixins/ErrorMixin'

export default {
  props: {
    item: {
      type: String
    },

    label: {
      type: String,
      default: 'Select Category'
    },
  },

  model: {
    prop: 'item'
  },

  mixins: [ErrorMixin],

  data () {
    return {
      items: []
    }
  },

  computed: {
    selected: {
      get () {
        return this.item
      },

      set (val) {
        this.$emit('input', val ? val : null)
      }
    }
  },

  async fetch () {
    try{
      this.items = await this.$axios.$get('api/categories')
    } catch (err) {
      this.setError(err.message)
    }
  },
}
</script>
