<template>
  <v-card
  width="450px"
  >
    <v-toolbar
    flat
    >
    <v-toolbar-title>Categories</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn color="primary" icon @click="addNew" title="Add new Category" alt="Add new Category"><v-icon>mdi-plus</v-icon></v-btn>
    </v-toolbar>

    <v-card-text>
    <template v-if="hasCategories">

          <draggable v-model="editedItem" handle=".handler" @change="onListChange">
            <template v-for="item in editedItem">
              <v-hover v-slot="{ hover }" :key="item._id">
              <v-sheet>

            <v-btn icon class="handler grabbing-cursor mr-4"><v-icon>mdi-drag-vertical</v-icon></v-btn>


            <span>
              {{ item.name }}
            </span>

            <v-btn
              v-if="hover"
              small
              icon
              @click="$emit('edit', item._id)"
            >
            <v-icon small>
              mdi-pencil
            </v-icon>
          </v-btn>
        </v-sheet>
        </v-hover>
      </template>
          </draggable>


    </template>
    <template v-else>
      <h5 class="mt-12">No categories yet.</h5>
    </template>
  </v-card-text>

  <v-card-actions class="justify-center">
    <form @submit.prevent="onSubmit">
      <FormSubmitBtn
      :state="formState"
      :disabled="disableSubmitBtn"
      hideCancel
      />
    </form>
  </v-card-actions>
</v-card>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import draggable from 'vuedraggable'

export default {
    mixins: [ItemFormMixin],

    data () {
      return {
        disableSubmitBtn: true,
      }
    },

    components: {
      draggable,
    },

    computed: {
      hasCategories () {
        return this.editedItem && !!this.editedItem.length
      },
    },

    methods: {
      onListChange () {
        this.reorderItems()
        this.disableSubmitBtn = false
      },

      reorderItems () {
        this.editedItem = this.editedItem.map((e, index) => {
          e.order = index
          return e
        })
      },

      addNew () {
        this.$emit('new-item')
      },
    },

    watch: {
      item: function (val) {
        this.disableSubmitBtn = true
      }
    }
}
</script>
