
<template>
  <div>
    <slot v-if="subscribed" name="subscribed" :bind="{ subscribed, email }">
      <div class="text-h3 accent--text">
        Thanks, your signup was successful!
      </div>
    </slot>

    <div v-else>
      <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
        <v-form @submit.prevent="handleSubmit(onSubmit)">
          <ValidationProvider rules="required|email" name="email" v-slot="{ errors }">
            <v-text-field
              v-model="email"
              label="Email"
              :error-messages="errors[0]"
              :loading="loading"
              :outlined="outlined"
              :dense="dense"
              :background-color="bg"
            />
          </ValidationProvider>

          <slot name="action">
          <div class="d-flex justify-center">
            <v-btn type="submit" color="secondary" dark>{{ btnText }}</v-btn>
          </div>
        </slot>
        </v-form>
      </ValidationObserver>
    </div>

</div>
</template>

<script>
import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
import { parseErrorObj } from 'shared/utils'
export default {
  props: {
    mailList: {
      type: String,
      default: '6-day-course'
    },

    btnText: {
      type: String,
      default: 'Subscribe'
    },

    outlined: {
      type: Boolean,
    },

    dense: {
      type: Boolean,
    },

    bg: {
      type: String,
    },
  },

  components: {
    ValidationObserver,
    ValidationProvider,
  },

  data () {
    return {
      email: '',
      loading: false,
      errorMsg: null,
      subscribed: false,
    }
  },

  methods: {
    async onSubmit () {
      this.errorMsg = null
      this.loading = true
      try {
        const { email, mailList } = this
        console.log(`api/mail-subscribe`)
        console.log(mailList)
        const result = await this.$axios.$post(
          `api/mail-subscribe`,
          { email, mailList}
        )
        this.subscribed = true
        this.$emit('subscribed')
      } catch (error) {
        let ms = parseErrorObj(error)
        if(ms) this.errorMsg = ms.message
      } finally {
        this.loading = false
      }
    },
  },


}
</script>
