<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this product?"
      />
      </v-toolbar>
      <v-card-text>

      <v-tabs
        v-model="tab"
      >
      <v-tab href="#basic">Basic</v-tab>
      <v-tab href="#seo" :disabled="isNewForm">SEO</v-tab>
      <v-tab href="#media" :disabled="isNewForm">Media</v-tab>

      <template v-if="isVariable">
        <v-tab href="#variable-features"  :disabled="isNewForm">Variable Features</v-tab>
        <v-tab href="#product-variations"  :disabled="isNewForm">Product Variations</v-tab>
      </template>

      <v-tab href="#linked-products" :disabled="isNewForm">Linked Products</v-tab>

      <v-tab-item value="basic">
        <ProductBasicForm
        :item="productBasicData"
        :formState="formState"
        :validationUnique="uniqueField"
        @add-item="onAddItem"
        @update-item="onUpdateItem"
        @cancel="onCancel"
        />
      </v-tab-item>


     <v-tab-item value="seo">
        <ProductSeoForm
        :item="productSeoData"
        :formState="formState"
        :validationUnique="uniqueField"
        @update-item="onUpdateItem"
        @cancel="onCancel"
        />
      </v-tab-item>

      <v-tab-item value="media">
        <v-tabs centered>
          <v-tab href="#main-image">Main Image</v-tab>
          <v-tab href="#gallery">Gallery</v-tab>
          <v-tab href="#flyers">Flyers</v-tab>
          <v-tab href="#manuals">Manuals</v-tab>
          <v-tab href="#layouts">Layouts</v-tab>

          <v-tab-item value="main-image">
            <ProductMediaForm
              singleSelect
              field="image"
              :item="productImageData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>


          <v-tab-item value="gallery">
            <ProductMediaForm
              field="gallery"
              :item="productGalleryData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>

          <v-tab-item value="flyers">
            <ProductMediaForm
              field="flyers"
              :item="productFlyersData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>

          <v-tab-item value="manuals">
            <ProductMediaForm
              field="manuals"
              :item="productManualsData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>

          <v-tab-item value="layouts">
            <ProductMediaForm
              field="layouts"
              :item="productLayoutsData"
              :formState="formState"
              @update-item="onUpdateItem"
            />
          </v-tab-item>
        </v-tabs>
      </v-tab-item>

      <template v-if="isVariable">
        <v-tab-item value="variable-features">
          <ProductVariableFeaturesForm
          :item="productVariableFeaturesData"
          :formState="formState"
          @update-item="onUpdateItemVF"
          />
        </v-tab-item>


        <v-tab-item value="product-variations">
          <ProductVariationsForm
          :error="error"
          :item="productVariationsData"
          :formState="formState"
          @update-item="onUpdateItemVariations"
          />
        </v-tab-item>
      </template>

      <v-tab-item value="linked-products">
        <v-tabs centered>
          <v-tab :href="`#${t.slug}`" v-for="t in linkedProductsTabs" :key="t.slug">{{ t.title }}</v-tab>
          <v-tab-item v-for="t in linkedProductsTabs" :key="t.slug" :value="t.slug">
            <ProductLinkedProducts
              :item="linkedProducts[t.slug]"
              :title="t.title"
              :formState="formState"
              @update-item="onUpdateLinkedProducts(t.slug, $event)"
            />
          </v-tab-item>
        </v-tabs>
      </v-tab-item>
    </v-tabs>

    <FormTimestamp
      v-if="isEditForm"
      :createdAt="editedItem.createdAt"
      :updatedAt="editedItem.updatedAt"
      class="mt-8"
    />
  </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'
import { arrayContainsDuplicates, featureConfigAsString, isSimpleProduct, isVariableProduct, isProductVariation, } from 'shared/utils'

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      tab: 'basic',
      linkedProductsTabs: [
        {slug: 'accessories', title: 'Accessories'},
        {slug: 'crossSells', title: 'Cross Sells'},
        {slug: 'replacementMaterials', title: 'Replacement Materials'},
      ],
    }
  },

  computed: {
    title () {
      return this.isNewForm ? "Add new product" : `Edit product: ${this.editedItem.name}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-product`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },

    productBasicData () {
      const {
        published,
        displayOrder,
        sku,
        name,
        type,
        excerpt,
        description,
        longDescription,
        technicalInformation,
        packageContains,
        price,
        salePrice,
        volumePrice,
        categoryId,
        brandId,
        sizeLength,
        sizeWidth,
        sizeHeight,
        weightNet,
        weightGross,
        previewFields,

      } = this.editedItem

      return {
        published,
        displayOrder,
        sku,
        name,
        type,
        excerpt,
        description,
        longDescription,
        technicalInformation,
        packageContains,
        price,
        salePrice,
        volumePrice,
        categoryId,
        brandId,
        sizeLength,
        sizeWidth,
        sizeHeight,
        weightNet,
        weightGross,
        previewFields,
      }
    },

    productSeoData () {
      const { slug, metaDescription, keywords } = this.editedItem
      return { slug, metaDescription, keywords }
    },

    productImageData () {
      const { image } = this.editedItem
      return { image }
    },

    productGalleryData () {
      const { gallery = [] } = this.editedItem
      return { gallery }
    },

    productFlyersData () {
      const { flyers = [] } = this.editedItem
      return { flyers }
    },

    productManualsData () {
      const { manuals = [] } = this.editedItem
      return { manuals }
    },

    productLayoutsData () {
      const { layouts = [] } = this.editedItem
      return { layouts }
    },

    productVariableFeaturesData () {
      const { variableFeatures = [] } = this.editedItem
      return variableFeatures
    },

    productVariationsData () {
      let { variations = [],  variableFeatures = [] } = this.editedItem
      variations = variations.map(e => {
        e.fcString = featureConfigAsString(e.featuresConfig)
        return e
      })
      return { variations, variableFeatures }
    },

    linkedProducts () {
      let { accessories = [],  crossSells = [], replacementMaterials = [] } = this.editedItem
      return {
        accessories,
        crossSells,
        replacementMaterials,
      }
    },

    isSimple () {
      return isSimpleProduct(this.editedItem)
    },

    isVariable () {
      return isVariableProduct(this.editedItem)
    },
  },

  methods: {
    getDefaultItem () {
      return {
        // basic
        published: false,
        displayOrder: 10,
        sku: '',
        name: '',
        type: 'simple',
        excerpt: '',
        description: '',
        longDescription: '',
        technicalInformation: '',
        packageContains: '',
        price: null,
        salePrice: null,
        volumePrice: null,
        categoryId: null,
        brandId: null,
        sizeLength: null,
        sizeWidth: null,
        sizeHeight: null,
        weightNet: null,
        weightGross: null,

        previewFields: [...Array(3)].map(e => ({title: '', content: '', image: null})),
        // seo
        metaDescription: '',
        keywords: '',
        // variableProduct
        variableFeatures: [],
        variations: [],

        accessories: [],
        crossSells: [],
        replacementMaterials: [],
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/products/${id}`, {params: {raw: true}})
    },

    async addItem (item) {
      return this.$axios.$post(`/api/products`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/products/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/products/${id}`)
    },

    onUpdateItemVF (val) {
      this.onUpdateItem({variableFeatures: val})
    },

    onUpdateItemVariations (val) {
      this.error = null
      if(!val.variations) return
      const variationsWithoutSku = val.variations.filter(e => !e.sku).length
      if(variationsWithoutSku) {
        this.error = "Some items doesn't have SKU defined"
        return
      }

      if(arrayContainsDuplicates(val.variations.map(e => e.sku), true)) {
        this.error = "Some SKU's are duplicates"
        return
      }

      this.onUpdateItem({variations: val.variations})
    },

    onUpdateLinkedProducts (type, val) {
      this.onUpdateItem({[type]: val})
    },

    onNewItem () {
      this.$nuxt.context.redirect('/product-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/products')
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/product-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/products'))
  },
}
</script>
