<template>
  <v-list two-line dense>

      <v-list-item v-for="f in files" :key="f._id">

      <v-list-item-icon class="mb-4 mr-4">
        <v-icon color="error">
          {{ iconForFile(f) }}
        </v-icon>
      </v-list-item-icon>

      <v-list-item-content>
        <v-list-item-title><a :href="fileUrl(f.filePath)" target="_blank">{{ f.title ? f.title : f.filePath }}</a></v-list-item-title>
        <v-list-item-subtitle>{{ f.description }}</v-list-item-subtitle>
      </v-list-item-content>
  </v-list-item>
</v-list>
</template>


<script>
import path from 'path'
import { imgUrl } from 'shared/utils'
export default {
  props: {
    files: {
      type: Array,
      default: () => [],
    },
  },

  data () {
    return {

    }
  },

  computed: {

  },

  methods: {
    fileUrl (filePath) {
      return imgUrl(filePath)
    },

    isNonImage (file) {
      return file.fileType == 'non-image'
    },

    isPDF (file) {
      return this.fileExt(file) == '.pdf'
    },

    fileExt (file) {
      return path.extname(file.filePath).toLowerCase()
    },

    iconForFile (file) {
      return this.isPDF(file) ? 'mdi-file-pdf-box' : 'mdi-file'
    },
  }
}
</script>
