<template>
  <div class="d-flex justify-end align-center family py-2" >
    <div v-if="items.length" class="text-caption">Ähnliche<br /> Produkte</div>
    <div v-for="item in items" :key="item._id">
      <v-img
      v-if="item.image" :src="thumbnailUrl(item.image.filePath)"
      @click="showProduct(item)"
      :alt="`Link to ${item.name}`"
      :title="item.name"
      class="mx-4 cursor-link"
      />
    </div>
  </div>
</template>

<script>
import { imgUrl } from 'shared/utils'

export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    thumbnailUrl (filePath) {
      return imgUrl(filePath, [{width: 50, height: 50}])
    },

    showProduct (item) {
      this.$emit('show-product', item)
    }
  }
}
</script>

<style scoped>
.family {
  border-top: 2px dotted #ccc;
  border-bottom: 2px dotted #ccc;
}
</style>
