<template>
<v-card>
  <v-card-title >
    <nuxt-link
      :to="`${link}/${item.slug}`"
      class="text-h4 font-weight-bold text-decoration-none"
      >
      {{ item.name }}
    </nuxt-link>
  </v-card-title>

  <v-card-text>
    <v-img
      v-if="hasImage"
      :src="respImg.url"
      :srcset="respImg.srcset"
      :sizes="respImg.sizes"
      style="cursor: pointer;"
      @click="showProduct"
    />
  </v-card-text>
  <v-card-actions class="flex-column justify-end align-end">
    <div v-if="isVariableProduct">
      <v-btn v-if="!cartConfigView" @click="showCartConfig" small color="secondary">Select Variation</v-btn>
      <v-btn v-else @click="hideCartConfig" small icon title="Close" ><v-icon small>mdi-close</v-icon></v-btn>
    </div>


        <div v-if="showProductVariationSelector" class="d-flex justify-space-between align-center pt-4 pb-4">
          <div class="select-variation-container d-flex justify-end">
            <ProductVariationSelector
              :variableFeatures="item.variableFeatures"
              :skusConfig="skusConfig"
              v-model="selectedSku"
              width="70px"
              dense
            />
          </div>
          <v-spacer></v-spacer>
        </div>
        <div class="add-to-cart-container">
          <CartAddToFormLinkedProd
          v-if="showAddToCart"
          :item="cartableItem"
          @added-to-cart="showConfirm"
          />
        </div>


  </v-card-actions>
</v-card>

</template>

<script>
import defaults from 'lodash/defaults.js'
import { imgResp, imgUrl, isSimpleProduct, isVariableProduct, isProductVariation, CartableItem, fullVariationConfig, filterObject, PRODUCT_TYPE } from 'shared/utils'

export default {
  props: {
    item: {
      type: Object,
      required: true,
    },

    link: {
      type: String,
      default: '/product'
    },
  },

  data () {
    return {
      selectedSku: null,
      cartConfigView: false,
    }
  },

  computed: {
    hasImage () {
      return !!this.item.image
    },

    respImg () {
      if(!this.hasImage) return null
      return imgResp(this.item.image.filePath, [{screen: 600, w: 325}, {screen: 960, w: 400}, {screen: 1920, w: 400}, 600 ])
    },

    skusConfig () {
      if(!this.isVariableProduct) return []
      return this.item.variations.reduce((acc, e) => {
        acc[e.sku] = e.featuresConfig
        return acc
      }, {})
    },

    product () {
      if(!this.isVariableProduct || !this.selectedSku) return this.item // no changes needed
      const selectedVariation = this.item.variations.find(e => e.sku == this.selectedSku)
      if(!selectedVariation) return this.item

      const trimmedVariation = filterObject(selectedVariation, (val) => val != null && val != "" || (Array.isArray(val) && val.length != 0 ) ) // remove from variation null, empty strings or empty arrays values before joining with parent product
      const variationFeatures = fullVariationConfig(selectedVariation.featuresConfig, this.item.variableFeatures)
      return defaults({ type: PRODUCT_TYPE.VARIATION }, trimmedVariation, { variationFeatures }, this.item)
    },

    isSimpleProduct () {
      return isSimpleProduct(this.item)
    },

    isVariableProduct () {
      return isVariableProduct(this.item)
    },

    isProductVariation () {
      return isProductVariation(this.product)
    },

    cartableItem () {
      const description = this.isProductVariation ? this.variationDescription(this.product) : ''
      const itemType = this.product.type
      const cartItem = Object.assign({}, this.product, { description, itemType })
      return new CartableItem(cartItem)
    },

    showAddToCart () {
      return this.isSimpleProduct || this.isVariableProduct && this.cartConfigView
    },

    showProductVariationSelector () {
      return this.isVariableProduct && this.cartConfigView
    },

  },


  methods: {
    imgUrlPreview (filePath) {
      return imgUrl(filePath, [{width:40, height:40}])
    },

    showProduct () {
      this.$router.push({path: `${this.link}/${this.item.slug}`})
    },

    showCartConfig () {
      this.cartConfigView = true
    },

    hideCartConfig () {
      this.cartConfigView = false
    },

    showConfirm () {
      this.$emit('added-to-cart')
    },

    variationDescription (item) {
      if(!item.variationFeatures) return ''
      return item.variationFeatures.map(e => `${e.featureName} ${e.itemName}`).join(', ')
    },
  },
}
</script>

<style scoped lang="scss">

.product-name {
  cursor: pointer;
  font-size: 2em;
}
</style>
