<template>
  <v-tabs
    v-model="tab"
    align-with-title
  >
    <v-tabs-slider color="primary"></v-tabs-slider>

    <template v-for="item in tabs">
    <v-tab
      :key="item.title"
    >
      {{ item.title }}
    </v-tab>

    <v-tab-item
      :key="item.title"
    >
      <div
      v-if="item.type == 'html'"
      v-html="item.content"
      class="py-8"
      />

      <ProductTechnicalInformationTable
      v-else-if="item.type == 'technicalInformation'"
      :textContent="item.content"
      class="py-8"
      />

      <div v-else>
        <ProductAttachmentsList
          :files="item.content"
          class="py-8"
        />

      </div>
    </v-tab-item>
  </template>
  </v-tabs>
</template>


<script>
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
  },

  data () {
    return {
      tab: null,
    }
  },

  computed: {
    tabs () {
      let t = []

      if(this.product.longDescription) {
        t.push({title: 'Beschreibung', content: this.product.longDescription, type: 'html' })
      }

      if(this.product.technicalInformation) {
        t.push({title: 'Technische Daten', content: this.product.technicalInformation, type: 'technicalInformation' })
      }

      if(this.product.packageContains) {
        t.push({title: 'Lieferumfang', content: this.product.packageContains, type: 'html' })
      }

      if(this.product.flyers && this.product.flyers.length) {
        t.push({title: 'Broschüre', content: this.product.flyers, type: 'files' })
      }

      if(this.product.manuals && this.product.manuals.length) {
        t.push({title: 'Anleitung', content: this.product.manuals, type: 'files' })
      }

      if(this.product.layouts && this.product.layouts.length) {
        t.push({title: 'Vorlage', content: this.product.layouts, type: 'files' })
      }

      return t
    }
  },

  watch: {
    product: function (val) {
      this.tab = null
    }
  }
}
</script>
