<template>
  <div class="variation-selector-container">
    <v-select
      v-for="vf of this.variableFeatures"
      :key="vf._id"
      :items="items(vf, selectedConfig)"
      item-text="name"
      item-value="slug"
      :label="vf.name"
      clearable
      @change="updateSelectedConfig(vf.slug, $event)"
      :value="selectedConfig[vf.slug]"
      :disabledOptions="disabledFeaturesForConfig(vf.slug, selectedConfig)"
      :dense="dense"
    >
    <template v-slot:item="{item}">
      <div class="d-flex flex-column mb-2">
        <div class="d-flex name-price justify-space-between font-weight-bold">
          <div class="feature-name">{{ item.name }}</div>
        </div>
      </div>

    </template>
    </v-select>
  </div>
</template>

<script>
import  isEqual  from 'lodash/isEqual'
import  pickBy  from 'lodash/pickBy'
import  isEmpty  from 'lodash/isEmpty'
import  difference  from 'lodash/difference'

export default {
  props: {
    variableFeatures: {
      type: Array,
      required: true,
    },

    skusConfig: {
      type: Object,
      required: true,
    },

    selectedSku: {
      type: String,
    },

    dense: {
      type: Boolean,
    },
  },

  model: {
    prop: 'selectedSku',
  },

  data () {
    return {
      selectedConfig: {},
    }
  },

  computed: {
    selectableConfigs () {
      return Object.keys(this.skusConfig).reduce((acc, e) => {
        acc.push(this.skusConfig[e])
        return acc
      }, [])
    },
  },

  methods: {
    items (vf, selectedConfig) {
      if(!vf || !vf.items) return []
      const dis = this.disabledFeaturesForConfig(vf.slug, selectedConfig)
      return vf.items.map(e => {
        return dis.indexOf(e.slug) >= 0 ? { ...e, disabled: true } : e
      })
    },

    updateSelectedConfig (slug, value) {
      this.selectedConfig = Object.assign({}, this.selectedConfig, {[slug]: value})
      this.syncSkuWithSelectedConfig()
    },

    syncSkuWithSelectedConfig () {
      let syncSku = null
      for (let sku in this.skusConfig) {
        if (isEqual(this.skusConfig[sku], this.selectedConfig)) {
          syncSku = sku
          break
        }
      }
      this.$emit('input', syncSku)
    },

    // slug is the variableFeature slug and dvc is the computed 'definedVariationConfig'
    disabledFeaturesForConfig (slug, vc) {
      let dvc = pickBy(vc, (val, key) => !!val && key != slug)
      if(isEmpty(dvc)) return []
      const vf = this.variableFeatures.find(e => e.slug == slug)
      const allOptions = vf && vf.items && vf.items.map(e => e.slug)

      if(!Array.isArray(allOptions) || !allOptions.length) return []
      const availableOptions = this.selectableConfigs
      .filter(e => Object.keys(dvc).every(k => e[k] == dvc[k])) // filter the configs that match partial variationConfig
      .map(e => e[slug]) // retain only the values for that slug
      .filter((e, index, arr) => arr.indexOf(e) == index) // remove duplicates

      let dis = difference(allOptions, availableOptions)
      return dis
    },


  },

  watch: {
    selectedSku: {
      handler: function (val) {
        if(!val) return

        const config = this.skusConfig[val]
        if(config && isEqual(config, this.selectedConfig)) return

        this.selectedConfig = config || {}
      },
      immediate: true,
    },
  },
}
</script>
