<template>
  <div class="cont-border">
    <div class="horiz mt-n1 mx-4"></div>
    <div class="d-flex align-center my-4">
      <div class="vert mx-n1">
        <slot>

        </slot>
      </div>
      </div>
    <div class="horiz mb-n1 mx-4"></div>
  </div>
</template>

<style lang="scss" scoped>
.cont-border {
  border: 1px solid $dark-charcoal;

  .horiz {
    height: 5px;
    background-color: $background;
  }

  .vert {
    margin-left: -5px;
    margin-right: -5px;
    background-color: $background;
  }
}
</style>
