<template>
  <v-toolbar
    class="mb-4"
    color="transparent"
    flat
  >
    <v-text-field
      :value="search"
      @input="$emit('update:search', $event)"
      clearable
      flat
      solo-inverted
      hide-details
      prepend-inner-icon="mdi-magnify"
      label="Search"
    ></v-text-field>
    <template v-if="$vuetify.breakpoint.mdAndUp">
      <v-spacer></v-spacer>
      <v-select
        :value="sortBy"
        @change="$emit('update:sortBy', $event)"
        flat
        solo-inverted
        hide-details
        :items="sortItems"
        prepend-inner-icon="mdi-magnify"
        label="Sort by"
        class="mr-2"
      ></v-select>
      <v-btn-toggle
        :value="sortDesc"
        @change="$emit('update:sortDesc', $event)"
        mandatory
      >
        <v-btn
          depressed
          :value="false"
        >
          <v-icon>mdi-arrow-up</v-icon>
        </v-btn>
        <v-btn
          depressed
          :value="true"
        >
          <v-icon>mdi-arrow-down</v-icon>
        </v-btn>
      </v-btn-toggle>
    </template>
  </v-toolbar>
</template>

<script>

export default {
  props: {
    search: {
      type: String,
    },

    sortBy: {
      type: String,
    },

    sortDesc: {
      type: Boolean
    },

    sortItems: {
      type: Array,
      default: () => []
    },
  },
}
</script>
