<template>
  <v-sheet class="d-flex" color="transparent">
    <div>
    <span class="grey--text">Items per page</span>
      <v-menu offset-y :disabled="total == 0">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            dark
            text
            color="primary"
            class="ml-2"
            v-bind="attrs"
            v-on="on"
          >
            {{ itemsPerPage }}
            <v-icon>{{ mdiChevronDown }}</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(number, index) in itemsPerPageOptions"
            :key="index"
            @click="updateItemsPerPage(number)"
          >
            <v-list-item-title>{{ number }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

      <v-spacer></v-spacer>
      <div>
      <span
        class="mr-4
        grey--text"
      >
        Page {{ page }} of {{ numberOfPages }}
      </span>
      <v-btn
        outlined
        color="blue darken-3"
        class="mr-1"
        :to="previousPageLink"
        :disabled="disablePreviewBtn"
      >
        <v-icon> {{ mdiChevronLeft }}</v-icon>
      </v-btn>
      <v-btn
        outlined

        color="blue darken-3"
        class="ml-1"
        :to="nextPageLink"
        :disabled="disableNextBtn"
      >
        <v-icon>{{ mdiChevronRight }}</v-icon>
      </v-btn>
    </div>
  </v-sheet>
</template>

<script>
import path from 'path'
import { mdiChevronDown, mdiChevronLeft, mdiChevronRight } from '@mdi/js'

import { safeNatNumber } from 'shared/utils'
export default {
  props: {
    page: {
      type: [String, Number],
      default: 1
    },

    total: {
      type: Number,
      default: 0
    },

    itemsPerPageOptions: {
      type: Array,
      default: () => [10, 20, 50]
    },

    itemsPerPage: {
      type: [String, Number],
      default: 2
    },

    link: {
      type: String,
      required: true,
    },

    query: {
      type: Object,
      default: () => {}
    },

    pageName: {
      type: String,
      default: 'page',
    },
  },

  data () {
    return {
       mdiChevronDown,
       mdiChevronLeft,
       mdiChevronRight,
    }
  },

  computed: {
    numberOfPages () {
      return Math.ceil(safeNatNumber(this.total) / safeNatNumber(this.itemsPerPage))
    },

    disablePreviewBtn () {
      return this.total == 0 || this.page == 1
    },

    disableNextBtn () {
      return this.total == 0 || this.page == this.numberOfPages
    },

    nextPageLink () {
      if(this.page + 1 > this.numberOfPages) return ''
      let nextPage = this.page + 1
      let p = path.join(this.link, this.pageName, nextPage + '')
      return { path: p, query: this.query }
    },

    previousPageLink () {
      if(this.page - 1 < 1) return ''
      let prevPage = (this.page - 1)
      let p = prevPage == 1 ? this.link : path.join(this.link, this.pageName, prevPage + '')
      return { path: p, query: this.query }
    },
  },

  methods: {
    updateItemsPerPage (val) {
        this.$emit('update:itemsPerPage', val)
    },
  }
}
</script>
