<template>
  <div class="slanted-container">
    <div :class="topClass">
    </div>
    <slot />
  <div :class="bottomClass">
  </div>
</div>
</template>

<script>
export default {
  props: {
    right: Boolean,
  },

  computed: {
    topClass () {
      return this.right ? 'slanted-desc-bottom-left' : 'slanted-asc-top-right'
    },

    bottomClass () {
      return this.right ?  'slanted-asc-top-left' : 'slanted-desc-bottom-right'
    },
  },
}
</script>
