<template>
  <v-container>
    <v-row>
    <template v-if="isListView">
        <v-col sm="12" class="d-flex justify-end">
          <v-btn fab small color="primary" @click="addNewAddress" class="mt-4" >+</v-btn>
        </v-col>
        <AddressRlListEditor
          v-slot="{ items, total, crudEvents }"
        >
          <v-row>
            <v-col sm="6" md="4"
              v-for="item in items"
              :key="item._id"
              >
              <AddressCard
                :item="item"
                @edit-item="onEditAddress"
                v-on="crudEvents"
              />
            </v-col>

            <v-col
            v-if="total == 0"
            sm="12"
            class="text-center pa-8"
            >No addresses yet.</v-col>
          </v-row>
      </AddressRlListEditor>
    </template>

    <template v-else>
      <AddressRlEditor
        :item="editedItem"
        v-slot="{ item, crudEvents, formState, error }"
        @cancel-edit="setListStatus"
        @item-added="onItemAdded"
        @item-updated="onItemUpdated"
        @item-deleted="onItemDeleted"
      >
      <v-card class="mx-4 my-4" max-width="600">
        <v-card-text>
        <AddressForm
          :item="item"
          :formState="formState"
          :countries="countries"
          v-on="crudEvents"
          :error="error"
        />
        </v-card-text>
      </v-card>
      </AddressRlEditor>
    </template>
    </v-row>
  </v-container>
</template>

<script>
const STATUS_LIST = 'list'
const STATUS_EDITOR = 'editor'

import { mapState, mapActions } from "vuex"

export default {
  data () {
    return {
      status: STATUS_LIST,
      editedItem: this.getDefaultItem(),
    }
  },

  computed: {
    ...mapState('countries', {
      countries: 'countries',
    }),

    isListView () {
      return this.status == STATUS_LIST
    },

    isEditorView () {
      return this.status == STATUS_EDITOR
    },
  },

  methods: {
    getDefaultItem () {
      return {
          firstName: '',
          lastName: '',
          address: '',
          address2: '',
          zip: '',
          city: '',
          county: '',
          countryCode: '',
          countryName: '',
      }
    },

    setListStatus () {
      this.status = STATUS_LIST
    },

    setEditorStatus () {
      this.status = STATUS_EDITOR
    },

    addNewAddress () {
      this.editedItem = this.getDefaultItem()
      this.setEditorStatus()
    },

    onEditAddress (val) {
      if(!val) return
      this.editedItem = val
      this.setEditorStatus()
    },

    onItemAdded (val) {
      this.editedItem = val
      this.setListStatus()
    },

    onItemUpdated (val) {
      this.setListStatus()
    },

    onItemDeleted () {
      this.setListStatus()
    },
  },

  created () {
    this.$store.dispatch('countries/loadCountries')
  },
}
</script>
