<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>

      <v-col sm="12" class="d-flex justify-end align-center">
        <v-checkbox
        label="Marketing"
        v-model="editedItem.acceptsMarketing"
        dense
        class="mr-6"
        />

        <v-switch
        :label="statusLabel"
        v-model="editedItem.status"
        dense
        />
      </v-col>

      <v-col  sm="12" md="3">
        <ValidationProvider rules="required|email|unique:email" name="email" v-slot="{ errors }">
          <v-text-field
          label="Email"
          v-model="editedItem.email"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

      <v-col sm="12" md="3">
        <v-select
          :items="roles"
          v-model="editedItem.role"
          label="Role"
        />
      </v-col>

      <template v-if="isEditForm">
        <v-col sm="12" md="3" class="d-flex align-center">
          <v-btn small color="">Change password</v-btn>
        </v-col>
      </template>

      <template v-else>
        <v-col sm="12" md="3">

        </v-col>
      </template>

      <!-- <v-col v-if="isEditForm" sm="12" md="3" class="d-flex justify-end align-center">
        <v-checkbox
          label="Change Password"
          v-model="changePassword"
          dense
          />
      </v-col> -->

      <v-col sm="12" md="3">
          <ValidationProvider rules="min:2"  name="password" v-slot="{ errors }">
          <v-text-field
            v-if="changePassword || isNewForm"
            :label="passwordLabel"
            v-model="editedItem.password"
            cc-disabled="!changePassword"
            :error-messages="errors[0]"
          />
          </ValidationProvider>
      </v-col>
    </v-row>

    <v-row>
        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"

export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  data () {
    return {
      changePassword: false,
      roles: [
        { text: 'User', value: 'user'},
        { text: 'Editor', value: 'editor'},
        { text: 'Admin', value: 'admin'},
      ],
    }
  },

  computed: {
    passwordLabel () {
      return this.isNewForm ? 'Password' :'New Password'
    },

    statusLabel () {
      return this.editedItem.status ? "Active" : "Blocked"
    },
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
