<template>
  <v-container
    class="fill-height justify-center"
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
      <v-card
        light
        max-width="100%"
        width="400"
        class="px-5 py-3"
      >
      <v-card-title v-if="title">
        {{ title }}
      </v-card-title>
      <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
      <v-form @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <ValidationProvider :rules="emailRules" name="email" v-slot="{ errors }">
          <v-text-field
            v-model="user.email"
            label="Email Address*"
            :error-messages="errors[0]"
          />
          </ValidationProvider>

          <ValidationProvider rules="required|min:6" name="password" v-slot="{ errors }">
          <v-text-field
            v-model="user.password"
            label="Password*"
            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPass ? 'text' : 'password'"
            @click:append.prevent="showPass = !showPass"
            :error-messages="errors[0]"
          />
          </ValidationProvider>


          <template v-if="isSignupForm">
            <ValidationProvider rules="required|min:6|passwordConfirmation:@password" name="confPassword" v-slot="{ errors }">
            <v-text-field
              v-model="user.confPassword"
              label="Confirm Password*"
              :append-icon="showConfPass ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showConfPass ? 'text' : 'password'"
              @click:append.prevent="showConfPass = !showConfPass"
              :error-messages="errors[0]"
            />
            </ValidationProvider>
          </template>
          <v-alert v-if="errorMsg" type="error">{{ errorMsg }}</v-alert>
          </v-card-text>

          <v-card-actions class="justify-center">
            <v-btn
              default
              type="submit"
              color="primary"
            >
                {{ submitBtnTxt }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </ValidationObserver>


      <v-card-text>
        <template v-if="isSignupForm">
        <div v-if="!hideSignInLink" class="grey--text body-2">I already have an account. <a @click="goToLogin">Sign in</a></div>
        </template>

        <template v-else>
          <div v-if="!hideSignUpLink" class="grey--text body-2">Don't have an account? <a @click="goToSignUp">Sign up</a></div>
          <div v-if="!hideResetPasswordLink" class="grey--text body-2">Forgot your password? <a @click="goToResetPassword">Reset password</a></div>
        </template>
      </v-card-text>

      </v-card>
      </v-slide-y-transition>
    </v-row>
    </v-container>
</template>

<script>
import { ValidationObserver, ValidationProvider, extend } from "vee-validate"
import { parseErrorObj } from 'shared/utils'

  export default {
    name: 'UserLoginSignUp',

    props: {
      validationUnique: {
        type: Function,
      },

      isSignupForm: {
        type: Boolean,
      },

      redirect: {
        type: String,
        default: '/'
      },

      hideSignInLink: {
        type: Boolean,
      },

      hideSignUpLink: {
        type: Boolean,
      },

      hideResetPasswordLink: {
        type: Boolean,
      },

      title: {
        type: String,
      },

      signUpBtnTxt: {
        type: String,
        default: 'Register'
      },

      loginBtnTxt: {
        type: String,
        default: 'Login'
      },
    },

    components: {
      ValidationObserver,
      ValidationProvider,
    },

    data: () => ({
      user: {
        email: '',
        password: '',
        confPassword: '',
      },

      socials: [],

      email: '',
      max: '',
      min: '',
      number: null,
      url: '',
      required: '',
      showPass: false,
      showConfPass: false,

      errorMsg: '',
    }),

    computed: {
      emailRules () {
        return this.isSignupForm ? 'required|email|unique:email' : 'required|email'
      },

      submitBtnTxt () {
        return this.isSignupForm ? this.signUpBtnTxt : this.loginBtnTxt
      }
    },

    methods: {
      async onSubmit () {
        let { email, password } = this.user
        this.$emit('submit', {email, password})
      },

      goToLogin () {
        this.$emit('show-login')
      },

      goToSignUp () {
        this.$emit('show-sign-up')
      },

      goToResetPassword () {
        this.$emit('show-reset-password')
      },

    },

    mounted () {
      if(this.isSignupForm){
        extend('unique', {
          validate: this.validationUnique,
          params: ['field'],
          message: 'This {_field_} is already taken',
          })
      }
    },
  }
</script>
