<template>
      <v-autocomplete
      v-model="select"
      :loading="loading"
      :items="items"
      :search-input.sync="search"
      item-text="name"
      item-value="id"
      cache-items
      class="mx-4"
      flat
      hide-no-data
      hide-details
      :label="label"
      return-object
      ></v-autocomplete>
</template>

<script>
  export default {
    props: {
      label: {
        type: String,
        default: 'Search product'
      },
    },

    data: () => ({
      loading: false,
      items: [],
      search: null,
      select: null,
    }),

    methods: {
      async queryProducts (val) {
        this.loading = true
        try {
          this.items = await this.$axios.$get('/api/search-products', {params: {search: val}})
        } catch (err) {
          console.log('error')
        } finally {
          this.loading = false
        }
      },

      clearSearch () {
        this.select = null
        this.items = []
      },
    },

    watch: {
      search (val) {
        val && val !== this.select && this.queryProducts(val)
      },

      select (val) {
        if(val) {
          this.$emit('selected', val)
          setTimeout(this.clearSearch, 600)
        }
      }
    },
  }
</script>
