<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row v-if="!isProductVariation">
        <v-col cols="12" xs="12" sm="12" md="2" class="ml-md-auto d-flex justify-end align-center order-md-last">
          <v-switch
          label="Published"
          v-model="editedItem.published"
          dense
          />
        </v-col>


      <v-col cols="12" xs="12" sm="12" md="2" offset-md="8" class="d-flex justify-end">

        <ValidationProvider rules="integer" name="displayOrder" v-slot="{ errors }">
          <v-text-field
          label="Display Order"
          v-model="editedItem.displayOrder"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>

      </v-col>

    </v-row>


    <v-row v-if="!isProductVariation">
      <v-col xs="12" sm="12" md="2">
        <ValidationProvider rules="required"  name="type" v-slot="{ errors }">
          <v-select
          label="Type"
          v-model="editedItem.type"
          :items="productTypes"
          :disabled="!isNewForm"
          item-text="name"
          item-value="slug"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
    </v-col>

      <v-col cols="12" sm="12" md="8">
        <ValidationProvider rules="required|unique:name" name="name" v-slot="{ errors }">
          <v-text-field
          label="Name"
          v-model="editedItem.name"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" sm="12" md="2">
        <v-alert type="error" v-if="error"> {{ error }} </v-alert>

        <ValidationProvider rules="required|unique:sku" name="sku" v-slot="{ errors }">
          <v-text-field
          label="SKU"
          v-model="editedItem.sku"
          :error-messages="errors[0]"
          required
          prepend-icon="mdi-pound"
          />
        </ValidationProvider>
      </v-col>

      <template v-if="!isProductVariation">
      <v-col cols="12" md="3">
        <CategorySelector
          v-model="editedItem.categoryId"
        />
      </v-col>

      <v-col cols="12" md="3">
        <BrandSelector
          v-model="editedItem.brandId"
        />
      </v-col>

      <v-col cols="12" md="6">

      </v-col>
      </template> <!-- template !isProductVariation -->

      </v-row>




      <v-row>
        <v-col cols="12" sm="12" md="2" v-if="isProductVariation"> <!-- if is a product variation, add SKU fiels together with the prices -->
          <v-alert type="error" v-if="error"> {{ error }} </v-alert>

          <ValidationProvider rules="required|unique:sku" name="sku" v-slot="{ errors }">
            <v-text-field
            label="SKU"
            v-model="editedItem.sku"
            :error-messages="errors[0]"
            required
            prepend-icon="mdi-pound"
            />
          </ValidationProvider>
        </v-col>

        <v-col sm="4" md="2">
          <ValidationProvider rules="number|min_value:0"  name="price" v-slot="{ errors }">
          <v-text-field
          label="Price"
          v-model.number="editedItem.price"
          type="number"
          step="any"
          :suffix="currency.symbol"
          :error-messages="errors[0]"
          />
          </ValidationProvider>
        </v-col>

        <v-col sm="4" md="2">
          <ValidationProvider rules="number|min_value:0"  name="salePrice" v-slot="{ errors }">
          <v-text-field
          label="Sale Price"
          v-model.number="editedItem.salePrice"
          type="number"
          step="any"
          :suffix="currency.symbol"
          :error-messages="errors[0]"
          />
          </ValidationProvider>
        </v-col>

        <v-col sm="4" md="6">
          <ValidationProvider name="volumePrice" v-slot="{ errors }">
          <v-text-field
          label="Volume Price"
          v-model="editedItem.volumePrice"
          :suffix="currency.symbol"
          :error-messages="errors[0]"
          />
          </ValidationProvider>
        </v-col>
     </v-row>

      <!-- <v-row>
        <v-col sm="12">
          <ProductDiscountEditor
            v-model="editedItem.discount"
            :price="editedItem.price"
          />
        </v-col>

        <v-col sm="4" md="2">
        </v-col>

        <v-col sm="4" md="2">
        </v-col>
      </v-row> -->

       <v-row>
        <!-- ===================== description ===================== -->

        <v-col cols="12" sm="12">
          <v-textarea
          label="Short description"
          v-model="editedItem.excerpt"
          outlined
          />
        </v-col>

        <v-col cols="12" sm="12">
          <label class="v-label theme--light">Description</label>
          <QuillHtmlEditor v-model="editedItem.description" />
        </v-col>

        <v-col cols="12" class="v-text-field__slot">
          <label class="v-label theme--light">Long Description</label>
          <QuillHtmlEditor v-model="editedItem.longDescription" />
        </v-col>

        <v-col sm="12">
          <v-textarea
          outlined
          label="Technical Information"
          hint="Place text separated by | character"
          v-model="editedItem.technicalInformation"
          ></v-textarea>
        </v-col>

        <v-col cols="12" sm="12">
          <label class="v-label theme--light">Package Contains</label>
          <QuillHtmlEditor v-model="editedItem.packageContains" />
        </v-col>

        <v-col cols="12" class="text-h5">
            Dimensions & Weight
        </v-col>

        <v-col xs="4" md="2">
          <ValidationProvider rules="number|min_value:0"  name="sizeLength" v-slot="{ errors }">
          <v-text-field
          label="Length"
          v-model.number="editedItem.sizeLength"
          type="number"
          step="any"
          suffix="cm"
          :error-messages="errors[0]"
          ></v-text-field>
          </ValidationProvider>
        </v-col>

        <v-col xs="4" md="2">
          <ValidationProvider rules="number|min_value:0"  name="sizeWidth" v-slot="{ errors }">
          <v-text-field
          label="Width"
          v-model.number="editedItem.sizeWidth"
          name="salePrice"
          type="number"
          step="any"
          suffix="cm"
          :error-messages="errors[0]"
          ></v-text-field>
          </ValidationProvider>
        </v-col>

        <v-col xs="4" md="2">
          <ValidationProvider rules="number|min_value:0"  name="sizeHeight" v-slot="{ errors }">
          <v-text-field
          label="Height"
          v-model.number="editedItem.sizeHeight"
          type="number"
          step="any"
          suffix="cm"
          :error-messages="errors[0]"
          ></v-text-field>
          </ValidationProvider>
        </v-col>

        <v-col xs="4" md="2">
          <ValidationProvider rules="number|min_value:0"  name="weightNet" v-slot="{ errors }">
          <v-text-field
          label="Weight net"
          v-model.number="editedItem.weightNet"
          type="number"
          step="any"
          suffix="kg"
          :error-messages="errors[0]"
          ></v-text-field>
          </ValidationProvider>
        </v-col>

        <v-col xs="4" md="2">
          <ValidationProvider rules="number|min_value:0"  name="weightGross" v-slot="{ errors }">
          <v-text-field
          label="Weight gross"
          v-model.number="editedItem.weightGross"
          type="number"
          step="any"
          suffix="kg"
          :error-messages="errors[0]"
          ></v-text-field>
          </ValidationProvider>
        </v-col>

        </v-row>

        <v-row v-if="!isProductVariation">
          <v-col cols="12" class="text-h5">Preview Fields</v-col>
          <v-col sm="12" md="4"
          v-for="(p, index) in editedItem.previewFields"
           :key="index">
          <PreviewForm
          :item="p"
          />
        </v-col>
        </v-row>

        <v-row>
        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"
import { mapState } from "vuex"
import { isProductVariation } from 'shared/utils'


export default {
  mixins: [ItemFormMixin],

  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  components: {

  },

  computed: {
    ...mapState('products', [
      'productTypes',
    ]),

    ...mapState('currency', [
      'currency'
    ]),

    isProductVariation () {
      return isProductVariation(this.editedItem)
    },
  },

  methods: {

  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
