<template>
  <v-row class="align-center" dense>
    <v-col sm="2" md="1">
      {{ title }}
    </v-col>

    <v-col sm="4" md="3">
    <v-radio-group v-model="mode" row dense>
      <v-radio
        v-for="d in discountType"
        :key="d.value"
        :label="d.name"
        :value="d.value"
      ></v-radio>
    </v-radio-group>
  </v-col>

    <v-col sm="6" md="8">
      <div v-if="discountedPrice">{{ discountInfo }}</div>
    </v-col>

    <template v-if="isGeneral">
      <v-col sm="4" md="3">
      <DiscountSelector
        v-model="discountId"
      />
      </v-col>
    </template>

    <template v-else>
      <v-col sm="12">
      <DiscountRlEditor
      :item="singleDiscount"
      v-slot="{item, crudEvents,formState, error}"
      @item-added="onSingleDiscountAdded"
      @item-updated="onSingleDiscountUpdated"
      >
        <DiscountForm
          :item="item"
          :error="error"
          :formState="formState"
          :validationUnique="() => true"
          v-on="crudEvents"
          row
          small
        />
      </DiscountRlEditor>
    </v-col>
    </template>
  </v-row>
</template>

<script>

//import RLSingleDiscountEditor from '@/components/discount/RLSingleDiscountEditor'
// import DiscountSelector from '@/components/discount/DiscountSelector'
import { formatPrice } from 'shared/utils'
import { mapState } from "vuex"

export default {
  props: {
    value: {
      type: String,
    },

    title: {
      type: String,
      default: "Discount"
    },

    price: {
      type: [String, Number]
    },
  },

  components: {
    // RLSingleDiscountEditor,
  },

  data () {
    return {
      mode: "general",
      discount: this.getDefaultItem(),
      discountType: [
        {name: "General", value: "general"},
        {name: "Single", value: "single"},
      ]
    }
  },

  computed: {
    ... mapState ('currency',  {
      currency: 'currency',
    }),
    isGeneral () {
      return this.mode == 'general'
    },

    discountId: {
      get () {
        return this.value
      },

      set (val) {
        this.$emit('input', val)
      }
    },

    singleDiscount () {
      return this.discount.mode == 'single' ? this.discount : this.getDefaultItem('single')
    },

    discountedPrice () {
      return this.price && this.discount && this.discount.value ? this.formatDiscountedPrice (this.price, this.discount.value, this.discount.type) : ''
    },

    discountInfo () {
      return this.discountedPrice + ` (${this.remindGeneralDiscount})`
    },

    remindGeneralDiscount () {
      return `-${this.discount.value} ${this.discount.type == 'percent'? '%' : this.currency.symbol}`
    },
  },

  methods: {
    getDefaultItem (mode =  'general') {
      return {
        type: 'percent',
        mode: mode,
        name: '',
        startDate: '',
        endDate: '',
        value: '',
      }
    },

    async loadDiscount (id) {
      this.discount = id ? await this.$axios.$get(`/api/discounts/${id}`) : this.getDefaultItem()
    },

    onSingleDiscountAdded (val) {
      if(val && val.id) {
        this.$emit('input', val.id)
      }
    },

    onSingleDiscountUpdated (val) {
      this.discount = val
    },

    formatDiscountedPrice (price, discount, type) {
      let p = type == 'fixed-value' ? price - discount : price * (100 - discount) / 100
      return formatPrice(p)
    },
  },

  watch: {
    value: {
      handler: function (val) {
        this.loadDiscount(val)
      },
      immediate: true,
    },

    discount: function (val) {
      this.mode = val.mode
    },
  }

}
</script>
