<template>
  <v-card>
    <v-toolbar
    flat
    >
      <v-toolbar-title>{{ product.name }}</v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-row>
        <v-col v-if="error" sm="12">
          <v-alert color="error">{{ error }}</v-alert>
        </v-col>
      <v-col sm="12" md="6" offset-md="3">
        <v-text-field
        label="Search"
        v-model="search"
        prepend-icon="mdi-magnify"
        />
      </v-col>
      </v-row>
      <v-row>
        <v-col sm="12">
          <v-data-table
          v-model="selected"
          :headers="headers"
          :items="variations"
          :search="search"
          item-key="_id"
          disable-pagination
          show-select
          >

        </v-data-table>
      </v-col>
      </v-row>
    </v-container>
    <v-card-actions class="justify-center">
      <v-btn text @click="onCancel">Cancel</v-btn>
      <v-btn color="primary" @click="onUpdate">Select</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { fullVariationConfig, jsonCopy, extractVFItem } from 'shared/utils'

export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
  },

  data () {
    return {
      selected: [],
      search: null,
      error: null,
    }
  },

  computed: {
    headers () {
      let h = [{ text: 'SKU', value: 'sku' }]
      if(this.product && this.product.variableFeatures){
        this.product.variableFeatures.forEach(item => {
          h.push({text: item.name, value: item.slug})
        })
      }
      return h
    },

    variations () {
      if(!this.product) return []
      let pvf = this.product.variableFeatures
      return this.product.variations.map(e => {
        const { _id, sku } = e
        let features = {}
        if(e.featuresConfig) {
          features = Object.keys(e.featuresConfig).reduce((acc, vf) => {
            let x = extractVFItem(e.featuresConfig[vf], vf, pvf)
            if(x) {
              acc[vf] = x.name
            }
            return acc
          }, {})
        }
        return { _id, sku, ...features}
      })
    }
  },

  methods: {
    onUpdate () {
      let skus = this.selected.map(e => e.sku)
      if(!skus.length) {
        this.error = "At least a variation should be selected."
        return
      }
      this.$emit('update-item', skus)
    },

    onCancel () {
      this.$emit('cancel')
    },
  },

  watch: {
    product: {
      handler: function (product) {
        this.selected = product && product.variationsSkus ? product.variations.filter(e => product.variationsSkus.indexOf(e.sku) >= 0) : (product.variations ? product.variations : [])
      },
      immediate: true,
    },

    selected: function (val) {
      if(this.error) this.error = null
    }
  }
}
</script>
