<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12" v-if="error">
        <v-alert type="error" > {{ error }} </v-alert>
      </v-col>

      <v-col cols="12" sm="12" class="d-flex justify-center">
        <div
        class="mt-8 mb-4"
        style="max-width:650px;"
        >
        <ProductAutocomplete
          @selected="onProductSelected"
          label="Search Product for adding to list"
        />
        </div>
      </v-col>

      <v-col cols="12" sm="12">
        <v-list
        v-if="hasProducts"
        max-width="650px"
        class="mx-auto"
        >
          <v-subheader>Products</v-subheader>
          <draggable v-model="editedItem" handle=".handler">
          <v-list-item
            v-for="p in editedItem"
            :key="p._id"

          >
            <v-list-item-icon>
              <v-btn icon class="handler" style="cursor: move;" title="Drag to reorder">
              <v-icon  >mdi-drag-vertical</v-icon>
            </v-btn>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ p.name }}
  <span class="text-caption text-disabled"> #{{p.sku}} </span>
    <template v-if="isVariableProduct(p)">
      <span class="text-caption text-disabled" v-if="isVariableProduct(p)"> (selected {{ productSelectedVariation(p)}}) </span>
      <v-btn small  icon @click="onSelectVariationsOfProduct(p)" title="Configure selected product variations">
            <v-icon small color="grey">mdi-cogs</v-icon>
      </v-btn>

    </template>

            </v-list-item-title>

            </v-list-item-content>
            <v-list-item-action>
            <v-btn icon @click="onDeleteProduct(p._id)" title="Remove product from list">
              <v-icon small color="grey lighten-1">mdi-delete</v-icon>
            </v-btn>
          </v-list-item-action>
          </v-list-item>
          </draggable>
        </v-list>

        <div v-else class="text-disabled text-h5 text-center">
          No Products in {{ title }} yet.
        </div>
      </v-col>



        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>

    <DialogConfirmation
    v-model="deleteDialog"
    :message="`Remove this product from ${title}?`"
    @confirm="deleteConfirmed"
    @cancel="deleteCanceled"
    />

    <v-dialog
    v-model="productVariationsSelectorDialog"
    max-width="750"
    >
      <ProductLinkedVariationsSelector
      :product="productToConfig"
      @cancel="closeSelectVariationsOfProduct"
      @update-item="onUpdateSelectedVariationsOfProduct"
      />
    </v-dialog>
  </ValidationObserver>
</template>

<script>
import draggable from 'vuedraggable'
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"
import { jsonCopy, isVariableProduct } from 'shared/utils'


export default {
  mixins: [ItemFormMixin],

  props: {
    title: {
      type: String,
      default: "list"
    },
  },

  components: {
    draggable,
  },

  data () {
    return {
      deleteDialog: false,
      productVariationsSelectorDialog: false,
      productToConfig: null,
    }
  },

  computed: {
    hasProducts () {
      return this.editedItem && this.editedItem.length
    },
  },

  methods: {
    async parseItem (items) { // overwrite mixin
      if(!items || !Array.isArray(items) || !items.length) {
        this.editedItem = []
        return
      }

      try {
        const ids = items.map(e => e.productId)
        let prods = await this.$axios.$get(`/api/products-by/`, { params: { values: ids, field: '_id' }})
        prods = prods.map(e => {
          const linkedProd = items.find(lp => lp.productId == e._id)
          if(linkedProd.variationsSkus && linkedProd.variationsSkus.length){
            e.variationsSkus = linkedProd.variationsSkus
          }
          return e
        })
        this.editedItem = prods
      } catch (error) {
        console.log('Unable to load products list')
      }
    },

    onProductSelected (val) {
      if(!this.editedItem) this.editedItem = []

      const alreadyExistsIndex = this.editedItem.findIndex(e => e.productId == val._id)
      if(alreadyExistsIndex != -1) { // add it to the end of array if already exists
        const prod = this.editedItem.splice(alreadyExistsIndex, 1)
        this.editedItem.push(prod[0])
      } else { // load the product and add it to the array
        this.loadProductAndAddToList(val._id)
      }
    },

    async loadProductAndAddToList (id) {
      try {
        let prod = await this.$axios.$get(`/api/products/${id}`)
        prod.variationsSkus = prod.variations.map(e => e.sku) // all skus
        this.editedItem.push(prod)
      } catch (error) {
        console.log('Unable to load product')
      }
    },

    parseEditedItemBeforeSend (item, type) {
      return item.map(e => {
        let linked = { productId: e._id }
        if(isVariableProduct(e)) {
          if(e.variationsSkus && e.variationsSkus.length && e.variationsSkus.length != e.variations.length){
            linked.variationsSkus = e.variationsSkus
          }
        }
        return linked
      })
    },

    onDeleteProduct (id) {
      this.productToDelete = id
      this.deleteDialog = true
    },

    deleteConfirmed () {
      if(!this.productToDelete) return
      this.editedItem = this.editedItem.filter(e => e._id != this.productToDelete)
      this.productToDelete = null
    },

    deleteCanceled () {
      this.productToDelete = null
    },

    isVariableProduct (product) {
      return isVariableProduct(product)
    },

    onSelectVariationsOfProduct (p) {
      if(!p || !isVariableProduct(p)) return
      this.productToConfig = jsonCopy(p)
      this.productVariationsSelectorDialog = true
    },

    onUpdateSelectedVariationsOfProduct (val) {
      let index = this.editedItem.findIndex(e => e._id == this.productToConfig._id)
      if(index < 0) return
      let prod = this.editedItem[index]
      prod.variationsSkus = val
      this.editedItem.splice(index, 1, prod)
      this.closeSelectVariationsOfProduct()
    },

    closeSelectVariationsOfProduct () {
      this.productVariationsSelectorDialog = false
    },

    productSelectedVariation (product) {
      if(!isVariableProduct(product)) return ''
      const total = product.variations.length
      const selected = product.variationsSkus ? product.variationsSkus.length : total
      return `${selected}/${total}`
    },


  },
}
</script>
