<template>
  <form @submit.prevent="onSubmit">
    <v-row>
      <v-col cols="12" class="py-12">
        <MediaFilesSelect
          :singleSelect="singleSelect"
          v-model="editedItem[field]"
        />
      </v-col>

      <v-col cols="12" class="text-center pt-8">
        <FormSubmitBtn
        :state="formState"
        hideCancel
      />
    </v-col>
    </v-row>
  </form>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { mapState } from "vuex"

export default {
  props: {
    field: {
      type: String,
      required: true,
    },

    singleSelect: {
      type: Boolean,
    },
  },

  mixins: [ItemFormMixin],
}
</script>
