<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>{{ variationConfigName }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
      small
      :items="[{name: 'Delete', slug: 'delete', event: 'delete-item', confirm: true }]"
      @delete-item="$emit('delete-item', item)"
      />
    </v-toolbar>
    <v-card-text>
      <div class="d-flex">
      <div>
      <v-text-field
      label="SKU"
      v-model="item.sku"
      >
      </v-text-field>
    </div>

      <div class="ml-4">
      <v-text-field
      label="Price"
      v-model.number="item.price"
      >
      </v-text-field>
    </div>

    <div class="ml-4">
      <v-text-field
      label="Sale Price"
      v-model.number="item.salePrice"
      >
      </v-text-field>
    </div>
  </div>

    <div class="">
      <label class="v-label theme--light">Contains</label>
      <QuillHtmlEditor v-model="item.contains" />
    </div>


    </v-card-text>
    <v-card-actions>

    </v-card-actions>
  </v-card>
</template>

<script>

import { fullVariationConfig } from "shared/utils"

export default {
  props: {
    item: {
      type: Object,
      required: true,
    },

    variableFeatures: {
      type: Array,
      required: true,
    },
  },

  model: {
    prop: 'item'
  },

  components: {
  },

  computed: {
    variationConfigName () {
      let fullConfig = fullVariationConfig(this.item.featuresConfig, this.variableFeatures)
      return fullConfig.map(e => `${e.featureName} ${e.itemName}`).join(', ')
    },

  },
}
</script>
