<template>
  <v-form @submit.prevent="onFormSubmit">
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>Add a Product Variation</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-card-text>

      <v-select
      v-for="vf in variableFeatures"
      :key="vf._id"
      :label="vf.name"
      :items="vf.items"
      item-text="name"
      item-value="slug"
      v-model="editedItem.featuresConfig[vf.slug]"
      />

      <div>
      <v-text-field
      label="SKU"
      v-model="editedItem.sku"
      >
      </v-text-field>
    </div>

      <div >
      <v-text-field
      label="Price"
      v-model.number="editedItem.price"
      >
      </v-text-field>
    </div>

    <div >
      <v-text-field
      label="Sale Price"
      v-model.number="editedItem.salePrice"
      >
      </v-text-field>
    </div>




    </v-card-text>
    <v-card-actions class="d-flex justify-center">
      <FormSubmitBtn
      :disabled="disableSubmitBtn"
      cancelBtn
      @cancel="onCancel"
      />
    </v-card-actions>
  </v-card>
</v-form>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { fullVariationConfig } from "shared/utils"

export default {
  props: {
    variableFeatures: {
      type: Array,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  computed: {
    disableSubmitBtn () {
      return !this.editedItem.sku
    }
  },

  methods: {
    onFormSubmit () {
      this.$emit('submit', this.editedItem)
    },

    onCancel () {
      this.$emit('cancel')
    },
  }
}
</script>
