<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
        <v-alert v-if="error" outlined type="error">{{ error }}</v-alert>
        <v-alert v-if="locError" outlined type="error">{{ locError }}</v-alert>
        <v-col cols="12" class="d-flex justify-center">
        <VariableFeatureSelector
        @selected="onAddNewVF"
        />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <draggable v-model="productVF" handle=".handler">
            <ProductVFItemsConfig
              v-for="item in productVF"
              :key="item._id"
              :vf="item"
              :showHandler="isMoreThanOne"
              @delete-item="onDeleteVF(item.slug)"
              @select-all="onSelectAllVFItems(item.slug)"
              @deselect-all="onDeselectAllVFItems(item.slug)"
            />
          </draggable>
        </v-col>

        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn" />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import draggable from 'vuedraggable'
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { jsonCopy } from 'shared/utils'

export default {
  mixins: [ItemFormMixin],

  components: {
    draggable,
  },

  data () {
    return {
      productVF: [],
      locError: '',
    }
  },

  computed: {
    isMoreThanOne () {
      return this.productVF.length > 1
    }
  },

  methods: {
    async syncProductVF (prodVfConfig) {
      console.log('prodVfConfig %o', prodVfConfig)
      if(!prodVfConfig || !Array.isArray(prodVfConfig) || !prodVfConfig.length) return []
      let vfArr = await this.loadVFList(prodVfConfig.map(e => e._id))
      // arange them in the product specified order, not in the loaded one
      console.log('vfArr %o', vfArr)
      return prodVfConfig.reduce((acc, e) => {
        let vf = vfArr.find(f => f._id == e._id)
        if(vf) {
          acc.push(this.populateSelected(vf, e.items.map(e => e._id)))
        }
        return acc
      }, [])
    },

    async loadVFList (idsArr) {
      try {
        let list = await this.$axios.$get('/api/variable-features-by', {params: {values: idsArr, field: '_id'}})
        return list
      } catch (error) {
        this.locError = error
      }
    },

    async onAddNewVF (val) {
      // if already exists, remove it
      let vfArr = this.editedItem.filter(e => e._id != val._id)
      try {
        let vf = await this.$axios.$get(`/api/variable-features/${val._id}`)
        if(vf) {
          vfArr.push(vf)
        }
        this.editedItem = vfArr
      } catch (error) {
        this.locError = error
      }
    },

    // adding to VF items a 'selected' boolean property
    populateSelected (vf, selectedIdsArr) {
      vf.items = vf.items.map(e => {
        e.selected = selectedIdsArr.indexOf(e._id) != -1
        return e
      })

      return vf
    },

    // overwrite the mixin function
    updateItem () {
      let selConfig = this.productVF.reduce((acc, e) => {
        let copy = jsonCopy(e)
        copy.items = copy.items.filter(f => f.selected)
        acc.push(copy)
        return acc
      }, [])
      this.$emit('update-item', selConfig)
    },

    onDeleteVF (slug) {
      this.productVF = this.productVF.filter(e => e.slug != slug)
      this.updateItem()
    },

    onSelectAllVFItems (slug) {
      let index = this.productVF.findIndex(e => e.slug == slug)
      if(index == -1) return
      let vf = this.productVF[index]
      vf.items.map(e => e.selected = true)
      this.productVF.splice(index, 1, vf)
    },

    onDeselectAllVFItems (slug) {
      let index = this.productVF.findIndex(e => e.slug == slug)
      if(index == -1) return
      let vf = this.productVF[index]
      vf.items.map(e => e.selected = false)
      this.productVF.splice(index, 1, vf)
    },
  },

  watch: {
    editedItem: {
      handler: async function (val) {
        this.productVF = await this.syncProductVF(val)
      },

      immediate: true,
    }
  }
}
</script>
