<template>
  <form @submit.prevent="onSubmit">
  <v-row>
    <v-col v-if="error" cols="12" class="d-flex justify-center mt-4">
      <v-alert type="error">{{ error }}</v-alert>
    </v-col>
    <v-col cols="12" class="text-right">
      <v-btn @click="configSingleVariation" fab small icon class="mr-4" color="primary" title="Add a Product Variation"><v-icon>mdi-plus</v-icon></v-btn>
      <v-btn small color="primary" @click="generateAllVariations">Generate all variations</v-btn>
    </v-col>
    <v-col cols="12" class="pa-4">

        <!-- <ProductVariationCard
          v-for="(item, index) in editedItem.variations"
          :key="keyFromFeaturesConfig(item.featuresConfig)"
          v-model="editedItem.variations[index]"
          :variableFeatures="variableFeaturesList"
          @delete-item="onDeleteVariation"
          class="mb-4"
        /> -->
        <FormSearchAddNewBtnBar
          v-model="search"
          title="Variations"

        />

        <v-data-table
        :headers="headers"
        :items="editedItem.variations"
        :search="search"
        :single-select="false"
        item-key="fcString"

        >



        <template v-slot:item.variationsName="{ item }" >
          {{ variationConfigName(item) }}
        </template>

        <template v-slot:item.sku="props">
          <v-edit-dialog
            :return-value.sync="props.item.sku"
            @save="save"
            @cancel="cancel"
            @open="open"
            @close="close"
          >
            {{ props.item.sku }}
            <template v-slot:input>
              <v-text-field
                v-model="props.item.sku"
                :rules="[max25chars]"
                label="Edit"
                single-line
                counter
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>

        <template v-slot:item.price="props">
          <v-edit-dialog
            :return-value.sync="props.item.price"
            @save="save"
            @cancel="cancel"
            @open="open"
            @close="close"
          >
            {{ props.item.price }}
            <template v-slot:input>
              <v-text-field
                v-model.number="props.item.price"
                label="Edit"
                single-line
                number
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>


        <template v-slot:item.salePrice="props">
          <v-edit-dialog
            :return-value.sync="props.item.salePrice"
            @save="save"
            @cancel="cancel"
            @open="open"
            @close="close"
          >
            {{ props.item.salePrice }}
            <template v-slot:input>
              <v-text-field
                v-model.number="props.item.salePrice"
                label="Edit"
                single-line
                number
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </template>

        <template v-slot:item.actions="{ item }" >
        <TableActionBtns
          @edit-item="$router.push({path: `/product-variation-edit/${item._id}` })"
          @delete-item="onDeleteVariation(item)"
          :items=" item._id ? [
            {icon: 'mdi-pencil', emit: 'edit-item', title: 'Edit'},
            {icon: 'mdi-delete', emit: 'delete-item', title: 'Delete'},
          ] : [{icon: 'mdi-delete', emit: 'delete-item', title: 'Delete'}]"
        />
        </template>



      </v-data-table>
    </v-col>

    <v-col cols="12" class="text-center pt-8">
      <FormSubmitBtn
      :state="formState"
      :disabled="disableFormBtn" />
    </v-col>
  </v-row>

  <v-snackbar
      v-model="snack"
      :timeout="1500"
      :color="snackColor"
    >
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          text
          @click="snack = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-dialog
      v-model="dialogSingleVariation"
      width="350"
    >
    <ProductVariationConfigCard
    :variableFeatures="editedItem.variableFeatures"
    :item="newVariation"
    @cancel="closeAddVariationDialog"
    @submit="onAddVariation"
    />
    </v-dialog>
  </form>
</template>


<script>
import draggable from 'vuedraggable'
import { mapState } from 'vuex'
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { variationByConfig, allVariationsFeaturesConfig, sameFeaturesConfig, fullVariationConfig, featureConfigAsString } from "shared/utils"


export default {
  mixins: [ ItemFormMixin ],

  data () {
    return {
      variations: [],
      variableFeaturesList: [],
      search: null,
      max25chars: v => v.length <= 25 || 'Input too long!',
      snack: false,
      snackColor: '',
      snackText: '',

      dialogSingleVariation: false,

      newVariation: this.getDefaultVariationItem(),
    }
  },

  components: {
    draggable,
  },

  computed: {
    ... mapState('currency', ['currency']),

    headers () {
      return [
      { text: 'SKU', value: 'sku'},
      { text: 'Variations', value: 'variationsName'},
      { text: `Price (${this.currency.symbol})`, value: 'price'},
      { text: `Sale price (${this.currency.symbol})`, value: 'salePrice'},
      { text: 'Actions', value: 'actions', sortable: false, align: 'right' },
    ]}
  },

  methods: {
    generateAllVariations () {
      let variationsConfigArr = allVariationsFeaturesConfig(this.editedItem.variableFeatures)
      let variations = this.reviewVariationsConformConfigs(this.editedItem.variations, variationsConfigArr)
      this.$set(this.editedItem, 'variations', variations)
    },

    getBlankVariation (featuresConfig) {
      return {
        featuresConfig,
        price: null,
        salePrice: null,
        sku: '',
        fcString: featureConfigAsString(featuresConfig),
      }
    },

    keyFromFeaturesConfig (config) {
      return Object.entries(config).map(e => e[0] + ':' + e[1]).join('-')
    },

    // based on configArr, keep the existent variations and add blank ones for the new featuresConfig
    reviewVariationsConformConfigs (variations, configArr) {
      return configArr.map(e => {
        let v = variationByConfig(variations, e)
        return v ? v : this.getBlankVariation (e)
      })
    },

    async loadVFList (idsArr) {
      try {
        const list = await this.$axios.$get('/api/variable-features-by', {params: {values: idsArr}})
        // reorder list to match the order of ids
        return idsArr.reduce((acc, id) => {
          let item = list.find(e => e._id == id)
          if(item) acc.push(item)
          return acc
        }, [])
      } catch (error) {
        this.error = error
      }
    },

    onDeleteVariation (val) {
      if(val._id) { // if delete an already DB recorded variations, which has an _id
        this.editedItem.variations = this.editedItem.variations.filter(e => e._id != val._id)
      } else { // if it is a new generated variation
        console.log('val %o', val)
        this.editedItem.variations = this.editedItem.variations.filter(e => !sameFeaturesConfig(e.featuresConfig, val.featuresConfig))
      }
    },

    variationConfigName (item) {
      let fullConfig = fullVariationConfig(item.featuresConfig, this.editedItem.variableFeatures)
      return fullConfig.map(e => `${e.featureName} ${e.itemName}`).join(', ')
    },

    save () {
      // this.snack = true
      // this.snackColor = 'success'
      // this.snackText = 'Data saved'
    },
    cancel () {
      // this.snack = true
      // this.snackColor = 'error'
      // this.snackText = 'Canceled'
    },
    open () {
      // this.snack = true
      // this.snackColor = 'info'
      // this.snackText = 'Dialog opened'
    },
    close () {
    //  console.log('Dialog closed')
    },

    getDefaultVariationItem () {
      return {
        sku: '',
        price: null,
        sellPrice: null,
        featuresConfig: {}
      }
    },

    configSingleVariation () {
      this.newVariation = this.getDefaultVariationItem()
      this.dialogSingleVariation = true
    },

    onAddVariation (item) {
      const index = this.editedItem.variations.findIndex(e => sameFeaturesConfig(e.featuresConfig, item.featuresConfig))
      if(index >= 0) {
        const updatedItem = Object.assign({}, this.editedItem.variations[0], item)
        this.editedItem.variations.splice(index, 1, updatedItem)
      } else {
        const newVariation = Object.assign({}, item, { fcString: featureConfigAsString(item.featuresConfig)})
        this.editedItem.variations.push(newVariation)
      }
      this.closeAddVariationDialog()
    },

    closeAddVariationDialog () {
      this.dialogSingleVariation = false
    },
  },

  watch: {
    'item.variableFeatures': {
      handler: async function (val) {
        this.variableFeaturesList = await this.loadVFList(val.map(e => e._id))
      },

      immediate: true,
    }
  }
}
</script>
