<template>
  <v-card class="mb-8">
    <v-toolbar flat>
      <v-icon v-if="showHandler" class="handler grabbing-cursor mr-2">mdi-drag-vertical</v-icon> <v-toolbar-title v-html="vf.name"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        :items="menuItems"
        small
        v-on="pipeUp(['select-all', 'deselect-all', 'delete-item'])"
      />
    </v-toolbar>

    <v-container>
      <v-row dense>
        <v-col sm="12" md="3" v-for="(item, index) in vf.items" :key="item.slug">
          <v-checkbox dense :label="item.name" v-model="item.selected"></v-checkbox>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import { pipeUp } from "shared/utils"

export default {
  props: {
    vf: {
      type: Object,
      required: true,
    },

    showHandler: {
      type: Boolean,
    },
  },

  data () {
    return {
    }
  },

  computed: {
    menuItems () {
      return [
        {name: "Select all", slug: "select-all", event: "select-all"},
        {name: "Deselect all", slug: "deselect-all", event: "deselect-all"},
        {name: "Delete", slug: "delete-item", event: "delete-item", confirm: true, confirmMsg: 'Delete this variable feature?'}
      ]
    },

    onMenuEvent () {
      return {
        'select-all': this.$emit('select-all'),
        'deselect-all': this.$emit('deselect-all'),
        'delete-item': this.$emit('delete-item')
      }
    }
  },

  methods: {
    pipeUp (...events) {
      return pipeUp(this, ...events)
    },
  },
}
</script>
