<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>

      <v-col sm="12">
        <ValidationProvider rules="unique:slug" name="slug" v-slot="{ errors }">
          <v-text-field
          label="Slug"
          v-model="editedItem.slug"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>


      <v-col cols="12">
        <v-textarea
        label="Meta description"
        v-model="editedItem.excerpt"
        />
      </v-col>

      <v-col cols="12">
        <v-text-field
        label="Keywords"
        v-model="editedItem.keywords"
        />
      </v-col>


        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"

export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
