<template>
  <div class="page post-page">
  <v-container >
    <v-row>
      <v-col cols="12" class="pa-0">
        <v-breadcrumbs
      :items="breadcrumbItems"
      divider="/"
    ></v-breadcrumbs></v-col>

      <v-col xs="12" md="9">
        <div class="pr-md-12">
          <h1 class="text-h1 page-title">{{ item.title }}</h1>
          <div class="text--disabled text-right pt-3 pb-2">{{ updateAt }}</div>

          <div v-html="item.content"></div>


          <div class="text-right">

            <v-divider></v-divider>
            <PostTagsList
             :tags="item.tags"
             link="/blog/tag"
             class="pt-1"
            />
          </div>
        </div>
      </v-col>

      <v-col xs="12" md="3">
        <SidebarBlog />
      </v-col>
    </v-row>
  </v-container>
</div>
</template>

<script>

import { formatDateToLocale } from 'shared/utils'

export default {
  data () {
    return {
      item: {},

      breadcrumbItems: [
        {
          text: 'Home',
          disabled: false,
          href: '/',
        },
        {
          text: 'Blog',
          disabled: false,
          href: '/blog',
        },
      ],
    }
  },

  head () {
    return {
      title: this.item.title,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.item.keywords },
        { hid: 'description', name: 'description', content: this.item.excerpt },
      ]
    }
  },

  async asyncData ({ $axios, params, error }) {
    try {
      let item = await $axios.$get(`api/post/${params.slug}`)
      if (!item) {
        return error({ message: 'Post not found', statusCode: 404 })
      }
      return { item }
    } catch (error){
      console.log('error %o', error)
    }
  },

  computed: {
    updateAt () {
      if(!this.item || !this.item.updatedAt) return ''
      return formatDateToLocale(this.item.updatedAt)
    },
  }


}

</script>
