<template>
  <div class="py-4" style="position: relative;">
    <div class="text-h5 mb-6">Add Booking</div>  <v-btn small icon top right absolute alert title="Cancel" to="/bookings"><v-icon small>mdi-close</v-icon></v-btn>
  <BookingRlMonthlyBookedBlocks
    :month="month"
    :loadBookingsBetween="loadBookingsBetween"
    v-slot="{bookedBlocks, daysWithBookings, dailyBookedHours, loading, error}"
  >
    <v-row v-if="isTimeSelectState">
     <v-col sm="12" md="3">
        <v-date-picker
         v-model="selectedDate"
         :show-current="false"
         :picker-date.sync="month"
         :first-day-of-week="1"
         :events="daysWithBookings"
       ></v-date-picker>
      </v-col>

      <v-col sm="12" md="3">
        <SessionRlList
          sessionType="session"
          :loadList="loadSessionsList"
          v-slot="{items, error, loading, type}"
        >
        <div>
          <v-select
          label="Session Type"
          v-model="sessionSku"
          :items="items"
          item-text="name"
          item-value="sku"
          :loading="loading"
          :errors="error"
          />
        </div>
        </SessionRlList>

        <BookingRlDailyBookedBlocks
          :date="selectedDate"
          :weeklySchedule="weeklySchedule"
          :loadDailyBooking="loadDailyBooking"
          full
          v-slot="{ weeklySchedule, daySchedule, bookedBlocks, date }"
        >
        <div>
          <BookingTimePickerList
          v-if="service"
          :date="selectedDate"
          :daySchedule="daySchedule"
          :service="service"
          :occupied="bookedBlocks"
          @selected="onBookingTimeSelected"
          />
         </div>
        </BookingRlDailyBookedBlocks>
      </v-col>
    </v-row>

    <v-row v-else>
      <v-col sm="12" md="4" class="d-flex align-start flex-column">
        <div class="text-h6">{{ service.name }}</div>
        <div class="text-h6 my-2 text--disabled d-flex align-center"><v-icon  class="mr-2 text--disabled">mdi-clock</v-icon>{{ service.duration }} min</div>
        <div class="text-h6 primary--text d-flex align-center"><v-icon  class="mr-2 primary--text">mdi-calendar</v-icon>{{ bookingTime.sessionFrom | formatTime }} - {{ bookingTime.sessionTo | formatTime }}, {{ selectedDate | formatDate }} {{ }}</div>

        <div class="mt-auto"><v-btn small text @click="setTimeSelectStatus"><v-icon small>mdi-chevron-left</v-icon> Back to date select</v-btn></div>
      </v-col>

      <v-col sm="12" md="4">
        <BookingInfoForm
          :item="bookingInfo"
          @add-item="addBooking"
          @cancel="setTimeSelectStatus"
        />
      </v-col>
    </v-row>
  </BookingRlMonthlyBookedBlocks>
</div>
</template>

<script>
import dayjs from 'dayjs'
import { BookingService, formatDate, formatTime } from 'shared/utils'

const STATE = {
  TIME_SELECT: 'time_select',
  DETAILS: 'details'
}

export default {

  data () {
    return {
      booking: null,
      state: STATE.TIME_SELECT,
      bookingTime: null,
      bookingInfo: this.getDefaultBookingInfo(),
      session: null,
    }
  },

  async asyncData ({ query, params, $axios }) {
    const { date:selectedDate = dayjs().format('YYYY-MM-DD'), sessionSku} = query
    const month = dayjs(selectedDate).format('YYYY-MM')
    let weeklySchedule = await $axios.$get(`/api/weekly-schedule/default`)
    return {
            selectedDate,
            month,
            sessionSku,
            weeklySchedule,
          }
  },

  methods: {
    onBookingTimeSelected (val) {
      this.bookingTime = val
      this.setDetailsStatus()
    },

    setTimeSelectStatus () {
      this.state = STATE.TIME_SELECT
    },

    setDetailsStatus () {
      this.state = STATE.DETAILS
    },

    async addBooking (val) {
      if(!this.service) return
      const { _id: sessionId, name: sessionName, sku } = this.service
      const date = this.selectedDate
      let { name:clientName, email:clientEmail, providerNote } = val
      let booking = {sessionId, sessionName, sku, date, ...this.bookingTime, clientName, clientEmail, providerNote  }
      booking.bookedBy = 'admin'
      try {
        let res = await this.$axios.$post('/api/bookings', {item: booking})
        // go back to the booking list with selectedDate
        this.$router.push({path: `/bookings/${this.selectedDate}`})
      } catch (error) {
        console.log('error %o', error)
      }
    },

    getDefaultBookingInfo () {
      return {
        name: '',
        email: '',
        providerNote: '',
      }
    },

    loadBookingsBetween (from, to) {
      return this.$axios.$get(`/api/bookings-between/${from}/${to}`)
    },

    loadSessionsList (args) {
      return this.$axios.$get(`/api/sessions-list`, {params: args})
    },

    async loadSession (sku) {
      try {
        this.session = await this.$axios.$get(`/api/session-sku/${sku}`)

      } catch (error) {
        console.error('error %o', error)
      }
    },

    loadDailyBooking (date, args) {
      return this.$axios.$get(`/api/bookings-at/${date}`, {params: args})
    }
  },

  filters: {
    formatDate,
    formatTime,
  },

  computed: {
    service () { // on SSR the data is searilized and looses their class
      if(!this.session) return null
      return new BookingService(this.session)
    },

    isTimeSelectState () {
      return this.state == STATE.TIME_SELECT
    },

    isDetailsState () {
      return this.state == STATE.DETAILS
    },
  },

  watch: {
    sessionSku: {
      handler: 'loadSession',
      immediate: true,
    }
  }


}
</script>
