<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this order?"
      />
      </v-toolbar>
      <v-card-text>
        <div class="d-flex justify-space-between py-12">
        <AddressDisplay
          flat
          :item="editedItem.billingAddress"
          title="Billing Address"
        />
        <div>
          <v-card flat>
            <v-card-title>
              Client
            </v-card-title>
            <v-card-text>
              Date: {{ editedItem.createdAt | formatDate }} <br />
              email: <nuxt-link :to="{path: `/user-edit/${editedItem.userId}`}">{{ editedItem.userEmail }}</nuxt-link> <br />
            </v-card-text>
          </v-card>

        </div>
      </div>

        <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            SKU
          </th>
          <th class="text-left">
            Name
          </th>
          <th class="text-left">
            Description
          </th>
          <th class="text-left">
            Type
          </th>
          <th class="text-left">
            UP
          </th>
          <th class="text-left">
            Qty.
          </th>

          <th class="text-left">
            Total
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in editedItem.items"
          :key="item._id"
        >
          <td>{{ item.sku }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.itemGroup }}</td>
          <td>{{ item.price | formatPrice }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.total | formatPrice }}</td>

        </tr>
      </tbody>
    </template>
  </v-simple-table>
      

    <FormTimestamp
      v-if="isEditForm"
      :createdAt="editedItem.createdAt"
      :updatedAt="editedItem.updatedAt"
      class="mt-8"
    />
  </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'
import { formatPrice } from 'shared/utils'

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      tab: 'basic',
    }
  },

  computed: {
    title () {
      return this.isNewForm ? "Add new order" : `Edit order: ${this.editedItem.no}`
    },

    orderBasicData () {
      let { title, excerpt, content, published } = this.editedItem
      return { title, excerpt, content, published }
    },

    orderSeoData () {
      let { slug, metaDescription, keywords } = this.editedItem
      return { slug, metaDescription, keywords }
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'title' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-order`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        published: false,
        title: '',
        slug: '',
        excerpt: '',
        content: '',
        metaDescription: '',
        keywords: '',
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/orders/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/orders`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/orders/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/orders/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/order-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/orders')
    },
  },

  filters: {
    formatPrice,
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/order-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/orders'))
  },
}
</script>
