<template>
  <v-app class="bg-color">

    <AppBar
      :menu="mainMenu"
      class="bg-color"
      @open-drawer="openDrawer"
    />

    <AppDrawer
    v-model="drawer"
    :menu="drawerMenu"
     absolute
     bottom
     temporary
    />

    <v-main>
      <nuxt />
    </v-main>
    <AppBottom class="pt-12 pb-8"/>
    <AppFooter />
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },

  computed: {
    ...mapState('menus', ['mainMenu']),

    drawerMenu () {
      return [...this.mainMenu]
    },
  },

  methods: {
    openDrawer () {
      this.drawer = true
    },
  },
}
</script>
