<template>
  <div>
    <UserLoginSignUp
      class="mt-12"
      title="Set admin email and password"
      signUpBtnTxt="Create admin"
      isSignupForm
      hideSignInLink
      :validationUnique="uniqueField"
      @submit="onSubmit"
    />
  </div>
</template>

<script>
import { parseErrorObj } from 'shared/utils'

export default {
  layout: 'fullscreen',

  auth: 'guest',

  middleware: async ({$axios, error}) => {
    // console.log('middleware %o', $axios)
    try{
      const initialized = await $axios.$get('/api/is-admin-initialized')
      if(initialized) error({ statusCode: 401, message: 'Admin account already set' })
    } catch (e) {
      let { statusCode, message } = parseErrorObj(e)
      error({ statusCode, message })
    }
  },

  computed: {
    uniqueField () {
      return async (val, { field = 'email' }) => {
        try {
          const params = { value: val, field }
          return this.$axios.$get(`/api/unique-user`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },
  },

  methods: {
    async onSubmit (val) {
      try {
        let { email, password } = val

        let response = await this.$axios.$post('/api/initialize-admin', { user: { email, password } })

        let token = await this.$auth.loginWith('local', { data: { email, password } })

        this.$router.push({ path: '/' })
      } catch (error) {
        let { statusCode, message } = parseErrorObj(error)
        this.errorMsg = statusCode == '404' ? "Invalid email or password" : message
      }
    }
  },

  // validations
  // async validateUnique (val, { field = 'email' }) {
  //   try {
  //     const params = { value: this.user[field], field }
  //     return this.$axios.$get(`/api/validate-user`, { params })
  //   } catch (error) {
  //     console.log('error %o', error)
  //   }
  // },
}

</script>
