<template>
  <div>
    <template v-if="hasImages">
    <div  style="position: relative;">

      <v-img
      v-if="selectedItem"
      :src="selectedItem.url"
      :max-height="imgMaxHeight"
      :max-width="imgMaxWidth"
      />
      <v-btn icon fab class="left-btn" :disabled="!hasPrevious" @click="showPrevious"><v-icon>{{ mdiChevronLeft }}</v-icon></v-btn>
      <v-btn icon fab class="right-btn" :disabled="!hasNext" @click="showNext"><v-icon>{{ mdiChevronRight }}</v-icon></v-btn>
    </div>
    <v-slide-group
    v-model="selectedIndex"
    class="pt-4"
    active-class="grey lighten-1"
    show-arrows
    :next-icon="mdiChevronRight"
    :prev-icon="mdiChevronLeft"
    mandatory
>
  <v-slide-item
    v-for="item in items"
    :key="item.url"
    v-slot="{ active, toggle }"
  >
    <v-card
      :color="active ? undefined : 'grey lighten-1'"
      class="ma-4"
      @click="toggle"
    >
      <v-row
        class="fill-height"
        align="center"
        justify="center"
      >
        <v-scale-transition>
          <v-img :src="item.thumbnailUrl"
          :max-height="thumbMaxHeight"
          :max-width="thumbMaxWidth"
          />
        </v-scale-transition>
      </v-row>
    </v-card>
  </v-slide-item>
</v-slide-group>
</template>

<div v-else class="d-flex justify-center align-center">
  <div class="text-center text-h3 text--disabled pt-16">No images</div>
</div>
  </div>
</template>

<script>
import { mdiChevronLeft, mdiChevronRight } from '@mdi/js'


export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },

    imgMaxWidth: {
      type: Number,
      default: 800,
    },

    imgMaxHeight: {
      type: Number,
      default: 600,
    },

    thumbMaxWidth: {
      type: Number,
      default: 120,
    },

    thumbMaxHeight: {
      type: Number,
      default: 90,
    },


  },
  data () {
    return {
      selectedIndex: 0,
      mdiChevronLeft,
      mdiChevronRight,
    }
  },

  asyncData () {

  },

  fetch () {

  },

  computed: {
    selectedItem () {
      return this.items[this.selectedIndex]
    },

    hasNext () {
      return this.selectedIndex < this.items.length - 1
    },

    hasPrevious () {
      return this.selectedIndex > 0
    },

    hasImages () {
      return !!this.items.length
    },
  },

  methods: {
    showPrevious () {
      if(this.hasPrevious) {
        this.selectedIndex--
      }
    },

    showNext () {
      if(this.hasNext) {
        this.selectedIndex++
      }
    },
  },
}
</script>

<style scoped>
.left-btn {
  position: absolute;
  left: 0;
  top: 45%;
}

.right-btn {
  position: absolute;
  right: 0;
  top: 45%;
}
</style>
