<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this page?"
      />
      </v-toolbar>
      <v-card-text>
      <v-tabs
        v-model="tab"
      >
      <v-tab href="#basic">Basic</v-tab>
      <v-tab href="#seo" :disabled="isNewForm">SEO</v-tab>

    <v-tab-item value="basic">
      <PageBasicForm
      :item="pageBasicData"
      :formState="formState"
      :validationUnique="uniqueField"
      @add-item="onAddItem"
      @update-item="onUpdateItem"
      @cancel="onCancel"
      />
    </v-tab-item>


   <v-tab-item value="seo">
      <PageSeoForm
      :item="pageSeoData"
      :formState="formState"
      :validationUnique="uniqueField"
      @update-item="onUpdateItem"
      @cancel="onCancel"
      />
    </v-tab-item>

    </v-tabs>

    <FormTimestamp
      v-if="isEditForm"
      :createdAt="editedItem.createdAt"
      :updatedAt="editedItem.updatedAt"
      class="mt-8"
    />
  </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      tab: 'basic',
    }
  },

  computed: {
    title () {
      return this.isNewForm ? "Add new page" : `Edit page: ${this.editedItem.title}`
    },

    pageBasicData () {
      let { title, excerpt, content, published } = this.editedItem
      return { title, excerpt, content, published }
    },

    pageSeoData () {
      let { slug, metaDescription, keywords } = this.editedItem
      return { slug, metaDescription, keywords }
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'title' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-page`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        published: false,
        title: '',
        slug: '',
        excerpt: '',
        content: '',
        metaDescription: '',
        keywords: '',
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/pages/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/pages`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/pages/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/pages/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/page-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/pages')
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/page-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/pages'))
  },
}
</script>
