<template>
  <div class="d-flex align-center">
      <div v-for="(b, index) in blocks" :key="index">
        <WeeklyScheduleOpenHoursForm
        v-model="blocks[index]"
        @delete-item="deleteBlock(index)"
        />
      </div>
    <v-btn icon @click="addNewBlock" :disabled="disableAddBlockBtn"><v-icon small>mdi-plus-circle</v-icon></v-btn>
  </div>
</template>

<script>

export default {
  props: {
    blocks: {
      type: Array,
      default: () => []
    }
  },

  model: {
    prop: 'blocks'
  },

  computed: {
    lastBlockEnd () {
      return this.blocks.length ? this.blocks[this.blocks.length-1]['to'] : null
    },

    hasBlocks () {
      return !!this.blocks.length
    },

    disableAddBlockBtn () {
      return (this.hasBlocks && !this.lastBlockEnd) || this.lastBlockEnd >= 24
    },
  },

  methods: {
    addNewBlock () {
      let updated = [...this.blocks, this.nextBlockInterval()]
      this.$emit('input', updated)
    },

    deleteBlock (index) {
      let updated = this.blocks.filter((e, blockIndex) => blockIndex != index)
      this.$emit('input', updated)
    },

    nextBlockInterval () {
      if(!this.blocks.length) return { from: '9:00', to: '17:00'}
      const latestBlockEnd = this.lastBlockEnd
      let nextBlock = {from: '', to: ''}
      if(latestBlockEnd) {
        nextBlock.from = parseInt(latestBlockEnd) + 2
      }

      if(nextBlock.from) {
        nextBlock.to = nextBlock.from + 3
      }
      return nextBlock
    },


  },
}

</script>
