<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12" v-if="error">
        <v-alert type="error" > {{ error }} </v-alert>
      </v-col>

      <v-col xs="12" sm="6">
        <ValidationProvider rules="required|unique:name" name="name" v-slot="{ errors }">
          <v-text-field
          label="Name"
          v-model="editedItem.name"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6">
        <ValidationProvider rules="unique:slug" name="slug" v-slot="{ errors }">
          <v-text-field
          label="Slug"
          v-model="editedItem.slug"
          :error-messages="errors[0]"
          />
        </ValidationProvider>
      </v-col>

      <v-col sm="12" v-for="(blocks, index) in editedItem.items" :key="index">
        {{ isoWeekday(index + 1)}} <div v-if="isClosed(editedItem.items[index])" class="d-inline-block text--disabled ml-4"> - Day off</div>
        <WeeklyScheduleDailyOpenHoursForm
          v-model="editedItem.items[index]"
        />
      </v-col>

        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"
import { isoWeekday } from "shared/utils"

export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  methods: {
    isoWeekday (index) {
      return isoWeekday(index)
    },

    isClosed (blocks) {
      return !blocks.length
    },
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
