<template>
  <v-hover
      v-slot="{ hover }"
    >
      <div class="d-flex pr-12 " style="position: relative;" >
      <div style="width: 5rem;">
        <v-text-field label="From" v-model.lazy="from" class="mr-4"/>
      </div>
      <div style="width: 5rem;">
        <v-text-field label="to" v-model.lazy="to" />
      </div>
      <v-btn absolute bottom right small icon v-show="hover" @click="onDelete"><v-icon small>mdi-delete</v-icon></v-btn>
      <DialogConfirmation
        v-model="dialog"
        message="Delete this hours block?"
        @confirm="onDeleteConfirmed"

      />
      </div>
  </v-hover>
</template>

<script>

export default {
  props: {
    block: {
      type: Object,
      default: () => ({from: '', to: ''})
    },

    skipConfirmDelete: {
      type: Boolean,
    }
  },

  model: {
    prop: 'block'
  },

  data () {
    return {
      dialog: false,
    }
  },

  computed: {
    from: {
      get: function () {
        return this.block.from
      },

      set: function (val) {
        this.$emit('input', {from: val, to: this.block.to})
      }
    },

    to: {
      get: function () {
        return this.block.to
      },

      set: function (val) {
        this.$emit('input', {from: this.block.from, to: val})
      }
    }
  },

  methods: {
    onDelete () {
      this.skipConfirmDelete ? this.onDeleteConfirmed() : this.dialog = true
    },

    onDeleteConfirmed () {
      this.$emit('delete-item')
    },
  }
}

</script>
