<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this tag?"
      />
      </v-toolbar>
        <v-card-text>

            <TagForm
            :item="editedItem"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />

        <FormTimestamp
          v-if="isEditForm"
          :createdAt="editedItem.createdAt"
          :updatedAt="editedItem.updatedAt"
          class="mt-8"
        />

      </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  computed: {
    title () {
      return this.isNewForm ? "Add new tag" : `Edit tag: ${this.editedItem.name}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-tag`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        name: '',
        slug: '',
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/tags/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/tags`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/tags/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/tags/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/tag-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/tags')
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/tag-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/tags'))
  },
}
</script>
