<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
       <v-row>
         <v-col cols="12" xs="12" sm="12" class="d-flex justify-end align-center">
           <v-switch
           label="Published"
           v-model="editedItem.published"
           dense
           />
         </v-col>
         <v-col cols="12" sm="12">
           <v-alert type="error" v-if="error"> {{ error }} </v-alert>

           <ValidationProvider rules="required|unique:title" name="title" v-slot="{ errors }">
             <v-text-field
             label="Title"
             v-model="editedItem.title"
             :error-messages="errors[0]"
             required
             />
           </ValidationProvider>
         </v-col>

        <!-- ===================== description ===================== -->
        <v-col cols="12" sm="12">
          <v-textarea
          label="Short description"
          v-model="editedItem.excerpt"
          outlined
          />
        </v-col>

        <v-col cols="12" sm="12">
          <label class="v-label theme--light">Content</label>
          <QuillHtmlEditor v-model="editedItem.content" />
        </v-col>

        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"
import { mapState } from "vuex"


export default {
  mixins: [ItemFormMixin],

  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
