<template>
  <div class="page">
  <v-container class="product-detail">
    <SnackBar
    v-model="confirmAddToCart"
    text="Added to Cart"
    centered
    />
    <v-row>
      <v-col cols="12" sm="12" md="7" class="pa-0 d-flex align-start">
        <v-breadcrumbs
      :items="breadcrumbItems"
      class="mt-0 pt-0 font-weight-bold"
    ></v-breadcrumbs>
  </v-col>
  <v-col cols="12" sm="12" md="5" class="pa-0">
    <ProductFamily
    v-if="siblingProducts.length"
    :items="siblingProducts"
    @show-product="onShowProduct"
    />
</v-col>

</v-row>

  <v-row>

      <v-col order-md="last" sm="12" md="5" class="d-flex flex-column justify-start" stylexx=" border: 1px solid red;">
        <div class="">
          <h1 class="text-h1 word-break primary--text">{{ product.name }}</h1>
          <div class="text--disabled text-caption mt-2">#{{ product.sku }}</div>
          <div class="text-subtitle-2 font-weight-bold mt-6">{{ product.excerpt }}</div>
          <div class="mt-4 text-body-2" v-html="product.description"></div>
        </div>

        <div class="mt-auto">
          <div class="d-flex justify-space-between align-center pt-8 pb-8">
            <div class="select-variation-container">
              <template v-if="isVariableProduct">
              <ProductVariationSelector
                :variableFeatures="item.variableFeatures"
                :skusConfig="skusConfig"
                v-model="selectedSku"
                width="70px"
              />
              </template>
            </div>
            <v-spacer></v-spacer>

          </div>
          <div class="add-to-cart-container">
            <CartAddToForm
            :item="cartableItem"
            @added-to-cart="showConfirm"
            />
          </div>
        </div>
      </v-col>

      <v-col sm="12" md="7" class="pr-md-12" stylexx="height: 700px; border: 1px solid red;">
        <MediaLightBox
          :items="images"
        />
      </v-col>

    </v-row>

    <v-row>
      <v-col cols="12" sm="12">
        <ProductTabs
          :product="product"
          class="mt-16"
        />
      </v-col>
    </v-row>

    <template v-for="lp in linkedProductsTypes">

      <ProductRlLinkedProductsList
        v-if="product[lp.slug] && product[lp.slug].length"
        :key="lp.slug"
        v-slot="{products, error, loading}"
        :items="product[lp.slug]"
      >
        <v-row >
          <v-col sm="12" class="text-h2">{{ lp.title }} </v-col>
          <v-col sm="4" md="3" v-for="p in products" :key="p._id">
            <ProductLinkedPreview
              :item="p"
              @added-to-cart="showConfirm"
            />
          </v-col>
        </v-row>
      </ProductRlLinkedProductsList>
    </template>
  </v-container>
</div>
</template>

<script>
// import defaultsDeep from 'lodash/defaultsDeep.js'
import defaults from 'lodash/defaults.js'
import { imgUrl, formatDateTimeToLocale, formatPrice, isVariableProduct, isProductVariation, CartableItem, fullVariationConfig, filterObject, PRODUCT_TYPE } from 'shared/utils'

export default {
  head () {
    return {
      title: this.item.name,
      meta: [
        { hid: 'keywords', name: 'keywords', content: this.item.keywords },
        { hid: 'description', name: 'description', content: this.item.excerpt },
      ],

      lightBoxImgTransf: [{height:600, width:800}],
      lightBoxThumbTransf: [{height:90, width:120}],
    }
  },

  data () {
    return {
      item: {}, // parent product
      selectedSku: null,
      confirmAddToCart: false,

      linkedProductsTypes: [
        {slug:'accessories', title: 'Zubehör'},
        {slug: 'crossSells', title: 'Kunden kauften auch'},
        { slug: 'replacementMaterials', title: 'Ersatzmaterial'}
      ],
    }
  },

  async asyncData ({ $axios, params, query, error }) {
    try {
      let selectedSku = null
      const item = await $axios.$get(`api/product/${params.slug}`)
      if (!item) {
        return error({ message: 'Product not found', statusCode: 404 })
      }

      if(isVariableProduct(item)) {
        selectedSku = query.selected ? query.selected : null
      }

      const family = await $axios.$get(`/api/product-family/${item._id}`)

      return { item, selectedSku, family }
    } catch (error){
      console.log('error %o', error)
    }
  },

  computed: {
    skusConfig () {
      if(!this.isVariableProduct) return []
      return this.item.variations.reduce((acc, e) => {
        acc[e.sku] = e.featuresConfig
        return acc
      }, {})
    },

    product () {
      if(!this.isVariableProduct || !this.selectedSku) return this.item // no changes needed
      const selectedVariation = this.item.variations.find(e => e.sku == this.selectedSku)
      if(!selectedVariation) return this.item

      const trimmedVariation = filterObject(selectedVariation, (val) => val != null && val != "" || (Array.isArray(val) && val.length != 0 ) ) // remove from variation null, empty strings or empty arrays values before joining with parent product
      const variationFeatures = fullVariationConfig(selectedVariation.featuresConfig, this.item.variableFeatures)
      return defaults({ type: PRODUCT_TYPE.VARIATION }, trimmedVariation, { variationFeatures }, this.item)
    },

    isVariableProduct () {
      return isVariableProduct(this.item)
    },

    isProductVariation () {
      return isProductVariation(this.product)
    },

    cartableItem () {
      const description = this.isProductVariation ? this.variationDescription(this.product) : ''
      const itemType = this.product.type
      const cartItem = Object.assign({}, this.product, { description, itemType })
      return new CartableItem(cartItem)
    },

    images () {
      // return []
      let gallery = [this.product.image]
      if(this.product.gallery && this.product.gallery.length) {
        gallery.push(...this.product.gallery)
      }
      return gallery
      .filter(e => !!e)
      .map(e => ({
        url: imgUrl(e.filePath, this.lightBoxImgTransf),
        title: "",
        thumbnailUrl: imgUrl(e.filePath, this.lightBoxThumbTransf)
      }))
    },

    breadcrumbItems () {
      const arr = [{
                text: 'Home',
                disabled: false,
                href: '/',
              }]
      if(this.item.category && this.item.category.name ) {
        arr.push( {
                  text: this.item.category.name,
                  disabled: false,
                  href: `/category/${this.item.category.slug}` ,
                },)
      }
      arr.push({
                text: this.item.name,
                disabled: true,
              })
      return arr
    },

    // keep other published products from his family
    siblingProducts () {
      if(!this.family || !this.family.products) return []
      return this.family.products.filter(e => e._id != this.item._id && e.published)
    },

  },

  methods: {
    variationDescription (item) {
      if(!item.variationFeatures) return ''
      return item.variationFeatures.map(e => `${e.featureName} ${e.itemName}`).join(', ')
    },

    showConfirm () {
      this.confirmAddToCart = true
    },

    onShowProduct (item) {
      this.$router.push({path: `/product/${item.slug}`})
    }
  },

  filters: {
    formatPrice,
  },

  watch: {
  }

}

</script>

<style lang="scss" scoped>

</style>
