<template>
  <div>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12" v-if="error">
        <v-alert type="error" > {{ error }} </v-alert>
      </v-col>

      <v-col xs="9" sm="4" md="3">
        <ValidationProvider rules="required|unique:code" name="code" v-slot="{ errors }">
          <v-text-field
          label="Code"
          v-model="editedItem.code"
          :error-messages="errors[0]"
          required
          />
        </ValidationProvider>
      </v-col>

      <v-col xs="3" sm="2" md="2" class="d-flex align-center">
        <v-btn small color="primary" @click="generateCode">Generate</v-btn>
      </v-col>

      <v-col xs="12" sm="6" md="1">
        <ValidationProvider rules="required|numeric|max_value:100|min_value:1" name="discount" v-slot="{ errors }">
        <v-text-field
        type="number"
        min="0"
        max="100"
        label="Discount"
        v-model.number="editedItem.discount"
        :error-messages="errors[0]"
        />
        </ValidationProvider>
      </v-col>

      <v-col xs="12" sm="6" md="3">
        <FormDateSelector
        label="Start"
        v-model="editedItem.startDate"
        />
      </v-col>

      <v-col xs="12" sm="6" md="3">
        <FormDateSelector
        label="End"
        v-model="editedItem.endDate"
        />
      </v-col>


      <v-col xs="12" sm="6" md="3">
        <ValidationProvider rules="numeric|min_value:1" name="discount" v-slot="{ errors }">
        <v-text-field
        type="number"
        min="0"
        label="Use Max Times"
        v-model.number="editedItem.maxUse"
        :error-messages="errors[0]"
        />
        </ValidationProvider>
      </v-col>


      <v-col cols="12" class="text-center pt-8">
        <FormSubmitBtn
        :state="formState"
        :disabled="disableFormBtn"
        cancelBtn
        @cancel="onCancel"
        />
      </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</div>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"


export default {
  props: {
    validationUnique: {
      type: Function,
      required: true,
    },
  },

  mixins: [ItemFormMixin],

  methods: {
    generateCode () {
      this.editedItem.code = Math.random().toString(36).substr(2, 5).toUpperCase();
    },
  },

  mounted () {
    extend('unique', {
      validate: this.validationUnique,
      params: ['field'],
      message: 'This {_field_} is already taken',
      })
  },
}
</script>
