<template>
<v-card>
  <v-card-text>
  <v-row>
      <v-col cols="12" xs="12">
          <v-text-field
          label="Title"
          v-model="item.title"
          />
      </v-col>

      <v-col cols="12" xs="12">
          <v-textarea
          label="Content"
          v-model="item.content"
          />
      </v-col>

      <v-col cols="12" class="py-12">
        <div class="subtitle-1 py-4">Image</div>
        <MediaFilesSelect
          singleSelect
          flat
          hideTitle
          hideDescription
          v-model="item.image"
        />
      </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => ({
        title: '',
        content: '',
        image: null
      })
    }
  },
}
</script>
