<template>
  <v-card>
    <v-card-title class="justify-end">
      <TableActionBtns
        @edit-item="onEdit"
        @delete-item="onDelete"
      />
    </v-card-title>
    <v-card-text>
      {{ item.firstName }} {{ item.lastName }} <br />
      {{ address }} <br />
      {{ item.zip }}, {{ item.city }} <br />
      {{ item.county }} <br />
      {{ item.countryName }} ({{ item.countryCode }})<br />
    </v-card-text>

    <DialogConfirmation
    v-model="dialog"
    message="Delete this address?"
    @confirm="deleteConfirmed"
    />
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    }, 
  },

  data () {
    return {
      dialog: false,
    }
  },

  computed: {
    address () {
      return this.item.address2 ? `${this.item.address}, ${this.item.address2}` : `${this.item.address}`
    }
  },

  methods: {
    onEdit () {
      this.$emit('edit-item', this.item)
    },

    onDelete () {
      this.dialog = true
    },

    deleteConfirmed () {
      this.$emit('delete-item', this.item._id)
    },
  }
}
</script>
