<template>
  <ValidationObserver v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <v-row>
      <v-col cols="12">
        <v-alert type="error" v-if="error"> {{ error }} </v-alert>
      </v-col>

        <v-col cols="12" sm="12" md="6">
          <ValidationProvider name="companyName" rules="required" v-slot="{ errors }">
            <v-text-field
            label="Company Name"
            v-model="editedItem.companyName"
            :error-messages="errors[0]"
            required
            />
          </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
          <ValidationProvider name="fiscalCode" rules="required" v-slot="{ errors }">
            <v-text-field
            label="Fiscal Code"
            v-model="editedItem.fiscalCode"
            :error-messages="errors[0]"
            required
            />
          </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
          <ValidationProvider name="fiscalCodeName" rules="" v-slot="{ errors }">
            <v-text-field
            label="Fiscal Code Name"
            hint="As is used in your country"
            v-model="editedItem.fiscalCodeName"
            :error-messages="errors[0]"
            required
            />
          </ValidationProvider>
        </v-col>

      <v-col cols="12" sm="12" md="6">
        <ValidationProvider name="address" rules="required" v-slot="{ errors }">
          <v-text-field
            label="Street Address"
            v-model="editedItem.address"
            :error-messages="errors[0]"
            required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="6">
        <ValidationProvider name="address2" rules="" v-slot="{ errors }">
          <v-text-field
            label="Apt/Suite"
            v-model="editedItem.address2"
            :error-messages="errors[0]"
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
        <ValidationProvider name="zip" rules="required" v-slot="{ errors }">
          <v-text-field
            label="Zip Code"
            v-model="editedItem.zip"
            :error-messages="errors[0]"
            required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
        <ValidationProvider name="city" rules="required" v-slot="{ errors }">
          <v-text-field
           label="City"
           v-model="editedItem.city"
           :error-messages="errors[0]"
           required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
        <ValidationProvider name="county" rules="required" v-slot="{ errors }">
          <v-text-field
            label="County"
            v-model="editedItem.county"
            :error-messages="errors[0]"
            required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
        <ValidationProvider name="country" rules="required" v-slot="{ errors }">
            <v-autocomplete
            v-model="country"
            :items="countries"
            item-text="name"
            item-value="code"
            label="Country"
            :error-messages="errors[0]"
            required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
        <ValidationProvider name="phone" rules="" v-slot="{ errors }">
          <v-text-field
           label="Phone"
           v-model="editedItem.phone"
           :error-messages="errors[0]"
           required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
        <ValidationProvider name="email" rules="required" v-slot="{ errors }">
          <v-text-field
           label="Email"
           v-model="editedItem.email"
           :error-messages="errors[0]"
           required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" sm="12" md="3">
        <ValidationProvider name="website" rules="" v-slot="{ errors }">
          <v-text-field
           label="Web site"
           v-model="editedItem.website"
           :error-messages="errors[0]"
           required
          />
        </ValidationProvider>
        </v-col>

        <v-col cols="12" class="text-center pt-8">
          <FormSubmitBtn
          :state="formState"
          :disabled="disableFormBtn"
          cancelBtn
          @cancel="onCancel"
          />
        </v-col>
      </v-row>
    </form>
  </ValidationObserver>
</template>

<script>
import ItemFormMixin from "shared/components/mixins/ItemFormMixin"
import { extend } from "vee-validate"

export default {
  props: {
    countries: {
      type: Array,
      required: true,
    },

    hideSelectType: {
      type: Boolean,
    },

  },

  data () {
    return {
      types: [
        { text: "Person", value: "person"},
        { text: "Company", value: "company"},
      ]
    }
  },

  mixins: [ItemFormMixin],

  computed: {
    country: {
      get () {
        return this.editedItem.countryCode
      },

      set (val) {
        this.editedItem.countryCode = val
        let country =  this.countries.find(e => e.code == val)
        this.editedItem.countryName = country ? country.name : ''
      }
    },

    isPerson () {
      return this.editedItem.type == 'person'
    },

    isCompany () {
      return this.editedItem.type == 'company'
    },


  }
}
</script>
