<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
        title="Discounts"
        addNewLink="/discount-edit"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :single-select="false"
        :options.sync="options"
        :search="search"
        :server-items-length="total"
        :loading="$fetchState.pending"
        item-key="id"
        show-select
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.type="{ value }" >
        {{ value | formatDiscountType }}
      </template>

      <template v-slot:item.value="{ item }" >
        {{ formatDiscountValue(item) }}
      </template>

      <template v-slot:item.startDate="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.endDate="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.createdAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.updatedAt="{ value }" >
        {{ value | formatDate }}
      </template>

      <template v-slot:item.actions="{ item }" >
        <TableActionBtns
          @edit-item="$router.push({path: `/discount-edit/${item._id}` })"
          @delete-item="onDeleteItem(item._id)"
        />
      </template>

      </v-data-table>
      </v-col>

      <v-col cols="12" xs="12">
        <div class="d-flex">
          <FormBulkActions
          :disabled="disableBulkActions"
          @delete-items="onBulkDelete"
          />
        </div>
    </v-col>

    <DialogConfirmation
      v-model="deleteDialog"
      message="Delete this discount?"
      @confirm="deleteDiscount"
    />

  </v-row>
</template>

<script>
import { formatDate, formatPrice, } from 'shared/utils'
import BaseTableForm from 'shared/components/base/TableForm'
import { mapState } from "vuex"

export default {
  extends: BaseTableForm,

  data () {
    return {
      headers: [
      { text: 'Name', value: 'name' },
      { text: 'Value', value: 'value' },
      { text: 'Type', value: 'type' },
      { text: 'Start Date', value: 'startDate' },
      { text: 'End Date', value: 'endDate' },
      // { text: 'Created At', value: 'createdAt' },
      { text: 'Last Update', value: 'updatedAt' },
      { text: 'Actions', value: 'actions', sortable: false },
      ],

    }
  },

  computed: {
    ...mapState('currency', {
      currency: 'currency',
    }),
  },

  filters: {
    formatDate,

    formatDiscountType (val) {
      return val == 'percent' ? `percent` : 'fixed'
    },
  },

  methods: {
    loadItems (params) {
      return this.$axios.$get('/api/discounts', { params })
    },

    deleteItem (id) {
      return this.$axios.$delete(`/api/discounts/${id}`)
    },

    deleteMany (ids) {
      return this.$axios.$delete('/api/discounts', { data: { ids } })
    },

    async deleteDiscount () {
      if(!this.deleteSingleItem) return
      let id = this.deleteSingleItem
      this.deleteSingleItem = null
      await this.deleteItem(id)
      this.$fetch()
    },

    formatDiscountValue (item) {
      return item.type == 'percent' ? `${item.value} %` : formatPrice(item.value, this.currency.code)
    },
  },
}
</script>
