<template>
  <PagSlantedContainer
  :id="id"
  :right="right"
  >
  <SnackBar
  v-model="confirmAddToCart"
  text="Added to Cart"
  centered
  />
    <v-container :class="containerClasses">
      <v-row>
        <v-col sm="12">
          <div class="section-reason" >
            {{ item.series }}
        </div>

        <h2 class="text-h2">
          {{ item.title }}
        </h2>
      </v-col>
      <v-col sm="12" md="8">
        <div class="text-body-1">
          {{ item.description }}
        </div>
        </v-col>

        <v-col sm="12" md="3" offset-md="1" class="d-flex flex-column align-end">
          <div class="d-flex align-center font-weight-bold mb-2 background--text">
          <div v-if="item.regularPrice" class="error--text text-body-2 text-decoration-line-through mx-2">{{ item.regularPrice | formatPrice }}</div> {{ item.price | formatPrice }}
          </div>

          <CartRlItemEditor v-slot="{ addToCart, product }" :item="cartableItem" limitToOne>
            <v-btn @click="addToCart();showConfirm()" color="primary">In den Warenkorb</v-btn>
          </CartRlItemEditor>
          </v-col>

        </v-col>
      </v-row>
    </v-container>
  </PagSlantedContainer>
</template>

<script>

import { CartableItem, formatPrice } from 'shared/utils'


export default {
  props: {
    item: {
      type: Object,
      required: true,
    },

    right: {
      type: Boolean,
    },

    containerClasses: {
      type: String,
    },

    id: {
      type: String,
    },
  },

  data () {
    return {
      model: null,
      confirmAddToCart: false,
    }
  },

  computed: {
    cartableItem () {
      const cartItem = Object.assign({}, this.item)
      return new CartableItem(cartItem)
    },
  },

  filters: {
    formatPrice,
  },

  methods: {
    showConfirm () {
      this.confirmAddToCart = true
    },
  },
}
</script>
