<template>
  <div>
      <div> {{ item.firstName }} {{ item.lastName }}</div>
      <div> {{ address }} </div>
      <div> {{ item.zip }}, {{ item.city }}</div>
      <div v-if="item.county"> {{ item.county }}</div>
      <div> {{ item.countryName }} ({{ item.countryCode }})</div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },

    title: {
      type: String,
    },
  },

  computed: {
    address () {
      return this.item.address2 ? `${this.item.address}, ${this.item.address2}` : `${this.item.address}`
    }
  },
}
</script>
