<template>
  <div>
    <div>{{ item.companyName }}</div>
    <div>{{ fiscalCodeName }} {{ item.fiscalCode }}</div>
    <div>{{ address }}</div>
    <div>{{ item.city }}, {{ item.county }} {{ item.zip }}</div>
    <div>{{ item.countryName }}</div>

    <div v-if="item.phone">Phone: {{ item.phone }}</div>
    <div v-if="item.email">Email: <a :href="`mailto:${item.email}`">{{ item.email }}</a></div>
    <div v-if="item.website">Web: <a :href="item.website" target="_blank">{{ item.website }}</a></div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    fiscalCodeName () {
      return this.item.fiscalCodeName || "Fiscal Code"
    },

    address () {
      return this.item.address2 ? `${this.item.address}, ${this.item.address2}` : `${this.item.address}`
    },
  }
}
</script>
