@import '@/assets/css/variables.scss';

.word-break {
  word-break: break-word;
}

.text-body-1 {
  margin-bottom: 1.5em;
}

.v-btn .v-btn__content{
  color: #5C5C5C;
}


// ================= PRODUCTS ======================
.product-price-container {
  font-family: $body-font-family;
  font-size: 2.25rem;
  color: $dark-charcoal;
  font-weight: 700;
}

// ================= PAGES ======================

.page {
  padding-top: 2rem;
  .page-title {
    // margin-top: 2rem;
  }
  .page-sub-title {
    margin-top: 1.25rem;
    margin-bottom: .75rem;
  }

  .subtitle {
    margin-top: 1.5em;
    margin-bottom: .25em;
    font-weight: 600;
    font-size: 1.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  .paragraph {
    margin-top: 1em;
    margin-bottom: 2em;

    .p-title {
      margin-bottom: .25em;
      font-weight: 600;
      font-size: 1.25em;
    }
  }

  .page-bordered-menu {
    border: 1px solid $dark-charcoal;
    padding: 2rem 3rem;
    min-width: 60%;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    // padding-left: 3rem;

    .menu-title {
      font-size: 2rem;
      line-height: 2rem;
      margin-top: -3rem;
      padding: 0 2em .75em;
      font-family: $heading-font-family;
      font-weight: 600;
      text-align: center;
    }

    .menu-item {
      font-size: 1.25rem;
      line-height: 1.25em;
      font-family: $heading-font-family;
      font-weight: 400;


      a {
        color: $dark-charcoal;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

h1, h2, h3 {
  word-break: break-word;
}

// ================= WIDGETS ======================
.sidebar .widget {
  .v-card__title {
    font-family: $body-font-family;
    font-size: 1.5rem;
    margin-bottom: .75em;
    color: $dark-charcoal;
    font-weight: 600;
  }

  ul {
    padding-left: 0;
  }
}

.widget a,
.tag-list a {
  color: var(--v-secondary-base)
}

// ================= ORDER ======================
.cart-item-name {
  font-family: $body-font-family;
  font-size: 1.25rem;
  font-weight: 700;
}

// ================= MOUOSE ======================
.cursor-link {
  cursor: pointer;
}
