// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// ~/vuetify/src/style/settings/variables.scss
// The variables you want to modify
// $font-size-root: 20px;

$material-light: (
  'background': #FFFFFF,
);

$background: #ffffff;
$dark-charcoal: #303030;
$light-charcoal: #c0c0c0;

$heading-font-family: 'Open Sans', sans-serif; // 'EB Garamond', serif;
$body-font-family: 'Open Sans', sans-serif;


$font-size-root: 16px;
$sheet-border-radius: 4px;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: ( small: 20 );
$btn-font-sizes: ( default: 1rem, large: 1rem );
$btn-sizes: ( default: 41, large: 54 );
$btn-letter-spacing: 0;
$btn-font-weight: 600;
$card-text-font-size: 16px;



$headings: (
  'h1': (
    'size': 3rem,
    'weight': 600,
    'line-height': 1em,
  //  'letter-spacing': -.015625em,
    'font-family': $heading-font-family,
    'text-transform': false,
  ),
	'h2': (
		'font-family': $heading-font-family,
		'size': 2.25rem,
    'line-height': 1.15em,
		'weight': 600,
	),
	'h3': (
		'font-family': $heading-font-family,
		'size': 1.875rem,
    'line-height': 1.1em,
		'weight': 600,
	),
	'h4': (
	'size': 1.125rem,
	'line-height': 1.4em
	),
	'h5': (
		'font-family': $heading-font-family,
		'size': 1.0625rem
	),
	'h6': (
		'font-family': $heading-font-family,
		'size': .75rem
  ),

  'subtitle-1': (
    'size': 1.25rem,
    'weight': 600,
    'line-height': 1.75rem,
    'letter-spacing': .009375em,
    'font-family': $body-font-family,
    'text-transform': false
  ),


);

// from material dashboard pro


$btn-sizes: (
  'small': 28,
  'default': 41,
  'large': 54
);

$btn-font-sizes: (
  'default': .75rem
);

$btn-letter-spacing: normal;

$btn-icon-font-size: 1.0625rem !important;

$list-item-min-height: 48px;

$blockquote-font-size: 1.25rem;

$card-border-radius: 6px;
$card-text-font-weight: 400;
$card-elevation: 1;

$data-table-regular-header-font-size: 1.0625rem;

$shadow-key-umbra: (
  1: (0 1px 4px 0 rgba(0,0,0,.14)),
  12: (0 16px 38px -12px rgba(0,0,0,.56))
);

$shadow-key-penumbra: (
  1: (0 0 0 0 rgba(0,0,0,0)),
  12: (0 4px 25px 0 rgba(0,0,0,.12))
);

$shadow-key-ambient: (
  1: (0 0 0 0 rgba(0,0,0,0)),
  12: (0 8px 10px -5px rgba(0,0,0,.2))
);
