<template>
  <v-app-bar
    app
    prominent
    elevate-on-scroll
    height="70px"
    extension-height="60px"
    color="white"
  >
  <v-app-bar-nav-icon
  class="hidden-md-and-up"
  @click="$emit('open-drawer')"
  >
  <slot>
    <v-icon>{{ mdiReorderHorizontal }}</v-icon>
  </slot>
</v-app-bar-nav-icon>

  <v-spacer></v-spacer>

  <nuxt-link to="/">
    <v-img
      class="mt-md-2"
      max-width="200px"
      :src="respImg.url"
      :srcset="respImg.srcset"
      :sizes="respImg.sizes"
    />
  </nuxt-link>

  <v-spacer></v-spacer>
  <UserMenu
  :isAuthenticated="$auth.loggedIn"
  v-on="onAccount"
  />

  <CartMenuPreview
    @show-cart="$router.push('/cart')"
    class="mr-2"
  />


<template v-slot:extension>
<v-container class="hidden-sm-and-down">
<v-row justify="space-between">
  <v-col md="8">
    <nuxt-link
      v-for="m in menu"
      :key="m.path"
      class="mr-4 main-menu-item"
      :to="m.path"
    >
      {{ m.title }}
    </nuxt-link>
  </v-col>
</v-row>
  </v-container>
</template>
  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex"
import { imgResp } from 'shared/utils'
import { mdiReorderHorizontal } from '@mdi/js'

export default {
  props: {
    menu: {
      type: Array,
      default: () => []
    },
  },

  data () {
    return {
      mdiReorderHorizontal,
    }
  },

  computed: {
    onAccount () {
      return {
        'login': () => { this.$router.push({path:'/login'}) },
        'sign-up': () => { this.$router.push({path:'/sign-up'}) },
        'my-account': () => { this.$router.push({path:'/my-account'}) },
        'logout': () => { this.$auth.logout() }
      }
    },

    onAccount () {
      return {
        'login': () => { this.$router.push({path:'/login'}) },
        'sign-up': () => { this.$router.push({path:'/sign-up'}) },
        'my-account': () => { this.$router.push({path:'/my-account'}) },
        'logout': () => { this.$auth.logout() }
      }
    },

    respImg () {
      return imgResp('/utils/logo_JgQxo9zQI.jpg', [{screen: 600, w: 200}, {screen: 960, w: 200}, {screen: 1920, w: 200}, 200 ])
    },

  },
}
</script>

<style scoped lang="scss">
.main-menu-item {
  font-size: .875rem;
  font-weight: 600;
  color: $dark-charcoal;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 4px;
}

.main-menu-item.nuxt-link-exact-active {
  border-bottom: 2px solid var(--v-secondary-base);
}
</style>
