<template>
<div id="bottom-container">
 <v-container>
    <v-row>
      <v-col cols="12" sm="12" md="3">

        <div class="menu-title">
          Menu
        </div>

        <ul>
          <li v-for="p in mainMenu" :key="p.path"><nuxt-link :to="p.path" class="text-uppercase main-menu">{{ p.title }}</nuxt-link></li>
        </ul>

        <!-- <div>
          <v-img
            max-width="125"
            :src="respImg.url"
            :srcset="respImg.srcset"
            :sizes="respImg.sizes"
          />
        </div>
      -->
      </v-col>

      <v-col cols="12" sm="12" md="3">
        <div class="menu-title">Legal</div>
        <ul class="link">
          <li v-for="p in legalMenu" :key="p.path"><nuxt-link :to="p.path" >{{ p.title }}</nuxt-link></li>
        </ul>

      </v-col>

      <v-col cols="12" sm="12" md="3" >
        <div class="menu-title">Newsletter</div>
        <div class="d-flex  mt-4">
          <EmailSubscribe
          outlined
          dense
          mailList="newsletter"
          bg="background"
          >
          </EmailSubscribe>
        </div>
      </v-col>

      <v-col cols="12" sm="12" md="3">

        <div class="menu-title">Social</div>
      </v-col>

    </v-row>
  </v-container>
</div>
</template>

<script>
import { mapState } from 'vuex'
import { imgResp } from 'shared/utils'

export default {
  data () {
    return {
      subscribed: false,

    }
  },

  computed: {
    ...mapState('menus', [
      'mainMenu',
      'guideMenu',
      'legalMenu',
    ]),

    respImg () {
      return imgResp('/assets-general/logohat4x3.png', [{screen: 600, w: 600}, {screen: 960, w: 100}, {screen: 1920, w: 125}, 600 ])
    },

  },

  methods: {

  }

}
</script>

<style lang="scss" scoped>

#bottom-container {
  background: $dark-charcoal;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li a, .menu-link {
    text-decoration: none;
    color: $background;
    font-weight: 300;
    font-size: .875rem;
    &:hover {
      text-decoration: underline;
    }
    &.icons:hover {
      text-decoration: none;
    }

    // &.main-menu {
    //   line-height: 2;
    // }
  }

   .menu-title {
     color: var(--v-secondary-base);
     font-weight: 600;
     padding-bottom: .2em;
     text-shadow: 1px 1px 1px black; 
  }
}
</style>
