<template>
  <v-navigation-drawer
      v-model="drawer"
      app
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="primary--text"
        >
        <template v-for="m in menu">
          <v-list-item v-if="m.external" :key="m.path" :href="m.path" target="_blank">
            <v-list-item-title class="font-weight-bold">
              <!-- <a v-if="m.external" :href="m.path" target="_blank">{{ m.title }}</a>
              <nuxt-link v-else :to="m.path">{{ m.title }}</nuxt-link> -->
              {{ m.title }}
            </v-list-item-title>
          </v-list-item>
          <v-list-item v-else :key="m.path" :to="m.path">
            <v-list-item-title class="font-weight-bold">
              <!-- <a v-if="m.external" :href="m.path" target="_blank">{{ m.title }}</a>
              <nuxt-link v-else :to="m.path">{{ m.title }}</nuxt-link> -->
              {{ m.title }}
            </v-list-item-title>
          </v-list-item>
        </template>


        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
    },

    menu: {
      type: Array,
    },
  },

  model: {
    prop: 'value',
  },

  data () {
    return {
      group: null,
    }
  },

  computed: {
    drawer: {
      get () {
        return this.value
      },

      set (val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
