<template>
  <v-footer
    absolute
    app
    color="dark-charcoal"
    class="d-flex justify-end px-4"
  >
  <div class="copyright">
    &copy; {{ new Date().getFullYear() }}
  </div>
  </v-footer>
</template>


<style lang="scss" scoped>
.copyright {
  color: $background;
}
</style>
