<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
        title=""
        addNewLink="/book-a-session"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :single-select="false"
        :options.sync="options"
        :search="search"
        :server-items-length="total"
        :loading="$fetchState.pending"
        item-key="_id"
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.from="{ value }" >
        {{ value | formatDate('D MMM YYYY') }}
      </template>

      <template v-slot:item.hours="{ item }" >
        {{ formatHours(item) }} (Paris, France time)
      </template>

      <template v-slot:item.status="{ item }" >
        {{ formatStatus(item) }}
      </template>

      <template v-slot:no-data>
        No bookings yet.
      </template>

      </v-data-table>
      </v-col>

      <v-col cols="12">
        <strong>Reschedules & Cancelations</strong> <br />
        If you want to reschedule or cancel a session please <nuxt-link to="/contact">contact me</nuxt-link>. <br /><br />
  Please note that booking has a 48-hour cancelation policy. Full refund if you cancel more than 48 hours prior to the appointment date. 50% refund if you cancel 24 hours or less prior to the appointment. No refund for same day cancellations or no call/no shows. The sessions packs expire 90 days from first hour of use. The first session has a money-back guarantee.</v-col>
  </v-row>
</template>

<script>
import dayjs from 'dayjs'
import { formatDate, formatTime } from 'shared/utils'
import BaseTableForm from 'shared/components/base/TableForm'

export default {
  extends: BaseTableForm,

  props: {
    loadFunction: {
      type: Function,
      required: true,
    }
  },

  data () {
    return {
      headers: [
      { text: 'Date', value: 'from' },
      { text: 'Hours', value: 'hours' },
      { text: 'Status', value: 'status' },
      ],
    }
  },

  filters: {
    formatDate,
  },

  methods: {
    loadItems (params) {
      return this.loadFunction(params)
    },

    formatHours (item) {
      return formatTime(item.sessionFrom) + ' - ' + formatTime(item.sessionTo)
    },

    formatStatus (item) {
      let text = ''
      if(dayjs().isBefore(item.from)) {
        text = "Comming " + dayjs(item.from).fromNow()
      } else {
        text = "Passed"
      }

      return text
    },
  },
}
</script>
