<template>
  <v-row>
    <v-col cols="12" xs="12">
      <FormSearchAddNewBtnBar
        v-model="search"
      />
    </v-col>
    <v-col cols="12" xs="12">
      <v-data-table
        :headers="headers"
        :items="items"
        :search="search"
        :loading="$fetchState.pending"
        item-key="_id"
        class="elevation-1"
        :footer-props="{
          'items-per-page-options':[2, 5, 10, -1],
          }"
      >

      <template v-slot:item.name="{ item }">
        <nuxt-link :to="link(item)">  {{ item.name }} {{ item.variationDescription }}</nuxt-link>
      </template>

      <template v-slot:item.download="{ item }">
        <!-- <v-btn @click="downloadFile(item)">Download File </v-btn> -->
        <a :href="item.download" target="_blank">Download File</a>
      </template>


      <template v-slot:no-data>
        No plans or booklets yet.
      </template>

      </v-data-table>
      </v-col>
  </v-row>
</template>

<script>
import { formatDate, formatTime } from 'shared/utils'

export default {

  props: {
    loadFunction: {
      type: Function,
      required: true,
    }
  },

  data () {
    return {
      items: [],

      headers: [
      { text: 'Name', value: 'name' },
      { text: 'SKU', value: 'sku' },
      { text: 'Download', value: 'download', sortable: false },
      ],

      search: null,
    }


  },

  async fetch () {
    this.items = await this.loadFunction()
  },

  filters: {
    formatDate,
  },

  methods: {
    link (item) {
      return `${item.group}/${item.slug}`
    },



    // async downloadFile (item) {
    //   const productId = item._id
    //   let response = await this.$axios.$get(`api/download-product-file/${productId}`, {responseType: 'blob'})
    //   const url = window.URL.createObjectURL(new Blob([response]));
    //   const link = document.createElement('a');
    //   link.href = url;
    //   link.setAttribute('download', item.downloadFilename);
    //   document.body.appendChild(link);
    //   link.click();
    // },
  }
}
</script>
