<template>
  <UserLoginSignUp
    @login="onLogin"
    @goto-sign-up="$router.push({path:'/sign-up'})"
    @goto-reset-password="$router.push({path:'/password-reset'})"
    :error="error"
  />
</template>

<script>
import { parseErrorObj } from 'shared/utils'

export default {
  data () {
    return {
      error: '',
    }
  },

  methods: {
    async onLogin (data) {
      this.error = ""
      const { email, password } = data
      try {
        let token = await this.$auth.loginWith('local', { data: { email, password } })
        this.$router.push({ path: '/' })
      } catch (error) {
        let { statusCode, message } = parseErrorObj(error)
        this.error = statusCode == '404' ? "Invalid email or password" : message
      }
    },
  }
}
</script>
