<template>
  <v-container>
    <v-row>

        <v-data-iterator
          v-model="selected"
          :items="items"
          :single-select="false"
          :options.sync="options"
          :server-items-length="total"
          :loading="$fetchState.pending"
          item-key="_id"
          show-select
          :footer-props="{
            'items-per-page-options':[2, 5, 10, -1],
            }"

        >
        <template v-slot:default="{ items, isExpanded, expand }">
          <v-col cols="12" xs="12">

          <v-card v-for="item in items"
          :key="item._id"
          class="mb-8 pb-4"
          >

          <v-card-title class="flex-column align-start">
            <div class="text-h3">{{ item.createdAt | formatDate('D MMMM YYYY') }}</div>
            <div class="d-flex justify-space-between" style="min-width: 100px; width: 100%;">
              <div class="text-overline">Order number {{ item.no }}</div>
              <div><a target="_blank" :href="`my-account/invoice/${item._id}`">View Invoice</a></div>
            </div>
          </v-card-title>
          <v-card-text class="pb-0">

            <v-list three-line>
    <template v-for="(item, index) in item.items">
      <v-list-item
        :key="item._id"
      >
        <v-list-item-avatar>
          <v-img :src="item.avatar"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-html="item.name" class="cart-item-name"></v-list-item-title>
          <v-list-item-subtitle class="d-flex justify-space-between"><div>{{ item.description }}</div><div>{{ item.total | formatPrice }}</div></v-list-item-subtitle>

        </v-list-item-content>
      </v-list-item>
      <v-divider
        :key="index"
        inset
      ></v-divider>
    </template>
  </v-list>
          </v-card-text>

          <v-card-actions class="justify-end align-center">
            <div class="font-weight-bold pr-4">Total {{ item.total | formatPrice }}</div>
          </v-card-actions>
          </v-card>

          </v-col>
        </template>

        <template v-slot:no-data>
          <div class="pa-12 text--disabled">
            No orders yet.
          </div>
        </template>
        </v-data-iterator>

      </v-row>
  </v-container>
</template>

<script>
import BaseTableForm from 'shared/components/base/TableForm'
import { formatPrice } from 'shared/utils'

export default {
  extends: BaseTableForm,

  props: {
    userId: {
      type: String,
      required: true,
    },
  },

  methods: {
    loadItems (params) {
      return this.$axios.$get(`api/my-orders`, { params: Object.assign(params, { userId: this.userId, sortBy: 'createdAt', sortDesc: true })})
    },
  },

  filters: {
    formatPrice,
  },

  watch: {
    'userId': '$fetch',
  },
}
</script>
