<template>
  <v-card class="pa-8 post-preview-card">
  <v-card-title>
    <nuxt-link :to="`/post/${item.slug}`" class="text-h3 text-decoration-none">{{ item.title }}</nuxt-link>
  </v-card-title>

  <v-card-text>
    <div v-html="previewText">
    </div>
    <div v-if="hasReadMore" class="text-right">
      <nuxt-link :to="`/post/${item.slug}`">Read more</nuxt-link>
    </div>
  </v-card-text>

  <v-divider class="mt-2"/>
  <v-card-actions>
    <v-spacer />

    <span class="caption grey--text font-weight-light" v-if="hasTags">
      <PostTagsList
      :tags="item.tags"
      link="/blog/tag"
      />
    </span>
  </v-card-actions>
</v-card>
</template>

<script>
import trunc from 'trunc-html'

export default {
  props: {
    item: {
      type: Object,
      required: true
    },

    truncSize: {
      type: [String, Number],
      default: 1500,
    }
  },

  computed: {
    hasTags () {
      return this.item.tags && this.item.tags.length
    },

    previewText () {
      if(!this.item.content) return ''
      let { html, text } = trunc(this.item.content, this.truncSize)
      return html
    },

    hasReadMore () {
      if(!this.item.content) return false
      return this.previewText.length != this.item.content.length
    },

  }
}
</script>

<style lang="scss" scoped>
.v-card__text h2 {
  line-height: 1.75em;
}

.post-preview-card a {
  color: var(--v-secondary-base)
}

.post-preview-card a.text-h3 {
  word-break: break-word;
}

</style>
