<template>
  <div class="tag-list">
  <v-icon small alt="tags list" title="tags">mdi-tag-multiple-outline</v-icon>
  <nuxt-link
    v-for="(tag, index) in tags"
    :key="index"
    :to="`${link}/${tag.slug}`"
    class="ml-1 text-decoration-none"
  >
    {{ tag.name }}
  </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    tags: {
      type: Array,
      default: () => []
    },

    link: {
      type: String,
      required: true,
    },
  }
}
</script>
