<template>
<v-card>

  <v-card-text>
  <v-row>
      <v-col cols="12" xs="12">
          <v-text-field
          label="Title"
          v-model="item.title"
          />
      </v-col>

      <v-col cols="12" xs="12">
          <v-textarea
          label="Content"
          v-model="item.content"
          />
      </v-col>
      </v-row>
    </v-card-text>
    <v-toolbar flat><v-spacer></v-spacer><v-btn  @click="$emit('delete-item')" icon small alt="Delete item" title="Delete item"><v-icon small>mdi-delete</v-icon></v-btn></v-toolbar>
  </v-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => ({
        title: '',
        content: '',
      })
    }
  },


}
</script>
