<template>
  <v-combobox
    v-model="selected"
    :items="items"
    :label="label"
    multiple
    :search-input.sync="search"
    :loading="isLoading"
    item-text="name"
    item-value="value"
    hide-selected
    return-object
    chips
    deletable-chips
  ></v-combobox>
</template>
<script>


export default {
  props: {
    tags: {
      type: Array,
      default: () => []
    },

    label: {
      type: String,
      default: "Select a tag or create a new one"
    },

  },

  model: {
    prop: 'tags',
    event: 'change'
  },

  data () {
    return {
      items: [],
      search: null,
      isLoading: false,
    }
  },

  computed: {
    selected: {
      get () {
        return this.tags
      },

      set (val) {
        this.$emit('change', val)
      }
    }
  },

  watch: {
    search: async function (val) {
      this.isLoading = true
      try{
        this.items = await this.$axios.$get('/api/search-tags', {params: {search: val, limit: 10}})
      }catch (error) {
        console.log('error %o ', error)
      } finally {
        this.isLoading = false
      }
    },
  }
}
</script>
