<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this booking type?"
      />
      </v-toolbar>
        <v-card-text>
            <SessionForm
            :item="editedItem"
            :formState="formState"
            :validationUnique="uniqueField"
            :currency="currency"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />

        <FormTimestamp
          v-if="isEditForm"
          :createdAt="editedItem.createdAt"
          :updatedAt="editedItem.updatedAt"
          class="mt-8"
        />

      </v-card-text>
    </template>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'
import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  computed: {
    ...mapState('currency', ['currency']),

    title () {
      return this.isNewForm ? "Add new booking-type" : `Edit booking-type: ${this.editedItem.name}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-booking-type`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        name: '',
        slug: '',
        sku: '',
        type: 'booking-type',
        description: '',
        price: null,
        duration: null,
        bufferBefore: 0,
        bufferAfter: 0,
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/booking-types/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/booking-types`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/booking-types/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/booking-types/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/booking-type-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/booking-types')
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/booking-type-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/booking-types'))
  },
}
</script>
