<template>
  <v-card flat>
    <template v-if="$fetchState.pending">
      <v-card-title>
        loading..
    </v-card-title>
    </template>

    <template v-else>
      <v-toolbar flat>
      <v-toolbar-title v-html="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <FormMenu
        @delete-item="onDeleteItem"
        @new-item="onNewItem"
        :disabled="isNewForm"
        deleteMsg="Delete this user?"
      />
      </v-toolbar>
        <v-card-text>

          <v-tabs
            v-model="tab"
          >
          <v-tab href="#basic">Basic</v-tab>
          <v-tab href="#billingAddress" :disabled="isNewForm">Billing Address</v-tab>

          <v-tab-item value="basic">
            <UserBasicForm
            :item="userBasicData"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            />
          </v-tab-item>


          <v-tab-item value="billingAddress">
            <UserAddressesEditor />
            <!-- <BillingForm
            :item="userBillingAddressData"
            :formState="formState"
            :validationUnique="uniqueProdField"
            @update-item="onUpdateBillingAddress"
            /> -->
          </v-tab-item>
        </v-tabs>

            <!-- <UserForm
            :item="editedItem"
            :formState="formState"
            :validationUnique="uniqueField"
            @add-item="onAddItem"
            @update-item="onUpdateItem"
            @cancel="onCancel"
            /> -->

            <!-- <FormTimestamp
              v-if="isEditForm"
              :createdAt="editedItem.createdAt"
              :updatedAt="editedItem.updatedAt"
              class="mt-8"
            /> -->

      </v-card-text>
    </template>
  </v-card>
</template>

<script>

import ItemEditorMixin from 'shared/components/mixins/ItemEditorMixin'

export default {
  mixins: [ ItemEditorMixin ],

  data () {
    return {
      tab: 'basic',
    }
  },

  computed: {
    title () {
      return this.isNewForm ? "Add new user" : `Edit user:  ${this.editedItem.email}`
    },

    uniqueField () {
      let id = this.itemKey
      return async (val, { field = 'name' }) => {
        try {
          const params = { id: id, value: val, field }
          return this.$axios.$get(`/api/unique-user`, { params })
        } catch (error) {
          console.log('error %o', error)
        }
      }
    },

    userBasicData () {
      let { email, status, role, acceptsMarketing } = this.editedItem
      return { email, status, role, acceptsMarketing }
    },
  },

  methods: {
    getDefaultItem () {
      return {
        email: '',
        status: true,
        role: 'user',
        acceptsMarketing: false,
      }
    },

    async loadItem (id) {
      return this.$axios.$get(`/api/users/${id}`)
    },

    async addItem (item) {
      return this.$axios.$post(`/api/users`, {item})
    },

    async updateItem (item, id) {
      return this.$axios.$put(`/api/users/${id}`, {item})
    },

    async deleteItem (id) {
      return this.$axios.$delete(`/api/users/${id}`)
    },

    onNewItem () {
      this.$nuxt.context.redirect('/user-edit')
    },

    onCancel () {
      this.$nuxt.context.redirect('/users')
    },
  },

  created () {
    this.$on('item-added', (val) => this.$router.push(`/user-edit/${val._id}`))
    this.$on('item-deleted', (val) => this.$nuxt.context.redirect('/users'))
  },
}
</script>
