<template>
  <div class="page">
  <v-container>
    <v-row>
      <v-col>
        <h1 class="text-h1 page-title">Blog</h1>
     </v-col>
     </v-row>

     <v-row>
      <!-- <PagNavFilters
        :search.sync="search"
        :sortBy.sync="sortBy"
        :sortDesc.sync="sortDesc"
        :sortItems="sortByOptions"
      /> -->
    </v-row>

    <v-row>
      <v-col
      cols="12"
      xs="12"
      sm="12"
      md="9"
      >
      <v-row>
        <v-col
          cols="12"
          sm="12"
          md="6"
        >
        <PostPreview
          v-for="p in firstCol"
          :key="p._id"
          :item="p"
          class="mb-8"
        />
      </v-col>

      <v-col
      cols="12"
      sm="12"
      md="6"
      >
        <PostPreview
          v-for="p in secondCol"
          :key="p._id"
          :item="p"
          class="mb-8"
        />
      </v-col>
    </v-row>
  </v-col>

      <v-col sm="12" md="3">
        <SidebarBlog />
      </v-col>
    </v-row>

     <v-row>
       <v-col cols="12">
       <PagNavFooter
        :page="page"
        :link="basePage"
        :total="total"
        :itemsPerPage.sync="itemsPerPage"
        class="mt-4 mb-8"
       />
     </v-col>
     </v-row>
 </v-container>
</div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { isEqual, sanitizePaginationParams } from 'shared/utils'
import PaginationMixin from 'shared/components/mixins/PaginationMixin'

export default {
  mixins: [PaginationMixin],

  head () {
    return {
      title: "Thoughts on bioclimatic and biophilic home architecture",
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'permaculture, bioclimatic house, natural home design, design your own house' },
        { hid: 'description', name: 'description', content: 'Architecture inspired by permaculture, a home to thrive in, in harmony with nature. A series of articles and tutorials on how to design your own sustainable home.' },
      ]
    }
  },

  data () {
    return {
      basePage: '/blog',
      sortByOptions: [
        { text:'Title', value: 'title' },
        { text: 'Last Update', value: 'updatedAt'},
      ],
    }
  },

  async asyncData ({ $axios, params, store, error }) {
    try {
      let options = { ...store.state.pagination.paginationBlog, page: params.page, sortBy: 'createdAt', sortDesc: true } // copy it to avoid directly mutations and set page from page params
      let pageApiUrl = `api/posts`
      options = sanitizePaginationParams(options, process.env.itemsPerPage, process.env.maxItemsPerPage)

      let { items, total } = await $axios.$get(pageApiUrl, { params: options })
      return { items, total, ...options, pageApiUrl }
    } catch (e){
      error(e)
    }
  },

  computed : {
    ...mapState('pagination', {
      staticPagination: 'staticPaginationBlog',
      currentPagination: 'paginationBlog',
    }),

    firstCol () {
      const half = Math.ceil(this.items.length/2)
      return this.items.slice(0, half)
    },

    secondCol () {
      const half = Math.ceil(this.items.length/2)
      return this.items.slice(half)
    },
  },

  methods: {
    ... mapMutations('pagination', {
      updatePaginationOptions: 'updateBlogPagOptions'
    }),
  },

}
</script>
